{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<style type="text/css">
.select2-selection__clear {
   left:-20px;
}
</style>
<div class="pageheader notab">
    <h1 class="pagetitle">Notas de Débito/Crédito</h1>
    <span class="pagedesc">Relación con Clientes</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
<div>
    <form id="printform" name="printform" target="_blank"  action="{{ path("print_ventas_list_notadebcred") }}" method="post">
        <input type="hidden" id="clienteid" name="clienteid"/>
        <input type="hidden" id="fdesde" name="fdesde"/>
        <input type="hidden" id="fhasta" name="fhasta"/>
        <input type="hidden" id="searchterm" name="searchterm"/>
        <input type="hidden" id="datalist" name="datalist"/>
        <button class="stdbtn floatright hidden" type="submit" >Imprimir</button>
    </form>
    <form id="searchform" action="{{ path('ventas_notadebcred') }}" method="get">

        {% include "VentasBundle:Partial:_partial-select2-cliente.html.twig" with { 'allowclear':true }  %}

        <div style="display: inline-block; margin-right: 30px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Fecha: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" />
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" />
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>
    </form>
</div><!-- button -->
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Comprobante</th>
                <th>CAE</th>
                <th>Total</th>
                <th>Usuario</th>
                <th class="nosort actionbutton addbutton">

                    {% if app.session.get('caja_abierta') %}
                        {% if app.user.access(app.session.get('unidneg_id'),'ventas_notadebcred') %}
                            <a class="editar create" href="{{ path('ventas_notadebcred_new') }}">Nueva Nota</a>
                        {% else %} &nbsp;
                        {% endif %}
                    {% else %}
                        {% if  app.user.access(app.session.get('unidneg_id'),'ventas_caja_apertura') %}
                                {% set urlApertura = path('ventas_apertura_new') %}
                                <a href="javascript:void(0)" onclick="aperturaCajaVentas('{{ urlApertura }}','true')" class="btn btn_orange btn_lock" title="Debe abrir la caja para realizar cobros">
                                    <span style="font-size: 14px;">APERTURA DE CAJA</span>
                                </a>
                        {% else %}
                            <div class="external-event" style="background-color:orangered;cursor:pointer" title="Debe abrir la caja para realizar cobros">CAJA CERRADA</div>
                        {% endif %}

                    {% endif %}

                </th>
            </tr>
        </thead>
        <tbody>
           {% for entity in entities %}
            <tr>
                <td><span class="hidden">{{ entity.fecha|date('Ymd') }}</span>{{ entity.fecha|date('d-m-Y') }}</td>
                <td>{{ entity.clienteTxt }}</td>
                <td>
                {% if entity.notaElectronica %}
                    {{ entity.notaElectronica.comprobanteTxt }}
                {% else %}
                    <a href="{{ path('ventas_notadebcred_edit',{ 'id': entity.id }) }}" type="button" class="stdbtn btn_red " title="Facturar">Facturar</a>
                {% endif %}
                </td>
                <td>{{ entity.notaElectronica ? entity.notaElectronica.cae : ''}}</td>
                <td class="alignright"><span style="float:left">{{entity.moneda.simbolo}}</span>{{ entity.montoTotal|number_format(2,',','.') }}</td>
                <td>{{ entity.updatedBy.username }}</td>
                <td class="buttons">
                    {% if app.user.access(app.session.get('unidneg_id'),'ventas_notadebcred') %}
                        <a href="{{ path('ventas_notadebcred_show', { 'id': entity.id }) }}" class="editar btn btnaction btn_folder" title="Ver Nota"></a>
                        {% if entity.notaElectronica %}
                            {% if entity.notaElectronica.cae %}
                            <a href="javascript:void(0)" url="{{ path('ventas_factura_print', { 'id': entity.id, 'entity': 'NotaDebCred' })}}" class="editar btn btnaction btn_print" id="nota{{entity.id}}" title="Imprimir Comprobante"></a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($){

    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});

    var oTable = $('#dyntable2').dataTable();
    oTable.fnSort( [ [0,'desc'],[2,'desc'] ] );

    $('#printform').on('submit',function(){
        $('#clienteid').val($('#selectCliente').val());
        $('#fdesde').val($('#desde').val());
        $('#fhasta').val($('#hasta').val());
        $('#searchterm').val( $('#dyntable2_filter input').val() );
        var datos = [];
        oTable.api().rows( { search:'applied' } ).data().each(function(value, index) {
            var i = value[2].indexOf('</span>');
            if( i >-1 ){
                var fecha = value[2].substr(i+7);
                value[2]=fecha;
            }
            value.splice(5);
            datos[index] = value;
        });
        $('#datalist').val(JSON.stringify(datos));
    });
    const printpdf = '{{printpdf}}';
    if( printpdf ){
      $('#nota'+printpdf).click()
      {# $('.btn_search').click() #}
    }
});
</script>
{% endblock %}