{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}

<div class="pageheader notab">
    <h1 class="pagetitle">Notas de Débito y Crédito
        <span class="floatright fechahora">
            {{entity.fecha|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fecha|date('H:i:s')}}</span> &nbsp; | &nbsp; {{app.user.username}}
        </span>
    </h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% include "AppBundle::notificacion.html.twig" %}
<div class="divForm">
   {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_notadebcred'}}) }}

    <fieldset class="fields" >
        {% include "VentasBundle:Partial:block-cliente.html.twig" %}

        {% include "VentasBundle:Partial:block-moneda.html.twig" %}

        {% include "VentasBundle:Partial:block-formapago.html.twig" %}

    </fieldset>
    <fieldset>

        <div class="datos-cliente" style="display:none" >
            {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente} %}
        </div>

        {% include "VentasBundle:Partial:_partial-datos-cf.html.twig" %}

        <div class="datos-formapago">
            {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}
        </div>
    </fieldset>

    <fieldset class="fields" >
        <div style="display:inline-block; width: 40%">
            <div>
            {{ form_label(form.comprobanteAsociado)  }}
            {{ form_widget(form.comprobanteAsociado,
                {'attr':
                    {'style':'width:90%',
                     'url_autocomplete' : path('get_autocomplete_facturas'),
                     'url_items_comprobante' : path('get_items_comprobante'),
                     'url_tipos_comprobante_valido' : path('get_tipos_comprobante_valido'),
                    }
                })
            }}
            </div>
        </div>
        <div style="display:inline-block; width: 20%;">
            {{ form_row(form.notaElectronica.tipoComprobante) }}
        </div>
        <div style="display:inline-block; width: 10%;">
            {{ form_row(form.periodoAsocDesde, { 'attr': {'class' : 'datepicker'} }) }}
        </div>
        <div style="display:inline-block; width: 10%;">
            {{ form_row(form.periodoAsocHasta, { 'attr': {'class' : 'datepicker'} }) }}
        </div>
    </fieldset>
    <fieldset class="fields" >
        <div style="display:inline-block; width:20%;">
            {{ form_row(form.precioLista) }}
        </div>
        <div style="display:inline-block; width:70%;">
            {{ form_row(form.concepto) }}
        </div>
    </fieldset>


    <fieldset>
        <div style="padding-top: 20px; margin:auto; width: 100%;">
            <div style="text-align:center; color:orangered; font-size:12px;" class="divcarga hidden" >Cargando items de comprobante asociado...</div>
            {{ form_errors(form.detalles) }}
            {% include "VentasBundle:Partial:_partial-detalle.html.twig" %}
        </div>
    </fieldset>

    <fieldset>
        <div style="margin:auto; width: 100%;">
            {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': false, 'showiibb': false } %}
        </div>
    </fieldset>


    <fieldset class="detalle_pago" {% if entity.formaPago.tipoPago == 'CTACTE' %} style="display:none" {% endif %} >
        <div style="display:inline-block; width:85%; margin:10px 0 10px 5%;" >
            <h5>DETALLE DEL PAGO:</h5>
            <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="tabla-pagos stdtable noaction" >
                {% set prototype = form.cobroDetalles.vars.prototype %}
                <tbody data-index="{{form.cobroDetalles | length }}"
                    data-prototype="{% filter escape %}{% include 'VentasBundle:Cobro:prototype.html.twig' with {'item':prototype} %}{% endfilter %}"
                >
                {% for det in form.cobroDetalles %}
                    <tr>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="resumen-pagos stdtable noaction">
                <thead>
                    <tr>
                        <th style="text-align:right">
                            IMPORTE: &nbsp;
                            <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                            <span class="pago" style="font-size:16px" >0</span>.-
                        </th>
                        <th width="150px" class="vueltoTh">
                            CAMBIO: &nbsp;
                            <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                            <span class="vuelto" style="font-size:16px"></span>
                        </th>
                        <th width="30px" style="text-align:center;"><a href="javascript:void(0)" id="linkAddPago" tabindex="0" title="Agregar"><span class="add-item-button">+</span></th>
                    </tr>
                </thead>
            </table>

        </div>
    </fieldset>


    <fieldset>
        <br clear="all" />
        <div class="actionbutton">
            <button class="guardar" id="guardar" type="button">Guardar</span></button>
            <a class="cancelar tabbable" type="button" href="{{ path('ventas_notadebcred')}}">Cancelar</a>
        </div>
    </fieldset>

    {% include "VentasBundle:Partial:_partial-notifmsg.html.twig" %}

    <div name="rest" class="hiddenformrest">{{ form_rest(form) }}</div>
  {{ form_end(form) }}
</div>
</div>
<div id="dialog-tipo" title="Elegir Pago" style="display:none">
<form>
    <button type="button" class="stdbtn btn_black" data-tipo="EFECTIVO">EFECTIVO</button>
    <button type="button" class="stdbtn btn_black" data-tipo="CHEQUE">CHEQUE</button>
    <button type="button" class="stdbtn btn_black" data-tipo="TARJETA">TARJETA</button>
</form>
</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/custom/ventas.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/plugins/jquery.inputmask.js') }}"></script>
<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {
        $('.datepicker').datepicker({
          dateFormat: 'dd-mm-yy',
          onClose: function( selectedDate )
            {
              let desde = $('#ventasbundle_notadebcred_periodoAsocDesde').datepicker( "getDate" )
              let hasta = $('#ventasbundle_notadebcred_periodoAsocHasta').datepicker( "getDate" )
              if( desde && hasta && desde > hasta){
                alert('Controlar el rango de fechas, la fecha desde debe ser menor a la fecha hasta!')
                $('#ventasbundle_notadebcred_periodoAsocHasta').val('')
              }
            }
        });
        $('.datos-cliente').hide();
        $('.datos-cf').show();
        $('#ventasbundle_notadebcred_nombreCliente').attr('required',true);
        $('#ventasbundle_notadebcred_nombreCliente').css('width', '95%');

        $( "#dialog-tipo" ).dialog({
            autoOpen: false,
            height: 100,
            width: 350,
            modal: true
        });

        // confirm on submit
        $('#guardar').on('click', function(){

            if( !$('#ventasbundle_notadebcred_comprobanteAsociado').val() &&
                  (!$('#ventasbundle_notadebcred_periodoAsocDesde').val() || !$('#ventasbundle_notadebcred_periodoAsocHasta').val()))
            {
                alert('Debe indicar un comprobante asociado o un rango de período válido.');
                $('#ventasbundle_notadebcred_comprobanteAsociado').select2('open');
                return false;
            }

            if( $('#tipoPago').val() != 'CTACTE' ){
                if(  $(':invalid').length>0 || vuelto<0 ){
                    alert( 'Completar todos los datos para facturar!' );
                    return false;
                }
            }
            if( $('table.detalle tbody tr.item').length > 0 ){
                if (!confirm('Confirma la generación de la Nota Electrónica?')) {
                    return false;
                }
            }else{  alert('Debe ingresar items a la Nota'); return false;}

            $('#ventasbundle_notadebcred').submit();
        })
       /* $('#ventasbundle_notadebcred').on('submit', function(){

        })*/
    });


});
</script>{% endblock %}