{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Notas de Débito/Crédito de Clientes</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Nota {{entity.notaElectronica.comprobanteTxt}}</h1>
<div class="divEdicion">
    <form action="#" method="post" class="stdform">
        <fieldset >
            <div class="two_fields">
                <div>
                    <label for="nroPedido">Fecha:</label>
                    <input type="text" value="{{entity.fecha|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
                <div >
                    <label for="estado" >Usuario:</label>
                    <input type="text" value="{{entity.createdBy.username}}" disabled="disabled" class="width100">
                </div>
            </div>
            <div><label>Cliente:</label>
                <input type="text" value="{{entity.clienteTxt}}" disabled="disabled" class="smallinput">
                {% if entity.cliente %} &nbsp;&nbsp;<strong>CUIT: {{ entity.cliente.cuit }}</strong> {% endif %}
            </div>

            <div class="two_fields">
                <div><label for="nroPedido">CAE:</label>
                    <input type="text" value="{{entity.notaElectronica.cae}}" disabled="disabled" class="smallinput">
                </div>

                <div><label for="nroPedido">Vto CAE:</label>
                    <input type="text" value="{{entity.notaElectronica.caeVto|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </div>
            <div>
            {% if entity.facturas %}
                    {% set facturas = '' %}
                    {% for factura in entity.facturas %}
                        {% if loop.first %}
                            {% set facturas = factura.comprobanteTxt  %}
                        {% else %}
                            {% set facturas = facturas ~' - '~ factura.comprobanteTxt  %}
                        {% endif %}
                    {% endfor %}
                <div><label>Comprob. Asociados:</label>
                    <input type="text" value="{{facturas}}" disabled="disabled" class="mediuminput">
                </div>
            {% endif %}
            </div>
            <div  class="two_fields">
                <label>Concepto:</label>
                <input type="text" disabled="disabled"  class="mediuminput" value="{{entity.concepto}}">
            </div>

        </fieldset>


        <fieldset>

            <div style="padding-top: 20px; margin:auto; width: 90%;">

                {% include "VentasBundle:Partial:_partial-show-detalle.html.twig" %}

            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 90%;">
                {% set cativa = (entity.cliente.categoriaIva) ? entity.cliente.categoriaIva.nombre : 'C' %}
                {% set showiva = (cativa != 'C') %}
                {% set showiibb = (cativa == 'I') %}
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': showiva, 'showiibb': showiibb } %}

            </div>
        </fieldset>
        <fieldset>

            </div>
            <br clear="all" />
            <div class="actionbutton">
                <a class="cancelar" type="button" href="#" onclick="history.back();">Volver</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}