{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
<style>
.divForm label{
    float:none;
}
</style>
{% endblock %}
<div class="pageheader notab">
    <h1 class="pagetitle">Notas de Débito/Crédito de Clientes</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Nota {{entity.notaElectronica.comprobanteTxt}}</h1>
<div class="divEdicion">
    <form action="#" method="post" class="stdform">
        <fieldset >
            <div class="two_fields">
                <div>
                    <label for="nroPedido">Fecha:</label>
                    <input type="text" value="{{entity.fecha|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
                <div >
                    <label for="estado" >Usuario:</label>
                    <input type="text" value="{{entity.createdBy.username}}" disabled="disabled" class="width100">
                </div>
            </div>
            <div><label>Cliente:</label>
                <input type="text" value="{{entity.clienteTxt}}" disabled="disabled" class="smallinput">
                {% if entity.cliente.consumidorFinal %}
                  &nbsp;&nbsp;<strong>{{entity.tipoDocumentoCliente}} {{ entity.nroDocumentoCliente }}</strong>
                {% else %}
                  &nbsp;&nbsp;<strong>CUIT: {{ entity.cliente.cuit }}</strong>
                {% endif %}
            </div>
            <div class="two_fields">
                <div><label for="nroPedido">CAE:</label>
                    <input type="text" value="{{entity.notaElectronica.cae}}" disabled="disabled" class="smallinput">
                </div>

                <div><label for="nroPedido">Vto CAE:</label>
                    <input type="text" value="{{entity.notaElectronica.caeVto|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </div>
            <div>
            {% if entity.comprobanteAsociado %}
                <div><label>Comprob. Asociado:</label>
                    <input type="text" value="{{entity.comprobanteAsociado.comprobanteTxt}}" disabled="disabled" class="mediuminput">
                </div>
             {% elseif entity.periodoAsocDesde and entity.periodoAsocHasta %}
                <div class="two_fields">
                <div><label>Período Asoc. Desde:</label>
                    <input type="text" value="{{entity.periodoAsocDesde|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>

                <div><label>Hasta:</label>
                    <input type="text" value="{{entity.periodoAsocHasta|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </div>
            {% endif %}
            </div>
            <div  class="two_fields">
                <label>Concepto Adicional:</label>
                <input type="text" disabled="disabled"  class="mediuminput" value="{{entity.concepto}}">
            </div>

        </fieldset>

        <fieldset>
            <div style="padding-top: 20px; margin:auto; width: 90%;">
                {% include "VentasBundle:Partial:_partial-show-detalle.html.twig" %}
            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 90%;">
                {% set cativa = (entity.cliente.categoriaIva) ? entity.cliente.categoriaIva.nombre : 'C' %}
                {% set showiva = (cativa != 'C') %}
                {% set showiibb = (cativa == 'I') %}
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': showiva, 'showiibb': showiibb } %}

            </div>
        </fieldset>
          <div class="divForm" >
            {% include "VentasBundle:CobroVenta:_partial-show-detalle-pago.html.twig" with { 'cobroDetalles': entity.cobroDetalles, 'montoTotal': entity.montoTotal } %}
          </div>
            {% include "VentasBundle:FacturaElectronica:info-banner.html.twig" with {'fe':entity.notaElectronica, 'id':entity.id, 'entity': 'NotaDebCred'} %}

            </div>
            <br clear="all" />
            <div class="actionbutton">
                <a class="cancelar" type="button" href="{{ path('ventas_notadebcred') }}" >Volver</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}