{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
<style>
.divForm label{
    float:none;
}
</style>
{% endblock %}
<div class="pageheader notab">
    <h1 class="pagetitle">Notas de Débito/Crédito de Clientes</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Nota {{entity.notaElectronica.comprobanteTxt}}</h1>
<div class="divEdicion">
    <form action="#" method="post" class="stdform">
        <fieldset >
            <div class="two_fields">
                <div>
                    <label for="nroPedido">Fecha:</label>
                    <input type="text" value="{{entity.fecha|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
                <div >
                    <label for="estado" >Usuario:</label>
                    <input type="text" value="{{entity.createdBy.username}}" disabled="disabled" class="width100">
                </div>
            </div>
            <div><label>Cliente:</label>
                <input type="text" value="{{entity.clienteTxt}}" disabled="disabled" class="smallinput">
                {% if entity.cliente %} &nbsp;&nbsp;<strong>CUIT: {{ entity.cliente.cuit }}</strong> {% endif %}
            </div>

            <div class="two_fields">
                <div><label for="nroPedido">CAE:</label>
                    <input type="text" value="{{entity.notaElectronica.cae}}" disabled="disabled" class="smallinput">
                </div>

                <div><label for="nroPedido">Vto CAE:</label>
                    <input type="text" value="{{entity.notaElectronica.caeVto|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </div>
            <div>
            {% if entity.comprobanteAsociado %}
                <div><label>Comprob. Asociado:</label>
                    <input type="text" value="{{entity.comprobanteAsociado.comprobanteTxt}}" disabled="disabled" class="mediuminput">
                </div>
             {% elseif entity.periodoAsocDesde and entity.periodoAsocHasta %}
                <div class="two_fields">
                <div><label>Período Asoc. Desde:</label>
                    <input type="text" value="{{entity.periodoAsocDesde|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>

                <div><label>Hasta:</label>
                    <input type="text" value="{{entity.periodoAsocHasta|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </div>
            {% endif %}
            </div>
            <div  class="two_fields">
                <label>Concepto Adicional:</label>
                <input type="text" disabled="disabled"  class="mediuminput" value="{{entity.concepto}}">
            </div>

        </fieldset>


        <fieldset>

            <div style="padding-top: 20px; margin:auto; width: 90%;">

                {% include "VentasBundle:Partial:_partial-show-detalle.html.twig" %}

            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 90%;">
                {% set cativa = (entity.cliente.categoriaIva) ? entity.cliente.categoriaIva.nombre : 'C' %}
                {% set showiva = (cativa != 'C') %}
                {% set showiibb = (cativa == 'I') %}
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': showiva, 'showiibb': showiibb } %}

            </div>
        </fieldset>

       <fieldset class="detalle_pago" {% if entity.formaPago.tipoPago == 'CTACTE' %} style="display:none" {% endif %} >
            <div style="display:inline-block; width:85%; margin:10px 0 10px 5%;" >
                <h5>DETALLE DEL PAGO:</h5>
                <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="tabla-pagos stdtable noaction" >
                    <tbody>
                    {% set importe = 0 %}
                    {% for det in entity.cobroDetalles %}
                        {% set importe = importe + det.importe %}
                        {% if det.tipoPago == 'EFECTIVO' %}
                            <tr class="item">
                                <td class="monedaTd" style="text-align:right;">
                                    <label>EFECTIVO: </label>
                                </td>
                                <td class="importeTd alignright" width="160px">
                                    <span style="font-size:16px;font-weight:bold">{{ det.moneda.simbolo }} {{ det.importe|number_format(3,'.',',') }}</span>
                                </td>
                            </tr>
                        {% endif %}
                        {% if det.tipoPago == 'CHEQUE' %}
                            <tr class="item">
                                <td class="chequeTd" style="font-size:11px">
                                    <div style="margin:5px 0">
                                        <label>CHEQUE N°</label>
                                        <span>{{ det.chequeRecibido.nroCheque }}</span>
                                        <label>Fecha:</label>
                                        <span>{{ det.chequeRecibido.fecha|date('d-m-Y') }}</span>
                                        <label>Dador:</label>
                                        <span>{{ det.chequeRecibido.dador }}</span>
                                        <label>Banco:</label>
                                        <span>{{ det.chequeRecibido.banco }}</span>
                                        <label>Sucursal:</label>
                                        <span>{{ det.chequeRecibido.sucursal }}</span>
                                    </div>
                                </td>
                                <td class="importeTd alignright" width="160px">
                                    <span style="font-size:16px;font-weight:bold">{{ det.moneda.simbolo }} {{ det.importe|number_format(3,'.',',') }}</span>
                                </td>
                            </tr>
                        {% endif %}
                        {% if det.tipoPago == 'TARJETA' %}
                            <tr>
                                <td class="tarjetaTd" style="font-size:11px">
                                    <div class="divForm" style="margin:5px 0">
                                        <label>TARJETA:</label>
                                        <span>{{ det.datosTarjeta.tarjeta }}</span>
                                        <label>Número: </label>
                                        <span>{{ det.datosTarjeta.numero }}</span>
                                        <label>Cupón: </label>
                                        <span>{{ det.datosTarjeta.cupon }}</span>
                                        <label>Cuotas: </label>
                                        <span>{{ det.datosTarjeta.cuota }}</span>
                                        <label>Código Autorización: </label>
                                        <span>{{ det.datosTarjeta.codigoAutorizacion }}</span>
                                    </div>
                                    {% if det.datosTarjeta.firmante %}
                                    <div style="margin:5px 0">
                                        <label>Firmante: </label>
                                        <span>{{ det.datosTarjeta.firmante }}</span>
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="importeTd alignright" width="160px">
                                    <span style="font-size:16px;font-weight:bold">{{ det.moneda.simbolo }} {{ det.importe|number_format(3,'.',',') }}</span>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="resumen-pagos stdtable noaction">
                    <thead>
                        <tr>
                            <th style="text-align:right">
                                IMPORTE: &nbsp;
                                <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                                <span class="pago" style="font-size:16px" >{{importe|number_format(3,'.',',')}}</span>.-
                            </th>
                            <th width="150px" class="vueltoTh">
                                CAMBIO: &nbsp;
                                <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                                <span class="vuelto" style="font-size:16px"> {{ (importe-entity.montoTotal)|number_format(2,'.',',')}}  </span>
                            </th>
                        </tr>
                    </thead>
                </table>

            </div>
        </fieldset>

<fieldset style="padding:10px 0;margin:10px 0 10px 0; width: 100%; background-color:khaki; text-align:center;">

        <div class="divForm" style="display:inline-block; width: 40%;">
            <label>{{ entity.notaElectronica.comprobanteTxt }} | Cae: {{ entity.notaElectronica.cae }} | VtoCae: {{ entity.notaElectronica.caeVto|date('d-m-Y') }} </label>
        </div>

    </fieldset>

        <fieldset>

            </div>
            <br clear="all" />
            <div class="actionbutton">
                <a class="cancelar" type="button" href="{{ path('ventas_notadebcred') }}" >Volver</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}