<div style="overflow-x: scroll">
    <style>
        table.retenciones tbody, table.retenciones thead,table.retenciones tfoot{
            display: block;
        }
        table.retenciones tbody {
            overflow-y: scroll;
            height: 240px;
        }
        table.retenciones thead tr th {
            font-weight: normal;
            background-color: gainsboro;
            color: #666;
            border-right: 1px solid #eee;
            padding: 0px 10px;
        }
    </style>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable datosafip retenciones" id="afip-retenciones">
        <thead>
            <tr style="background-color: gainsboro">
                <th><span style="width:120px;display: block;">Código de Comprobante</span></th>
                <th><span style="width:90px;display: block;">Fecha de Emisión</span></th>
                <th><span style="width:100px;display: block;">N° de Comprobante</span></th>
                <th><span style="width:105px;display: block;">Importe comprobante</span></th>
                <th><span style="width:98px;display: block;">Código de impuesto</span></th>
                <th><span style="width:93px;display: block;">Código de régimen</span></th>
                <th><span style="width:102px;display: block;">Código de operación</span></th>
                <th><span style="width:100px;display: block;">Base Cálculo</span></th>
                <th><span style="width:95px;display: block;">Fecha de retención</span></th>
                <th><span style="width:100px;display: block;">Código de condición</span></th>
                <th><span style="width:162px;display: block;">Retención a sujetos suspendidos</span></th>
                <th><span style="width:101px;display: block;">Importe de retención</span></th>
                <th><span style="width:117px;display: block;">Porcentaje de exclusión</span></th>
                <th><span style="width:108px;display: block;">Fecha emisión boletín</span></th>
                <th><span style="width:139px;display: block;">Tipo documento del retenido</span></th>
                <th><span style="width:131px;display: block;">N° documento del retenido</span></th>
            </tr>
            </thead>
        <tbody>
            {% for item in resultado.retenciones %}
                <tr>
                    <td><span style="width:120px;display: block;"> {{ item.codcomp }} </span></td>
                    <td><span style="width:90px;display: block;"> {{ item.fechaemision }} </span></td>
                    <td><span style="width:100px;display: block;"> {{ item.nrocomp }} </span></td>
                    <td><span style="width:105px;display: block;"> {{ item.importecomp }} </span></td>
                    <td><span style="width:98px;display: block;"> {{ item.codimpuesto }} </span></td>
                    <td><span style="width:93px;display: block;"> {{ item.codregimen }} </span></td>
                    <td><span style="width:102px;display: block;"> {{ item.codoperc }} </span></td>
                    <td><span style="width:100px;display: block;"> {{ item.basecalculo }} </span></td>
                    <td><span style="width:95px;display: block;"> {{ item.fecharetencion }} </span></td>
                    <td><span style="width:100px;display: block;"> {{ item.codcondicion }} </span></td>
                    <td><span style="width:162px;display: block;"> {{ item.retsujsusp }} </span></td>
                    <td><span style="width:101px;display: block;"> {{ item.importe }} </span></td>
                    <td><span style="width:117px;display: block;"> {{ item.porcexclusion }} </span></td>
                    <td><span style="width:108px;display: block;"> {{ item.fechaboletin }} </span></td>
                    <td><span style="width:139px;display: block;"> {{ item.tipodoc }} </span></td>
                    <td><span style="width:131px;display: block;"> {{ item.nrodoc }} </span></td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

</div>
<div>
    <h5 style="text-align:center; margin:10px;"> {{ resultado.retenciones|length }} retenciones en RE{{periodo|replace({'-':''})}}.txt
        <a class="btn btn2 btn_blue btn_inboxi" style="margin-left: 10px;font-weight: lighter;" href="{{ path('retencion_export_txt') }}?periodo={{ periodo }}&tipo={{ tipo }}&file=RET" > <span>Descargar</span> </a></h5>
</div>
