{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<style>
    .inputerror{
        background-color: mistyrose !important;
        font-weight: bold;
    }
</style>
<div class="pageheader notab">
    <h1 class="pagetitle">Retenciones de Ganancias</h1>
    <span class="pagedesc">Impuestos</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}
<div id="contentwrapper" class="contentwrapper">

    <div class="" style="margin-bottom: 15px;">
        <form action="{{ path }}" method="GET">
            <div style="display: inline-block; margin-right: 30px;">
                <label><strong>Período:</strong></label>
                <input name="fecha_desde" required="required" class="datepicker" tabindex="2" type="text" value="{{desde}}">
                <input name="fecha_hasta" required="required" class="datepicker" tabindex="2" type="text" value="{{hasta}}">
            </div>
            <button type="submit" >Buscar</button>
            <button type="button" id="print-pdf" style="float: right;margin-right: 20px;">Imprimir</button>            
        </form>
    </div>

    <div id="tabs" class="">
        <ul>
            <li><a href="#tabs-1">RETENCIONES</a></li>
            <li><a href="#tabs-2">SUJETOS</a></li>
        </ul>
        <div id="tabs-1">
            {% set tempret = 'ComprasBundle:Retenciones:_partial-retenciones.html.twig' %}
            {% include tempret %}
        </div>
        <div id="tabs-2">
           {% set tempsuj = 'ComprasBundle:Retenciones:_partial-sujetos.html.twig' %}
            {% include tempsuj %}
        </div>
    </div><!--#tabs-->


</div>

{% endblock %}
{% block extra_javascripts %}
    {{ parent() }}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.ui-tabs-panel').css('padding','0');
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    $('.togglemenu').click();
    $('#print-pdf').on('click',function(){
        window.open("{{path('compras_retencionganancias_pdf')}}?"+$('form').serialize());
    })
});

</script>
{% endblock %}