{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
	<div class="pageheader notab">
		<h1 class="pagetitle">Administraci칩n de Usuarios</h1>
	</div>
	<!--pageheader-->
{% endblock %}

{% block contentwrapper %}
	<div id="contentwrapper" class="contentwrapper">
		<h1 id="popup_title">{{ (entity.id) ? 'Editar datos de '~entity.username : 'Alta de Nuevo Usuario' }}</h1>
		{% include "AppBundle::notificacion.html.twig" %}
		<div class="divEdicion">
			{{ form_start(form, {'attr': {'class': 'quickform'}}) }}

			<fieldset>
				<div class="one_half">
					<p>
						{{ form_label(form.username) }}
						{{ form_widget(form.username, { 'attr': {'class' : 'smallinput uppercase' } }) }}
						{{ form_errors(form.username) }}
					</p>
					<p>
						{{ form_label(form.nombre) }}
						{{ form_widget(form.nombre, { 'attr': {'class' : 'mediuminput capitalize' } })  }}
						{{ form_errors(form.nombre) }}
					</p>
					<p>
						{{ form_label(form.dni) }}
						{{ form_widget(form.dni, { 'attr': {'class' : 'mininput'} }) }}
						{{ form_errors(form.dni) }}
					</p>

				</div>
				<!--one_half -->
				<div class="one_half last">
					<p>
						{{ form_label(form.email) }}
						{{ form_widget(form.email, { 'attr': {'class' : 'smallinput' ,'autocomplete':'off' } }) }}
						{{ form_errors(form.email) }}
					</p>
					{{ form_widget(form.password) }}
					{% if entity.id %}
						<div style="margin-left: 20%;">
							<span class="information"></span>
							<small class="input-notification desc">Dejar en blanco si no desea cambiar su contrase침a</small>
						</div>
						{%endif%}
					</div>
					<!--one_half last -->
					<br clear="all"/>

					<div class="widgetbox">
						<div class="title">
							<h3>Unidades de Negocio</h3>
						</div>
						<div class="widgetcontent">

							<table cellpadding="0" cellspacing="0" border="0" class="stdtable">
								<thead>
									<tr>
										<th style="width:30%">Unidad de Negocio</th>
										<th style="width:40%">Dep칩sitos</th>
										<th style="width:40%">Puntos de Venta</th>
										<th style="width:25%">Perfil</th>
										<th style="width:5%; text-align: center">
											<a href="javascript:void(0);" id="linkAdd" title="Agregar"><img src="{{asset('assets/images/icons/add.png')}}"/></a>
										</th>
									</tr>
								</thead>
								<tbody data-index="{{form.rolesUnidadNegocio | length }}" data-prototype="{% filter escape %}{% include 'ConfigBundle:Usuario:prototype.html.twig' with {'item':form.rolesUnidadNegocio.vars.prototype} %}{% endfilter %}">
									{% for rolxunid in form.rolesUnidadNegocio %}
										<tr class="item">
											<td>{{form_widget(rolxunid.unidadNegocio)}}</td>
											<td>{{form_widget(rolxunid.depositos, { 'attr': {'class' : 'select2' } })}}</td>
											<td>{{form_widget(rolxunid.puntosVenta, { 'attr': {'class' : 'select2' } })}}</td>
											<td>{{form_widget(rolxunid.rol)}}</td>
											<td class="delTd" style="text-align:center;"></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>

						</div>
						<!--widgetcontent-->
					</div>
					<!--widgetbox-->

					<div class="actionbutton">
						<button class="guardar" type="submit">Guardar</button>
						<a class="cancelar" type="button" href="{{ path('sistema_seguridad_usuario')}}">Cancelar</a>
					</div>
				</fieldset>
				{{ form_end(form) }}
			</div>
		</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $collectionHolder = $('table.stdtable tbody');
        $collectionHolder.find('.delTd').each(function () {
            addItemFormDeleteLink($(this));
            });

        $collectionHolder.find('select.select2').each(function () {
            unidad = $(this).parent().siblings('td').find('[id$="_unidadNegocio"]').val();
            changeSelect( $(this), unidad );
        });

        $(document).on('change', '[id$="_unidadNegocio"]', function (e) {
            depositos = $(this).parent().siblings('td').find('[id$="_depositos"]');
            depositos.val(null).trigger("change");
            changeSelect(depositos, $(this).val());
            puntos = $(this).parent().siblings('td').find('[id$="_puntosVenta"]');
            puntos.val(null).trigger("change");
            changeSelect(puntos, $(this).val());
        });

        $('#linkAdd').on('click', function (e) {
            e.preventDefault();
            addNewItem();
            e.stopPropagation();
        });

        $('#configbundle_usuario_username').blur(function () {
            $('#configbundle_usuario_email').val($(this).val().toLowerCase() + '@mail.com');
            });
    });
function changeSelect(select, unidadNegocio) {
    url = ( select.attr('id').includes('depositos') ) 
            ? '{{ path('autocomplete_depositos') }}?unidneg_id=' 
            : '{{ path('autocomplete_puntosventa') }}?unidneg_id=';
    select.select2({
        placeholder: 'Seleccione una opci칩n',
        ajax: {
        url: url + unidadNegocio,
        dataType: 'json',
        delay: 250,
        processResults: function (data) {
            return {results: data};
        },
        cache: true
        }
    });
    jQuery('.select2.select2-container').css('width', '200px');
}

// funciones personalizas para el formulario
function addNewItem() {
    var prototype = $collectionHolder.data('prototype');
    var index = $collectionHolder.data('index');
    var newForm = prototype.replace(/items/g, index);
    $collectionHolder.append(newForm);
    $collectionHolder.data('index', index + 1);
    addItemFormDeleteLink($collectionHolder.find('.delTd').last());
    var chk = $collectionHolder.find('input:checkbox').last();
    chk.prop('checked', true);
    chk.uniform();
    $collectionHolder.find('[id$="_unidadNegocio"]').last().change();
}
function addItemFormDeleteLink($itemFormTd) {
    var $removeFormA = jQuery('<a href="#" title="Quitar" tabIndex="-1" class="delete btn btnaction btn_trash"></a>');
    $itemFormTd.append($removeFormA);
    $removeFormA.on('click', function (e) {
        var res = true;
        res = confirm('Desea eliminar este item?');
        if (res) {
            e.preventDefault();
            $itemFormTd.parent().remove();
        }
    });
}
</script>
{% endblock %}