<p><b> PROVEEDOR: </b> <span>{{ proveedor.nombre }}</span></p>
<p><b> Periodo: </b> <span>{{ periodo }}</span></p>
<hr>
<p><b> Ac. Pago DGI: </b> <span>$ {{ acPagoDgi|number_format(2,'.',',') }}</span></p>
<p><b> Ac. Retención DGI: </b> <span>$ {{ acRetDgi|number_format(2,'.',',') }}</span></p>
<p><b> Ac. Pago DGR: </b> <span>$ {{ acPagoDgr|number_format(2,'.',',') }}</span></p>
<p><b> Ac. Retención DGR: </b> <span>$ {{ acRetDgr|number_format(2,'.',',') }}</span></p>
