{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
    <div
        class="pageheader notab">
        <h1
            class="pagetitle">Administración de Proveedores</h1>
    </div>
    <!--pageheader-->
{% endblock %}

{% block contentwrapper %}
    <div
        id="contentwrapper"
        class="contentwrapper">
        <h1
            id="popup_title">{{ (entity.id) ? 'Editar datos de '~entity.nombre|upper : 'Alta de Nuevo Proveedor' }}</h1>
        {% include "AppBundle::notificacion.html.twig" %}
        <div class="divEdicion">
                {{ form_start(form, {'attr': {'class': 'stdform'}}) }}

            <fieldset>
                <p>
                    {{ form_row(form.nombre, { 'attr': {'class' : 'mediuminput'  } }) }}
                </p>
                <p>
                    {{ form_row(form.direccion, { 'attr': {'class' : 'mediuminput'  } }) }}
                </p>
                <div
                    class="locate">
                    {{ form_row(form.pais, { 'attr': {'class' : 'uniformselect'  } }) }}
                    {{ form_row(form.provincia, { 'attr': {'class' : 'uniformselect'  } }) }}
                    {{ form_row(form.localidad, { 'attr': {'class' : 'uniformselect'  } }) }}
                </div>
                <p>
                    {{ form_label(form.telefono) }}
                    {{ form_widget(form.telefono, { 'attr': {'class' : 'smallinput' } })  }}
                    {{ form_errors(form.telefono) }}
                </p>
                <p>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, { 'attr': {'class' : 'smallinput' ,'autocomplete':'off' } }) }}
                    {{ form_errors(form.email) }}
                </p>
                <p>
                    {{ form_row(form.representanteLocal, { 'attr': {'class' : 'smallinput'  } })  }}
                </p>
                <p>
                    {{ form_row(form.representanteSede, { 'attr': {'class' : 'smallinput'  } }) }}
                </p>

                <div
                    class="two_fields">
                    {{ form_row(form.categoria_iva, { 'attr': {'class' : 'uniformselect'  } })  }}
                    {{ form_row(form.categoriaRentas, { 'attr': {'class' : 'uniformselect'  } }) }}
                </div>
                <div
                    class="two_fields">
                    {{ form_row(form.cuit, { 'attr': {'class' : 'smallinput'  } }) }}
                    {{ form_row(form.iibb, { 'attr': {'class' : 'smallinput'  } }) }}
                </div>
                <div
                    class="two_fields">
                    {{ form_row(form.actividadComercial, { 'attr': {'class' : 'uniformselect'  } }) }}
                    {{ form_row(form.rubroCompras, { 'attr': {'class' : 'uniformselect'  } }) }}
                </div>
                <div
                    class="venc-cert three_fields">
                    {{ form_row(form.vencCertNoRetenerRentas, { 'attr': {'class' : 'datepicker'  } }) }}
                    {{ form_row(form.vencCertExcepcionGanancias, { 'attr': {'class' : 'datepicker'  } }) }}
                </div>
                <p>
                    {{ form_row(form.observaciones, { 'attr': {'class' : 'mediuminput' } }) }}
                </p>
                <div
                    class="locate">
                    {{ form_row(form.saldoInicial, { 'attr': {'class' : 'width50' } }) }}
                    {{ form_row(form.cuenta, { 'attr': {'class' : 'smallinput'  } }) }}
                    {{ form_row(form.activo) }}
                </div>
                <br
                    clear="all"/>
                <div
                    class="actionbutton">
                    <button
                        class="guardar"
                        type="submit">Guardar</button>
                    <a
                        class="cancelar"
                        type="button"
                        href="{{ path('compras_proveedor')}}">Cancelar</a>
                </div>
            </fieldset>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block extra_javascripts %}
    {% include "ComprasBundle::block-locate-js.html.twig" %}
    <script type="text/javascript">
        jQuery(document).ready(function($) {    					    
            $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
});
</script>
{% endblock %}


