{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Pago del Proveedor: {{entity.proveedor.nombre}}</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Pago Nº {{entity.nroPago}}</h1>
<div class="divEdicion">
    <form action="#" method="post" class="stdform">
        <fieldset >
            <div class="two_fields">
                <div><label for="nroFactura">Nº Pago:</label>
                    <input type="text" value="{{entity.nroPago}}" disabled="disabled" class="width100">
                </div>
                <div><label for="nroComprobante">Comprobante</label>
                    <input type="text" value="{{entity.nroComprobante}}" disabled="disabled" class="width100">
                </div>
            </div>
            <p><div><label for="proveedor">Proveedor:</label>
                    <input type="text" value="{{entity.proveedor}}" disabled="disabled" class="smallinput">
                </div>
            </p>
            <p><div><label for="fecha">Fecha Pago:</label>
                    <input type="text" value="{{entity.fecha|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </p>
            <p>
            <div><label for="concepto">Facturas:</label>
                <textarea class="mediuminput" disabled="disabled">{{entity.conceptoTxt}}</textarea>

                </div>
            </p>
            <p><div><label for="detalle">Detalle:</label>
                <textarea class="mediuminput" disabled="disabled">{{entity.detalle}}</textarea>
                </div>
            </p>

            <div class="actionbutton">
                <a target="_blank" href="{{ path('compras_pago_print', { 'id': entity.id }) }}" class="cancelar" title="Imprimir Pago">Imprimir</a>
                <a class="cancelar" type="button" href="javascript:void(0)" onclick="history.back();">Volver</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}