{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Despacho de Mercaderías</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
<form class="deposito_selector" id="searchform" action="{{ path('stock_despacho') }}" method="get">
        <div style="display: inline-block; margin:10px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>DEPÓSITO:</strong></label>
            <select class="uniformselect" id="selectDeposito" name="depId">
            {% for dep in depositos %}
                <option value="{{dep.id}}" {% if dep.id==depId %} selected="selected" {% endif %}> {{dep.empresaUnidadDeposito}}</option>
            {% endfor %}
            </select>  
        </div>    
        <div style="display: inline-block; margin:10px;">     
            &nbsp;&nbsp;&nbsp;
            <label><strong>Período: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{periodo.desde}}" name="desde" id="desde" /> 
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{periodo.hasta}}" name="hasta" id="hasta" /> 
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>        
    </form>            
    
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Nº</th>
                <th>Destino</th>
                <th>Estado</th>
                <th class="nosort actionbutton addbutton">
                    {% if app.user.access(app.session.get('unidneg_id'),'stock_despacho_new') %}
                    <a class="editar create" href="{{ path('stock_despacho_new') }}" title="Nuevo">Nuevo Despacho</a>
                    {% else %} &nbsp; {% endif %}                     
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %} 
            <tr>
                <td><span class="hidden">{{ entity.fechaDespacho|date('Ymd') }}</span> {{ entity.fechaDespacho|date('d-m-Y') }}</td>
                <td>{{ entity.nroDespacho}}</td>
                <td>{{ entity.depositoDestino.empresaUnidadDeposito }}</td>
                <td {% if entity.hayInconsistencia %} style="color:red" title="Posible Inconsistencia en stock" {% endif %}>{{ entity.estado }}</td>
                <td class="buttons">
                    <a href="{{ path('stock_despacho_show', { 'id': entity.id }) }}" class="editar btn btnaction btn_folder" title="Ver" ></a>&nbsp;
                    <a href="javascript:void(0)" url="{{ path('stock_despacho_print', { 'id': entity.id }) }}" class="editar btn btnaction btn_print" title="Imprimir"></a>&nbsp;
                    {% if app.user.access(app.session.get('unidneg_id'),'stock_despacho_new') and entity.estado=='NUEVO' %}
                    <a href="{{ path('stock_despacho_edit', { 'id': entity.id }) }}" class="editar btn btnaction btn_pencil" title="Editar" ></a>&nbsp;
                    {% endif %}
                    {% if app.user.access(app.session.get('unidneg_id'),'stock_despacho_delete') and entity.estado=='NUEVO' %}
                      <a href url="{{ path('stock_despacho_delete', { 'id': entity.id }) }}" class="delete btn btnaction btn_trash" title="Borrar"></a>
                    {% endif %}
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>     
</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($){
     var oTable = $('#dyntable2').dataTable();
     oTable.fnSort( [ [0,'desc'],[1,'desc'] ] );
    $('#selectDeposito').change(function(){ 
        $('#searchform').submit();
    }); 
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});   
});
</script>    
{% endblock %}