{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Despachos</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Recepción de Mercaderías</h1>
{% include "AppBundle::notificacion.html.twig" %}

<div style="padding-top: 10px; ">
    {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        {{ form_errors(form) }}
        <fieldset >
            <div class="two_fields nroEmbarque">
                <div><label for="nroFactura" >Despacho Nº:</label>
                    <input type="text" value="{{ entity.nroDespacho }}" disabled="disabled" class="width100">
                </div>
                <div><label for="nroPedido">Fecha:</label>
                    <input type="text" value="{{entity.fechaDespacho|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </div> 
            <div class="two_fields">
                <div><label for="unidadNegocio">Origen del Despacho:</label>
                    <input type="text" value="{{entity.depositoOrigen.empresaUnidadDeposito}}" disabled="disabled" class="mediuminput">
                </div>
                <div><label for="unidadNegocio">Destino:</label>
                    <input type="text" value="{{entity.depositoDestino.empresaUnidadDeposito}}" disabled="disabled" class="mediuminput">
                </div>
            </div> 
             {% if entity.observDespacho%}
             <div>
                 <label>Observaciones del Despacho:</label>
                 <textarea class="mediuminput" rows="1">{{entity.observDespacho}}</textarea>
            </div>      
              {% endif %}
        </fieldset >   
        <hr style="border:1px solid #eee;">
        <fieldset >
            <div  class="two_fields">
                {{ form_row(form.fechaEntrega, { 'attr': {'class' : 'datepicker','tabindex':'2'} }) }} 
                 {{ form_row(form.despachoRecibido,{'label': 'Registrar la recepción ','label_attr':{'class':'infoicon' ,'style':'width:150px','title':'Hasta que no se marque el despacho no será visible para el Depósito Destino'},'attr': {'title':'Hasta que no se marque no se ingresarán las mercaderías al stock'}  }) }}
            </div>  
            <div>
                    {{ form_label(form.observRecepcion,'Observaciones:') }}
                    {{ form_widget(form.observRecepcion, { 'attr': {'class' : 'mediuminput'} }) }}
                </div> 
        </fieldset > 
                      
<div id="detemb">
                    <h4 style="margin:10px">DETALLE DE LA ORDEN DE DESPACHO</h4>
                    <table style="width:90%;margin: 0 auto;" cellpadding="0" cellspacing="0" border="0" class="stdtable" id="detalle">
                        <thead>
                            <tr>
                                <th class="head0" style="width:3%;">#</th>
                                <th class="head0">Producto</th>
                                <th style="width:12%;">Solicitado</th>
                                <th style="width:12%;">Despachado</th>
                                <th style="width:12%;">Recibido</th>
                                <th style="width:1%;" colspan="2"></th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% for item in entity.detalles %}
                                {% include "AppBundle:Despacho:tr_item_recepcion.html.twig" %}                                
                            {% endfor %}           
                        </tbody>                            
                        <tfoot>
                            <tr>
                                <th colspan="5"></th>
                                <th colspan="2" style="text-align:center;">
                                    <a href="javascript:void(0)" id="linkAdd" data-url="{{path('stock_render_item_despacho')}}" title="Agregar"><img src="{{asset('assets/images/icons/add.png')}}" /></a>
                                </th>
                            </tr>
                        </tfoot>
                    </table>     

                </div>          

            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('stock_despacho_recepcion')}}">Cancelar</a>
            </div>
        </fieldset>
        <div name="rest" style="display:block">{{ form_rest(form) }}</div>
      {{ form_end(form) }}
</div>    

</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">

jQuery(document).ready(function($){
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    $('#detalle').find('.ordTd').each(function(index) {
        $(this).html(index+1);
    });
// Previene submit al enter y evento en el +
    $(document).keypress(function(e) {
        if (e.which == 43) { 
            e.preventDefault();
            $('#linkAdd').click();
        }
        if(e.which == 13){
            $('.additem').click();
        }
    });
    // guardar 
    $('.guardar').click(function() {  
        if($('table td').hasClass('red')){
            alert('Alguno de los productos exede el stock actual');
            return false;
        }
        if( $('#appbundle_recepcion_despachoRecibido').is(':checked')){
            if( $('tbody tr.item').length > 0 ){
                if (!confirm('Confirma la recepción del despacho e ingreso de la mercadería?')) {
                    return false;
                }
            }else{
                alert('Debe ingresar items al despacho para enviar!'); return false;
            }
        }
    });
    // Marcar como no recibido
    $(document).on('click','.delTd', function(e) {
        var res = true;
        res = confirm('Registrar como no recibido?');
        if (res) {
            e.preventDefault();
            id = $(this).data('id');
            tr = $(this).parent().parent();
          // Eliminar item
          $.post( "{{path('stock_item_despacho_noentregado')}}" , {'id':id},function(data){
            if(data==='OK'){
                tr.find('.recTd').html('--');
                //reordenar nros
                $('#detalle').find('.ordTd').each(function(index) {
                  $(this).html(index+1);
                });
            }else{
                alert( 'error '+data.msg );
            }
        } ).fail(function() {
           alert( "No se ha podido registrar. Intente nuevamente." );
         });
        }
    });    
 // EDITAR ITEM    
    $(document).on('click','.editTd',function(){
        var partialurl =  $(this).data('url'); 
        var actionurl = $(this).data('actionurl'); 
        var tr = $(this).parent().parent();
        $('#popup').dialog('open');
        $('#popup')
            .html('<div class="loaders" style="width: 100%;text-align: center;margin-top: 10px;"><img src="{{asset('assets/images/loaders/loader1.gif')}}" alt="" /></div>')
            .load(partialurl, function() {
                var form = $("[name='appbundle_recepciondetalle']");                
                form.find("#appbundle_recepciondetalle_bulto").uniform();
                form.find("#appbundle_recepciondetalle_bulto").change(function () {
                    changeBulto($(this));
                });
                form.find("#appbundle_recepciondetalle_bulto").change();
                form.find('#appbundle_recepciondetalle_cantidad').focus();
              })
            .dialog({
            modal: true, autoOpen: true, title: 'Editar item del despacho',width: '50%', minHeight: 200,
            buttons: [{text: "Modificar", class: 'closePopup additem',
                    click: function() { 
                        var form = $("[name='appbundle_recepciondetalle']");  
                        if(!form.find("#appbundle_recepciondetalle_cantidad").val()){
                            alert('Debe ingresar una cantidad!');
                            form.find("#appbundle_recepciondetalle_cantidad").focus();
                            return false;
                        }
                        if(form.find("#appbundle_recepciondetalle_bulto").is(':checked') && !form.find("#appbundle_recepciondetalle_cantidadxBulto").val()){
                            alert('Si indica por bulto debe ingresar una cantidad!');
                            form.find("#appbundle_recepciondetalle_cantidadxBulto").focus();
                            return false;
                        }
                        // guardar item en detalle 
                         $.post( actionurl , form.serialize(),function(data){
                             if(data.msg==='OK'){
                                 // reemplazar en la tabla
                                 tr.replaceWith(data.tr);
                                //reordenar nros
                                $('#detalle').find('.ordTd').each(function(index) {
                                  $(this).html(index+1);
                                });
                            } else {
                                alert('error ' + data.msg);
                            }
                            }).fail(function () {
                                alert("No se ha podido guardar el item. Intente nuevamente.");
                            }, "json");

                            $(this).dialog("destroy");
                        }}]
            });
        });  
    
 // AGREGAR NUEVO ITEM   
    $('#linkAdd').on('click',function(){
        var partialurl =  $(this).data('url');    
        $('#popup').dialog('open');
        $('#popup')
            .html('<div class="loaders" style="width: 100%;text-align: center;margin-top: 10px;"><img src="{{asset('assets/images/loaders/loader1.gif')}}" alt="" /></div>')
            .load(partialurl+'?rec=1', function() {
                var form = $("[name='appbundle_despachodetalle']");
                form.find('#despachoid').val('{{entity.id}}');
                var prod = form.find("#appbundle_despachodetalle_producto");
                prod.chosen({no_results_text: "Sin resultados", search_contains: true});
                prod.change(function () {
                    changeProducto($(this));
                });
                form.find("#appbundle_despachodetalle_bulto").uniform();
                form.find("#appbundle_despachodetalle_bulto").change(function () {
                    changeBulto($(this));
                });
                var lote_selector = form.find('#appbundle_despachodetalle_lotes');
                //lote_selector.html('<option></option>');
                lote_selector.chosen({no_results_text: "Sin resultados",placeholder_text_multiple:"Seleccionar..",search_contains: true});
                form.find('#appbundle_despachodetalle_lotes_chzn').css('width','400px');
                form.find('#appbundle_despachodetalle_producto_chzn').trigger('mousedown');
              })
            .dialog({
            modal: true, autoOpen: true, title: 'Agregar item al despacho',width: '50%', minHeight: 200,
            buttons: [{text: "Agregar", class: 'closePopup additem',
                    click: function() { 
                        var form = $("[name='appbundle_despachodetalle']");  
                        if(!form.find("#appbundle_despachodetalle_producto").val()){
                            alert('Debe ingresar un producto!');
                            form.find('.chzn-container').last().trigger('mousedown');
                            return false;
                        }
                        if(!form.find("#appbundle_despachodetalle_cantidad").val()){
                            alert('Debe ingresar una cantidad!');
                            form.find("#appbundle_despachodetalle_cantidad").focus();
                            return false;
                        }
                        if(form.find("#appbundle_despachodetalle_bulto").is(':checked') && !form.find("#appbundle_despachodetalle_cantidadxBulto").val()){
                            alert('Si indica por bulto debe ingresar una cantidad!');
                            form.find("#appbundle_despachodetalle_cantidadxBulto").focus();
                            return false;
                        }
                        form.append($('<input>')
                            .attr('type', 'hidden')
                            .attr('name', 'recepcion')
                            .val(1)
                        );
                        // guardar item en detalle 
                         $.post( "{{path('stock_item_despacho_create')}}" , form.serialize(),function(data){
                             if(data.msg==='OK'){
                                 // insertar en la tabla
                                $('#detalle tbody').append(data.tr); 
                                //reordenar nros
                                $('#detalle').find('.ordTd').each(function(index) {
                                  $(this).html(index+1);
                                });
                            } else {
                                alert('error ' + data.msg);
                            }
                            }).fail(function () {
                                alert("No se ha podido guardar el item. Intente nuevamente.");
                            }, "json");

                            $(this).dialog("destroy");
                        }}]
            });
        });        
    

});
function changeBulto(item) {
    var form = jQuery("[name='appbundle_recepciondetalle']");
    form.find(".unidmed").hide();
    var cantxbulto = form.find('#appbundle_recepciondetalle_cantidadxBulto');
    if (item.is(':checked')) {
        form.find('#unidmed_bulto').show();
        cantxbulto.prop('readonly', false);
        cantxbulto.css('color', '#666');
        if (cantxbulto.val() == '')
            cantxbulto.val(1);
        cantxbulto.focus();
    } else {
        form.find('#unidmed_unidad').show();
        cantxbulto.prop('readonly', true);
        cantxbulto.css('color', '#fff');
    }
}

function changeProducto(producto) {
    var form = jQuery("[name='appbundle_despachodetalle']");
    form.find('.loaders').show();
    form.find('#appbundle_despachodetalle_cantidad').val('');
    form.find('#appbundle_despachodetalle_bulto').prop('checked', 0);
    jQuery.uniform.update();
    form.find('#appbundle_despachodetalle_cantidadxBulto').val('');
    form.find(".unidmed").hide();        
    jQuery.ajax({
        url: "{{ path("get_data_producto") }}",
        //async:false,
        dataType: "json",
        data: 'prod=' + producto.val() + '&dep=' + '{{entity.depositoDestino.id}}',
        success: function (data) {
            form.find('#appbundle_despachodetalle_cantidad').val(1);
            form.find('.unidmed').text(data.unidmed);
            if (data.bulto) {
                form.find('#unidmed_bulto').show();
                form.find('#appbundle_despachodetalle_cantidadxBulto').val(data.cantxBulto);
            } else {
                form.find('#unidmed_unidad').show();
                form.find('#appbundle_despachodetalle_cantidadxBulto').val('');
            }
            form.find('#appbundle_despachodetalle_bulto').prop('checked', data.bulto);
            jQuery.uniform.update();
          // cargar lotes
            var lote_selector = form.find('#appbundle_despachodetalle_lotes');
            lote_selector.html('<option></option>');
            var lotes = data.lotes;
            if(lotes.length>0){
                for (var i = 0, total = lotes.length; i < total; i++) {                        
                 lote_selector.append('<option value="' + lotes[i].id + '">' + lotes[i].name + '</option>');
                }                
           }
           lote_selector.trigger("liszt:updated");
            form.find('.loaders').hide();
            form.find('#appbundle_despachodetalle_cantidad').focus();                
        }
    });
}
</script>
{% endblock %}