{% for modulo in modulos if txtmod in modulo.route %}
<div class="one_half {% if loop.index is divisible by(2) %}last{% endif %}" >
   <div class="widgetbox">
        <div class="title" style="margin:5px 0"> 
            <h3> <input type="checkbox" id="chkmodulo{{modulo.id}}" class="chkmodulo"  data-moduloid="{{modulo.id}}" 
                          {% if entity.access(modulo.route) %} checked="checked" {% endif%} > 
                {{modulo.text}}</h3>
        </div>
        <div class="widgetcontent">

            <select style="width:90%" class="select2" multiple="multiple" data-placeholder="Seleccionar los permisos" 
                           data-moduloid="{{modulo.id}}" {% if not entity.access(modulo.route) %} disabled {% endif %}
                           id="configbundle_perfil_permisos_{{modulo.id}}" name="permisos[]"  style="width: 100%;">
                       <option value="{{modulo.id}}" {% if entity.access(modulo.route) %}selected {% endif%}>Ver {{modulo.text}}</option>
                       {% for permiso in modulo.hijos %}
                           <option value="{{permiso.id}}" {% if entity.access(permiso.route) %}selected {% endif%}>{{permiso.text}}</option>
                       {% endfor %}
                   </select>

        </div><!--widgetcontent-->
    </div><!--widgetbox-->

</div><!--one_half-->    
{% endfor %} 