<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    <td class="prodTd">
        <select class="widgetProducto" style="width:85%"
              name="comprasbundle_producto[]"
              data-urlselect = "{{ path('get_autocomplete_productos_compras') }} "
        >
        {% if item.vars.data.producto.id is defined %}
          <option value="{{item.vars.data.producto.id}}" selected="selected" data-alicuota="{{ item.vars.data.alicuota }}" data-bulto="{{ item.vars.data.bulto }}" 
            data-cantxBulto="{{ item.vars.data.cantxBulto }}" data-unidmed="{{ item.vars.data.unidmed }}"  data-comodin="{{ item.vars.data.producto.comodin ?? 0 }}" >
              {{item.vars.data.producto}}
          </option>
        {% endif %}
        </select>
    </td>
    <td class="ivaTd">{{ form_widget(item.afipAlicuota) }} </td>    
    <td class="cantTd">{{ form_widget(item.cantidad, { 'attr': {'class' : 'number floatleft','min':'0','style':'text-align:right;'} }) }}
        <span class="unidmed floatleft" style="padding-left: 5px"></span>
    </td>
    <td class="bulto">{{ form_widget(item.bulto) }} </td>
    <td class="cantxBulto">{{ form_widget(item.cantidadxBulto) }} </td>
    <td class="precTd  alignright">        
        <span tabIndex="-1">{{ form_widget(item.precio, { 'attr': {'class' : 'width50','style':'text-align:right;'} }) }} </span>
    </td>
    <td class="totalTd alignright"></td>
    <td class="delTd" style="text-align:center;"></td>
</tr>