{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Escalas Impositivas</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% set tipo = tipos[entity.tipo] %}
<h1 id="popup_title" >{{ (entity.id) ? 'Editar Escala de '~tipo|upper : 'Nueva Escala de '~tipo }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
 {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >        
            <div class="two_fields">
            {% if entity.tipo == 'G' or entity.tipo == 'H' %}
                <div>
                    <label>Tipo:</label>
                    <select name="tipo" id="tipo">
                        <option value="G" {% if entity.tipo == 'G' %} selected="selected" {% endif %}>GANANCIA</option>
                        <option value="H" {% if entity.tipo == 'H' %} selected="selected" {% endif %}>HONORARIOS</option>
                    </select>
                </div>
            {% endif %}            
            {{ form_row(form.nombre, { 'attr': {'class' : 'mediuminput', 'style':'text-transform:uppercase','autofocus':'autofocus' } }) }}
            </div> 
            <div class="two_fields">
            {{ form_row(form.retencion, { 'attr': {'class' : 'mininput'} }) }} 
            {{ form_row(form.adicional, { 'attr': {'class' : 'mininput'} }) }}
            </div> 
            <div class="two_fields">
            {{ form_row(form.minimo, { 'attr': {'class' : 'mininput'} }) }} 
            {{ form_row(form.codigo_atp, { 'attr': {'class' : 'mininput'} }) }}
            </div> 

            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('sistema_escalas')}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {
        $(document).on('change','#tipo',function(){ 
            let tipo =  $(this).val();
            $('#configbundle_escalas_tipo').val(tipo);
            if( tipo == 'G'){ 
                $('#configbundle_escalas_nombre').val('HONORARIOS DIRECTORES Y ADMINI');
            }else{
                $('#configbundle_escalas_nombre').val('HONORARIOS PROFESIONALES');
            }
            $('#configbundle_escalas_retencion').focus();
        });
    });
});
</script>   
{% endblock %}