{% for precio in listado %}
<tr>
    <td>{{ precio.producto.rubro.nombre }}</td>
    <td>{{ precio.producto.codigo}}</td>
    <td>{{ precio.producto.nombre }}</td>
    <td class="alignright">{{ precio.producto.costo }}</td>
    <td class="alignright">{{ precio.precio }}</td>
    <td>{% if precio.updated %}{{ precio.updated|date('d-m-Y H:i:s') }}{% endif %}</td>
    <td>
        {% if app.user.access(app.session.get('unidneg_id'),'stock_precio_edit') %}
        <a href="{{ path('stock_precio_edit', { 'id': precio.id }) }}" class="editar btn btnaction btn_pencil" ></a>
        {% endif %}
    </td>
</tr>
{% endfor %}
