<table cellpadding="0" cellspacing="0" border="0" class="stdtable table-cobrados" id="dyntable2">
    <thead>
        <tr>
            <th># Op.</th>
            <th>Fecha / Hora</th>
            <th>Cliente</th>
            <th>Forma de Pago</th>
            <th>Total</th>
            <th>Comprobante</th>
            {% if not owns %}
            <th>Usuario</th>
            {% endif %}
            <th class="nosort actionbutton addbutton">&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr {% if entity.estado=='ELIMINADO' %} class="deleted" {%endif%}>
            <td>{{entity.nroOperacion}}</td>
            <td><span class="hidden">{{ entity.fechaCobro|date('YmdHi') }}</span>{{ entity.fechaCobro|date('d-m-Y H:i') }}</td>
            <td>{{ entity.cliente }}{{ entity.nombreCliente != 'CONSUMIDOR FINAL' ? ('<br>' ~ entity.nombreCliente) |raw : '' }}</td>
            <td>{{ entity.formaPago }}</td>
            <td class="alignright"><span class="floatleft">{{entity.moneda.simbolo}}</span> {{ entity.venta.montoTotal|number_format(2,',','.') }}</td>
            <td class="estado">
              {% if entity.facturaElectronica %}
                {{ entity.facturaElectronica.comprobanteTxt }}
              {% elseif entity.estado != 'ELIMINADO' %}
                <a href="{{ path('ventas_cobro_edit',{ 'id': entity.id }) }}" type="button" class="stdbtn btn_red " title="Facturar">Facturar</a>
              {% endif %}
            </td>
            {% if not owns  %}
            <td>{{entity.updatedBy.nombre|upper }}</td>
            {% endif %}
            <td class="buttons">
                  <a href="{{ path('ventas_cobro_show',{ 'id': entity.id }) }}" class="editar btn btnaction btn_folder" title="Ver Cobro"></a>
                {% if entity.facturaElectronica %}
                    {% if entity.facturaElectronica.cae %}
                    <a href="#" url="{{ path('ventas_factura_print', { 'id': entity.id, 'entity': 'Cobro' })}}" class="editar btn btnaction btn_print" facid="{{entity.id}}"  title="Imprimir Factura"></a>
                    {% endif %}
                {% elseif entity.estado != 'ELIMINADO' %}
                  <a style="display:none" href="{{ path('ventas_cobro_delete', { 'id': entity.id }) }}" onclick="confirm('Confirma la eliminación! Esta acción no se puede deshacer')" class="btn btnaction btn_trash btn_yellow" title="Eliminar"></a>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
