<table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="ventasxcobrar">
    <thead>
        <tr>
            <th># Venta</th>
            <th>Fecha / Hora</th>
            <th class="nosort">Cliente</th>
            <th class="nosort">Forma de Pago</th>
            <th class="nosort">Total</th>
            <th>Usuario</th>
            <th>
                <a href="javascript:void(0)" title="Recargar" id="recargar" class="btn btnaction btn_refresh" 
                   onclick="recargarVentasPorCobrar()"></a>
                    <img class="loader_refresh hidden" src={{ asset('assets/images/loaders/loader8.gif') }}>
                    
            </th>
        </tr>
    </thead>
    <tbody>
        {% for entity in ventas %}
        <tr>
            <td class="alignright">
                #{{entity.nroOperacion}}
            </td>
            <td>{{ entity.fechaVenta|date('d-m-Y H:i') }} </td>
            <td>{{ entity.cliente }}{{ entity.nombreCliente != 'CONSUMIDOR FINAL' ? ('<br>' ~ entity.nombreCliente) |raw : '' }}</td>
            <td>{{ entity.formaPago }}</td>
            <td class="alignright">
                <span style="float:left"> {{entity.moneda.simbolo}}</span>{{ entity.montoTotal|number_format(3,',','.') }}</td>
            <td>{{entity.updatedBy.nombre|upper }}</td>
            <td class="operacion">
              <a href="{{ path('ventas_cobro_facturar', { 'id': entity.id }) }}" title="Cobrar esta venta" class="btn btnaction btn_dollartag"></a>
              &nbsp; &nbsp;
              <a href="javascript:void(0)" title="Ver Detalle de Artículos" data-url="{{ path('ventas_view_detail', { 'id': entity.id }) }}" class="btn btnaction btn_list view_detail"></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
                