{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<style type="text/css">
    .pagetitle span{
        font-size:20px;
    }
    #form-venta-rapida label{
        font-weight: bold;
        padding: 0px 2px 0px 8px;
    }
    .vtafields label{
        display: inline-block;
        width:100%;
    }
    #form-venta-rapida select:focus, #form-venta-rapida input:focus,#form-venta-rapida button:focus,#form-venta-rapida a:focus, #form-venta-rapida .select2-container *:focus{
        color:blue ;
        font-weight:bold ;
        background-color: gainsboro;
    }
    #form-venta-rapida span.add-item-button, #form-venta-rapida span.del-item-button{
        font-size: 20px;
        font-family: courier;
        font-weight: bold;
    }
    a.btn_search{
        margin:0;
    }
    .divnotif{
        padding: 0 10px;
    }

    .venta.stdtable.noaction tbody tr.item td{
        padding: 4px 10px;
    }

    #clientes_table .nombre-cliente:focus, #clientes_table .nombre-cliente:hover{
        color:red !important;
        font-weight:bold;
    }
    .venta-fieldset{
        padding:10px 0px;
        width: 100%;
        background-color:gainsboro;
        font-weight:bold;
        text-align: center;
    }
    .venta-fieldset div{
        display:inline-block;
        width: 28%;
    }
    .venta-fieldset input{
        font-weight:bold;
    }
    .datos-moneda label{
        width:80%;
    }
    .datos-moneda small label{
        width: fit-content;
    }
    .datos-moneda small{
        font-size:9px;
        float:right;
    }
</style>
<div class="pageheader notab">
    <h1 class="pagetitle">COBRO DE VENTAS:
            <span style="margin-left:10px" class="nroOperacion">#{{entity.nroOperacion}}</span>
            <span class="floatright">{{entity.fechaCobro|date('d/m/Y H:i')}} &nbsp; | &nbsp; {{app.user.username}}</span>
    </h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    <fieldset class="venta-fieldset">

        <div>
            <label>VENTA: </label>
            <input type="text" disabled="disabled" class="width100" value="#{{entity.venta.nroOperacion}}"/>
        </div>
        <div>
            <label>FECHA/HORA: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.venta.fechaVenta|date('d-m-Y H:i')}}"/>
        </div>
        <div>
            <label>VENDEDOR: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.venta.createdBy.username}}"/>
        </div>
        <div style="width:10%">
            <button class="stdbtn btn_red js-anular-venta" data-venta="{{entity.venta.id}}"> Anular Venta </button>
        </div>

    </fieldset>

<div id="contentwrapper" class="contentwrapper" style="padding-top:10px">
{% include "AppBundle::notificacion.html.twig" %}
    <div id="form-venta-rapida">

        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_cobro'}}) }}

        <fieldset class="vtafields" >
            <div id="selectorCliente" style="display:inline-block; width: 50%;">
                {{ form_label(form.cliente) }}
                {{ form_widget(form.cliente,{'attr':{'style':'width:80%','url':path('get_lista_clientes'), 'fnc':'openModalCliente', 'mtitle':'Seleccionar Cliente' }}) }}
                <a href="javascript:void(0)" class="btn btnaction btn_search"></a>
            </div>
            <div class="datos-moneda" style="display:inline-block; width: 20%;">
                {{ form_label(form.moneda)}}
                {{ form_widget(form.moneda,{'attr':{'style':'width:80%'}}) }}
                {{ form_widget(form.cotizacion)}}
            </div>
            <div style="display:inline-block; width: 25%; ">
                {{ form_label(form.formaPago)}}
                {{ form_widget(form.formaPago,{'attr':{'style':'width:80%','url':path('get_lista_formapago'), 'fnc':'openModalFormaPago', 'mtitle':'Seleccionar Forma de Pago'}}) }}
                <a href="javascript:void(0)" class="btn btnaction btn_search"></a>
            </div>
        </fieldset>
        <fieldset >
            <div class="datos-cliente" style="display:inline-block; width:70%; vertical-align: top;margin-bottom:10px">
                {% include "VentasBundle:Venta:_partial-datos-cliente.html.twig" with {'item':entity.cliente} %}
            </div>
            <div class="datos-cf" style="display:inline-block; width:70%; vertical-align: top;margin-bottom:10px">
                {% include "VentasBundle:Cobro:_partial-datos-cf.html.twig" %}
            </div>
            <div class="datos-formapago" style="display:inline-block; width: 25%; vertical-align: top;">
                {% include "VentasBundle:Venta:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}
            </div>
        </fieldset>

        <fieldset style=" text-align:center">
            <div style="display:inline-block; width:80%; margin:0 auto;" >
                {% include "VentasBundle:Cobro:_partial-detalle.html.twig" with {'venta':entity.venta}  %}
            </div>
        </fieldset>


        <fieldset>
            <br clear="all" />
            <div class="actionbutton">
                <button class="guardar tabbable" type="submit">FACTURAR</button>
                <a class="cancelar tabbable" type="button" href="{{ path('ventas_cobro')}}">Cancelar</a>
            </div>
        </fieldset>

        <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
        {{ form_end(form) }}

    </div>
    <div class="notifmsg info png_bg" style="margin-top:50px">
        <a href="#" class="close"></a>
        <div><small>Ctrl+Enter = Abrir búsqueda <strong class="divnotif">|</strong> Ctrl+Alt+C = Buscar Cliente <strong class="divnotif">|</strong> Ctrl+Alt+F = Buscar Forma de Pago <strong class="divnotif">|</strong> Ctrl+Alt+G = Guardar  </small>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/plugins/chosen.jquery.min.js') }}"></script>

<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {
        //$('.togglemenu').click();

        if('{{entity.cliente.consumidorfinal}}'){
            $('.datos-cliente').hide();
            $('.datos-cf').show();
        }else{
            $('.datos-cf').hide();
            $('.datos-cliente').show();
        }
        $('#ventasbundle_cobro_nombreCliente,#ventasbundle_cobro_direccionCliente').css('width', '95%')
        $('.cancelar').on('blur', function(e){
            $('#ventasbundle_cobro_cliente').select2('focus')
            e.stopPropagation();
        })
        $(document).on('keydown',function(e){ detectarControles(e); })
        $('.select2').select2({ width:'style' });

        $(".btn_list").click(function(){
            $(".detalle-venta").toggle();
        });

        $('.js-anular-venta').on('click', function(e){
            const id = $(this).data('venta');
            if( confirm('Confirma la anulación de esta venta? Los productos se reingresarán al stock!')){
                $.post( "{{ path('ventas_venta_anular')}}" , {'id': id})
                    .done(function(data){
                        // redireccionar a cobros
                        if(data=='OK'){
                            window.location.href = '{{ path("ventas_cobro")}}';
                        }else{
                            alert('No se ha podido anular la venta!')
                        }
                    })
                    .fail(function(){
                        alert('No se ha podido anular la venta!')
                    });
            }
        });

        $('#ventasbundle_cobro_cliente').select2({
            ajax: {
            url: "{{path('get_autocomplete_clientes')}}",
            type: "post",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                searchTerm: params.term // search term
                };
            },
            processResults: function (response) {
                return {
                    results: response
                };
            },
            cache: true
            },
            minimumInputLength: 3
        }).on('change', function() {
            $('.datos-cliente').html('');
            $('.datos-cf').hide();
            id = $(this).val();
            $.getJSON( "{{ path('get_datos_venta_cliente')}}" , {'id': id}).done(function(data){
                // actualizar partial datos
                if(data){
                    if( data.consumidorfinal ){
                        $('.datos-cliente').hide();
                        $('.datos-cf').show();
                        $('#ventasbundle_cobro_nombreCliente').focus();
                    }else{
                        $('.datos-cf').hide();
                        $('.datos-cliente').show();
                        $('.datos-cliente').html(data.partial);
                    }
                }
            });
        });


        $('#ventasbundle_cobro_formaPago').on('change', function() {
            $('.datos-formapago').html('');
            id = $(this).val();
            $.get( "{{ path('get_datos_formapago')}}" , {'id': id}).done(function(data){
                // actualizar datos
                if(data){
                    $('.datos-formapago').html(data);
                    const porcentaje = $('#porcentajeRecargo').val();
                    $('.porcentajeRecargo').text( porcentaje );
                    const spanValor = $('#porcentajeRecargoTd').find('.valor');
                    const subtotal = $('#subtotalTh').find('.valor').data('valor');
                    const nuevoValor = subtotal * (porcentaje/100);
                    // nuevo valor de descuento/recargo
                    spanValor.data('valor',nuevoValor);
                    // nuevo valor a pagar
                    const total = $('#totalTd').find('.valor')
                    total.data('valor',subtotal + nuevoValor);
                    actualizaTotales();
                }
            });
        });


        $('#ventasbundle_cobro_cliente').focus();

        // al presionar ctrl+enter abrir popup
        $(document).on('click change keydown',
            '#ventasbundle_cobro_cliente', function(e) {
            if (e.keyCode == 13 && e.ctrlKey ) {
                e.preventDefault();
                openModal($(this))
            }
        });
        // en buscar abrir popup correspondiente
        $(document).on('click','.btn_search',function(e) {
            obj = $(this).parent().find('select');
            e.preventDefault();
            openModal(obj)
        });
    $('#ventasbundle_cobro_moneda').on('change',function(){
        label = $(this).prev('label');
        label.find('small').remove();
        id = $(this).val();
        $.getJSON( "{{ path('get_datos_moneda')}}" , {'id': id}).done(function(data){
            // actualizar datos
            if(data){
                span = $('<small></small>').html(data.partial);
                label.append(span);
                $('.simbolo').html(data.simbolo);
                $('#ventasbundle_cobro_cotizacion').val( data.cotizacion );
                actualizaTotales();
            }
        });
    });
    $('#ventasbundle_cobro_moneda').change();
    // confirm on submit
    $('#ventasbundle_cobro').on('submit', function(){

    })
});

function openModal(obj){
    const url = obj.attr('url');
    const fnc = obj.attr('fnc')+'(obj)';
    const title = obj.attr('mtitle');
    $('#popup')
        .html('<div class="loaders" style="width: 100%;text-align: center;margin-top: 10px;"><img src="{{asset('assets/images/loaders/loader1.gif')}}" alt="" /></div>')
        .load( url , function(){
            eval( fnc )
         })
        .dialog({
            modal: true, autoOpen: true, title: title, width: '40%', minHeight: 400,
            close: function() {
                // volver focus al control
                $(obj).focus();
             },
        });
}

// CLIENTES
function openModalCliente(){
    var oTable = $('#clientes_table').dataTable({
                "columnDefs": [
                    // These are the column name variables that will be sent to the server
                    { "name": "nombre", "targets": 0 },
                    { "name": "cuit",  "targets": 1 },
                    { "targets"  : 'nosort', "orderable": false }
                ],
                "rowCallback": function (row, data) {
                    // seleccionar on click
                    $(row).find('a').on('click', function(){
                        var data = {
                            id: $(this).data('id'),
                            text: $(this).text()
                        };
                        var newOption = new Option(data.text, data.id, true, true);
                        $('#ventasbundle_cobro_cliente').append(newOption).trigger('change');
                        $('#popup').dialog("destroy");
                        $('#ventasbundle_cobro_cliente').focus();
                    })
                 },
                // Server-side parameters
                "processing": true,
                "serverSide": true,
                // Ajax call
                "ajax": {
                    "url": "{{ path('cliente_list_datatables') }}",
                    "type": "POST"
                },
                // Classic DataTables parameters
                "bPaginate" : true,
                "bInfo" : true,
                "bSearchable": true,
                "bLengthChange": true,
                "pageLength":10,
                "order": [[0, 'asc']],
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<<",
                        "sNext": ">",
                        "sLast": ">>",
                        "sPrevious": "<"
                    },
                    "sProcessing": "Cargando...",
                    "sLengthMenu": "Mostrar _MENU_ registros ",
                    "sZeroRecords": "Sin datos",
                    "sInfo": " _START_ / _END_  -  <strong>Total: _TOTAL_ </strong>",
                    "sInfoEmpty": "Sin coincidencias",
                    "sInfoFiltered": "(filtrado de _MAX_ registros)",
                    "sSearch": "Buscar:"
                }
            });
     // focus en buscar
    $('#clientes_table_filter input').focus();
}
// FORMAS DE PAGO
function openModalFormaPago(){
    var fTable= $('#formapago_table').dataTable({
                "bAutoWidth": false,
                "bRetrieve" : true,
                "columnDefs": [ {
                    "targets"  : 'nosort',
                    "orderable": false
                  }],
                "rowCallback": function (row, data) {
                    // seleccionar on click
                    $(row).find('a').on('click', function(){
                        $('#ventasbundle_cobro_formaPago').val($(this).data('id'));
                        $('#popup').dialog("destroy");
                        $('#ventasbundle_cobro_formaPago').change();
                        $('#ventasbundle_cobro_formaPago').focus();
                    })
                 },
		"sPaginationType": "full_numbers",
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<<",
                        "sNext": ">",
                        "sLast": ">>",
                        "sPrevious": "<"
                    },
			"sLengthMenu": "Mostrar _MENU_ registros ",
			"sZeroRecords": "Sin datos",
			"sInfo": " _START_ / _END_  -  <strong>Total: _TOTAL_ </strong>",
			"sInfoEmpty": "Sin coincidencias",
			"sInfoFiltered": "(filtrado de _MAX_ registros)",
                        "sSearch": "Buscar:",
                        "sSelect": "%d seleccionados"
		}
	});
     // focus en buscar
    $('#formapago_table_filter input').focus();
}

function detectarControles(e) {
    if( e.ctrlKey && e.altKey ){
        // ctrl + alt + C
        if( e.keyCode == 67 ){
            e.preventDefault();
            openModal($('#ventasbundle_cobro_cliente'))
        }
        // ctrl + alt + G
        if( e.keyCode == 71 ){
            e.preventDefault();
            $('#ventasbundle_cobro').submit();
        }
    }
}

function actualizaTotales(){
    const cotizacion = parseFloat($('#ventasbundle_cobro_cotizacion').val()) ;
    $('.valor').each(function(){
        valor = $(this).data('valor')/cotizacion;
        $(this).html(valor.toFixed(3));
    });
}
});
</script>{% endblock %}