{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Cobro de Ventas</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}

{# <a href="{{ path('prueba_tickeadora') }}" target="_blank" class="btn_print" title="Probar">PRUEBA TICKEADORA</a> #}

<div id="contentwrapper" class="contentwrapper">
<div>
    <form id="searchform" action="{{ path('ventas_cobro') }}" method="get">
        {% if not owns %}
        <div style="display: inline-block; margin-bottom: 10px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Usuario:</strong></label>
            <select class="uniformselect" id="selectUser" name="userId">
                <option value="0">Todos</option>
            {% for user in users %}
                <option value="{{user.id}}" {% if user.id==id %} selected="selected" {% endif %}> {{user.nombre}}</option>
            {% endfor %}
            </select>
        </div>
        {% endif %}
        <div style="display: inline-block; margin-right: 30px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Rango de Fecha: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" />
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" />
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>
    </form>

</div>

<div>
            <ul class="hornav">
                <li class="current"><a href="#tab-porcobrar">Ventas por Cobrar</a></li>
                <li><a href="#tab-cobrados">Cobros Realizados</a></li>
            </ul>
            <div id="nav-contentwrapper" class="contentwrapper">
                 <div id="tab-porcobrar" class="subcontent">
                     {% include 'VentasBundle:Cobro:_partial-tab-por-cobrar.html.twig' %}
                  </div>
                 <div id="tab-cobrados" class="subcontent" style="display: none;">
                     {% include 'VentasBundle:Cobro:_partial-tab-cobrados.html.twig' %}
                  </div>
            </div>
</div>

</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
var printpdf = '{{printpdf}}';
jQuery(document).ready(function($){
    if ( $('#contentwrapper').width() < 1000) {
            $('.togglemenu').click();
        }
    $(document).on('keydown',function(e){ detectarControles(e); })
    $('#selectUser').change(function(){
        $('#searchform').submit();
    });
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});

    var oTable = $('.table-cobrados').dataTable();
    oTable.fnSort( [ [1,'desc'],[0,'desc'] ] );
    if( printpdf ){
        console.log( '[facid="'+printpdf+'"]')
        $('[facid="'+printpdf+'"]').click()
    }
{# VENTAS POR COBRAR #}
    $('#ventasxcobrar').dataTable({
            "bSort": false,
            "sPaginationType": "full_numbers",
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<<",
                        "sNext": ">",
                        "sLast": ">>",
                        "sPrevious": "<"
                    },
            "sLengthMenu": "Mostrar _MENU_ registros ",
            "sZeroRecords": "Sin datos",
            "sInfo": " _START_ / _END_  -  <strong>Total: _TOTAL_ </strong>",
            "sInfoEmpty": "Sin coincidencias",
            "sInfoFiltered": "(filtrado de _MAX_ registros)",
            "sSearch": "Buscar:",
            "sSelect": "%d seleccionados"
        }
    });
    $('#ventasxcobrar_filter input').val('#');
    $('#ventasxcobrar_filter input').focus();
    /// hover de nro operacion resalta toda la fila
    $(document).on('focus', '.operacion', function (e) {
        jQuery('#ventasxcobrar tbody tr').removeClass('selectedline');
        jQuery(this).parent().addClass('selectedline');
    })

    $(document).on('click','.view_detail' ,function(){
      partialDetalleVenta($(this))
    })

    {# function detectarControles(e) {
    // ctrl + alt + C
      if( e.ctrlKey && e.altKey && e.keyCode == 67 ){
        $('.facturarVentas').click();
      }
    } #}
});

function partialDetalleVenta(obj) {
    jQuery('#popup')
        .html('')
        .load(obj.data('url'))
        .dialog({
            modal: true, autoOpen: false, title: "DETALLE DE VENTA", width: "70%",minHeight: 380,
            close: function() { obj.focus() }
        });
        jQuery('#popup').dialog('open');
}
</script>
{% endblock %}