{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}
<div class="pageheader notab">
    <h1 class="pagetitle">COBRO DE VENTAS:
        <span style="margin-left:10px" class="nroOperacion">#{{entity.nroOperacion}}</span>
        <span class="floatright fechahora">
            {{entity.fechaCobro|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fechaCobro|date('H:i:s')}}</span> &nbsp; | &nbsp; {{app.user.username}}
        </span>
    </h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    <fieldset class="venta-fieldset">
        <div>
            <label>VENTA: </label>
            <input type="text" disabled="disabled" class="width100" value="#{{entity.venta.nroOperacion}}"/>
        </div>
        <div>
            <label>FECHA/HORA: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.venta.fechaVenta|date('d-m-Y H:i')}}"/>
        </div>
        <div>
            <label>VENDEDOR: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.venta.createdBy.username}}"/>
        </div>

    </fieldset>

<div id="contentwrapper" class="contentwrapper" style="padding-top:10px">
{% include "AppBundle::notificacion.html.twig" %}
    <div class="divForm">

        <fieldset class="fields" >
            <div class="selectorCliente">
                <label>CLIENTE: </label>
                <input value="{{entity.cliente.nombre}}" disabled style="width:90%"/>
            </div>

            <div class="datos-moneda">
                <label>MONEDA:
                  {% if entity.cotizacion != 1 %}
                    <small><label> TIPO DE CAMBIO:</label> {{ entity.cotizacion }}</small>
                  {% endif %}
                </label>
                <input value="{{entity.moneda}}" disabled style="width:80%"/>
            </div>

            <div class="selectFormaPago">
                <label>FORMA DE PAGO: </label>
                <input value="{{entity.formapago}}" disabled style="width:80%"/>
            </div>
        </fieldset>
        <fieldset >
            {% include "VentasBundle:Partial:_partial-show-datos-cliente.html.twig" with {'entity':entity } %}

            {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}
        </fieldset>

        <fieldset>
            <div style="display:inline-block; width:85%;margin:10px 0 10px 5%;" >
                {% set cativa = (entity.cliente.categoriaIva) ? entity.cliente.categoriaIva.nombre : 'C' %}
                {% set showiva = (cativa != 'C') %}
                {% set showiibb = (cativa == 'I') %}
                {% include "VentasBundle:Cobro:_partial-detalle.html.twig" with {'venta':entity.venta,'showiva': showiva, 'showiibb': showiibb } %}
            </div>
        </fieldset>

        {% include "VentasBundle:CobroVenta:_partial-show-detalle-pago.html.twig" with { 'cobroDetalles': entity.detalles, 'montoTotal': entity.venta.montoTotal } %}

        {% include "VentasBundle:FacturaElectronica:info-banner.html.twig" with {'fe':entity.facturaElectronica, 'id':entity.id, 'entity': 'Cobro'} %}

        <fieldset>
            <div class="actionbutton">
                <a class="cancelar" type="button" href="{{ path('ventas_cobro')}}">Cancelar</a>
            </div>
        </fieldset>

    </div>

{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {

        // si la pantalla es chica expandir
        if ( $('#contentwrapper').width() < 1000) {
            $('.togglemenu').click();
        }

        $(".btn_list").click(function(){
            $(".detalle-venta").toggle();
        });

    });
});
</script>{% endblock %}