
    <dynamic-page page-size="A4" margin-left="20px" margin-right="20px" margin-top="20px" >
        <placeholders>
            <header>
                <div height="170px" width="100%" >
                    <table font-size="11px" >
                        <tr>
                            <td border.type="none" >
                                <div width="100%">
                                    <img ignore-error="true" src="{{logo}}" width="80%" />
                                </div>
                            </td>
                            <td border.color="#555555" width="50px" vertical-align="middle" text-align="center">
                                <div>
                                    <strong font-size="23px"> {{fe.letra}} </strong>
                                    <span font-size="8px">COD. {{fe.tipoComprobante.codigo}}</span>
                                 </div>
                            </td>
                            <td border.type="none" text-align="center" vertical-align="middle">
                                <div width="100%" font-size="16px" padding-bottom="10px">
                                    <strong>{{ fe.tituloPdf }}</strong>
                                </div>
                                <div font-size="14px" padding-bottom="5px">
                                    <strong>Número: {{fe.nroComprobanteTxt}} </strong>
                                </div>
                                <div font-size="14px" padding-bottom="10px">
                                    <strong>Fecha: {{ fe.getCbteFchFormatted('d-m-Y') }} </strong>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" border.type="none">
                                <div padding-left="10px">
                                    <div padding-bottom="10px">{{ empresa.direccion }} </div>
                                    <div padding-bottom="10px">{{ empresa.telefono }} </div>
                                    <div padding-bottom="10px" href="mailto:{{empresa.email}}">{{ empresa.email }} </div>
                                    <div padding-bottom="3px">{{ empresa.condicionIva }} </div>
                                </div>
                            </td>
                            <td border.type="none">
                                <div font-size="16px" padding-bottom="8px" text-align="center"> <strong>{{texto}}</strong> </div>
                                <div padding-left="40px">
                                    <div>
                                        <div padding-bottom="8px"> CUIT: {{ empresa.cuit }} </div>
                                        <div padding-bottom="8px"> INGRESOS BRUTOS: {{ empresa.iibb }} </div>
                                        <div padding-bottom="3px"> INICIO ACTIVIDADES: {{ empresa.inicioActividades }} </div>
                                    </div>

                                </div>
                            </td>
                        </tr>

                    </table>

                </div>
            </header>
            <footer>
                <div height="180px" width="100%">
                    {% if fe.letra == 'M' %}
                    <div font-size="8px" padding="10px">
                    Crédito fiscal discriminado en el presente comprobante sólo podrá ser computado a efectos del Régimen de Sostenimiento e Inclusión Fiscal para Pequeños Contribuyentes Ley 27618
                    </div>
                    {% endif %}
                    <div border.color="#555555" height="1px" ></div>
                    {% set final = 0 %}
                    <table font-size="11px">
                        <tr>
                            <td border.type="none" padding-top="3px" font-size="8px">{{cbte.textoPagosParaFactura}}</td>
                            <td border.type="none"></td>
                            <td border.type="none" text-align="right" vertical-align="middle" width="3 cm" padding-top="3px"><span>Subtotal:</span></td>
                            <td border.type="none" text-align="right" vertical-align="middle" width="4 cm" padding-top="3px">
                                <span> {{cbte.moneda.simbolo}}
                                {{(venta.subTotal)|number_format(2,',','.')}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td border.type="none" font-size="8px">Op: {{app.user|upper}} - Ref. #{{venta.nroOperacion}} - {{'now'|date('d-m-Y H:i')}} </td>
                            <td border.type="none" text-align="right" vertical-align="middle" padding-top="5px">Desc [{{venta.descuentoRecargo}}%]: {{cbte.moneda.simbolo}} {{venta.totalDescuentoRecargo|number_format(3,',','.')}}</td>
                            <td border.type="none" text-align="right" vertical-align="middle" width="3 cm" padding-top="5px"><span>Subtotal:</span></td>
                            <td border.type="none" text-align="right" vertical-align="middle" width="4 cm" padding-top="5px">
                                <span>{{cbte.moneda.simbolo}} {{ (venta.subTotal + venta.totalDescuentoRecargo)|number_format(2,',','.') }}</span>
                            </td>
                        </tr>
                        {% if fe.letra == 'A' %}
                        <tr>
                            <td border.type="none"></td>
                            <td border.type="none"></td>
                            <td border.type="none" text-align="right" vertical-align="middle" width="3 cm" padding-top="5px"><span>IVA:</span></td>
                            <td border.type="none" text-align="right" vertical-align="middle" width="4 cm" padding-top="5px">
                                <span>{{cbte.moneda.simbolo}} {{ venta.totalIva|number_format(2,',','.')}}</span>
                            </td>
                        </tr>
                            {% if cbte.cliente.categoriaIva == 'I' %}
                            <tr>
                                <td border.type="none"></td>
                                <td border.type="none"></td>
                                <td border.type="none" text-align="right" vertical-align="middle" width="3 cm" padding-top="5px"><span>Perc. IIBB {{iibb_percent|number_format(2,'.',',')}}%:</span></td>
                                <td border.type="none" text-align="right" vertical-align="middle" width="4 cm" padding-top="5px">
                                    <span>{{cbte.moneda.simbolo}} {{ (venta.totalIibb)|number_format(2,',','.')}}</span>
                                </td>
                            </tr>
                            {% endif %}
                        {% endif %}
                    </table>

                    <table>
                        <tr>
                            <td border.color="#555555" height="30px" vertical-align="middle"  width="4 cm" text-align="center" font-size="9px">Dirección de Comercio Interior 0800-444-3346</td>
                            <td border.type="none"></td>
                            <td border.type="none" text-align="right" vertical-align="middle" width="3 cm" margin-top="8px" font-size="18px"><strong>Total:</strong></td>
                            <td border.type="top" border.size="2" text-align="right" vertical-align="middle" width="4 cm" margin-top="8px" font-size="18px"> <strong>$ {{ fe.total|number_format(2,',','.')}}</strong>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td border.type="none" width="90"><img ignore-error="true" src="{{qr}}" width="84" height="84"  /></td>
                            <td border.type="none" vertical-align="bottom" text-align="left" ><img ignore-error="true" src="{{logoafip}}" height="70"  /></td>
                            <td border.type="none" vertical-align="middle" width="4 cm" font-size="12px">
                                <div padding-bottom="5px">CAE: {{ fe.cae }}</div>
                                <div>Venc. CAE: {{ fe.caeVto|date('d/m/Y') }}</div>
                            </td>
                        </tr>
                    </table>

                </div>
            </footer>
        </placeholders>
        <div border.color="#555555" height="1px" ></div>
        <table font-size="11px" padding-bottom="10px">
            <tr>
                <td border.type="none" padding-top="10px">
                    <div>
                    <strong>CLIENTE:</strong>
                    {% if cbte.nombreCliente %}
                        {{cbte.nombreCliente}}
                    {% else %}
                        {{cbte.cliente.nombre}}
                    {% endif %}
                    </div>
                    <div padding-left="54px" padding-top="5px" > {{ cbte.cliente.direccion }}</div>
                    <div padding-left="54px" padding-top="5px" > {{ cbte.cliente.localidad }}</div>
                </td>
                <td border.type="none" padding-top="10px">
                    {% if cbte.cliente.categoriaIva %}
                        {{ cbte.cliente.categoriaIva.descripcion }}
                    {% else %}
                        Consumidor Final
                    {% endif %}
                </td>
                <td border.type="none" padding-top="10px">
                    CUIT N°: {{ cbte.cliente.cuit }}
                </td>
            </tr>
            <tr>
                <td colspan="2" border.type="none" padding-top="10px">
                    <strong>Condición de Venta:</strong> {{cbte.formaPago}}
                </td>
            </tr>
        </table>

        <table font-size="9px" padding-top="10px">
            <tr margin-bottom="8px">
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                    Cantidad
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2.5 cm">
                    Código
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center">
                    Descripción
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2.5 cm">
                    Unitario
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="1.5 cm">
                    Alic. IVA
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2.5 cm">
                    Total
                </td>
            </tr>
            {% for item in cbte.venta.detalles %}
            <tr>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {{item.cantidad}} {{ item.producto.unidadmedida.nombre }}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="center">
                    {{item.producto.codigo}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" padding-left="10px">
                    {{item.nombreProducto}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {{item.precioUnitarioItem|number_format(3,',','.')}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {{item.alicuota|number_format(2,',','.')}}%
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {{ item.totalItem|number_format(2,',','.')}}
                </td>
            </tr>

            {% endfor %}
            {% if cbte.venta.concepto %}
            <tr>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px" padding-top="5px">
                    {{ 1|number_format(3,',','.')}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="center" padding-top="5px">
                    999999
                </td>
                <td border.type="none" height="15px" vertical-align="middle" padding-left="10px" padding-top="5px">
                    {{cbte.venta.concepto|nl2br}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px" padding-top="5px">
                    {{0|number_format(3,',','.')}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px" padding-top="5px">
                    {{21|number_format(2,',','.')}}%
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px" padding-top="5px">
                     {{ 0|number_format(2,',','.')}}
                </td>
            </tr>
            {% endif %}
        </table>

    </dynamic-page>
