{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Formas de Pago</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >{{ (entity.id) ? 'Editar datos de '~entity.nombre|upper : 'Alta de Nueva Forma de Pago' }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
 {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <div class="two_fields">
            {{ form_row(form.nombre, { 'attr': {'class' : 'mediuminput', 'style':'text-transform:uppercase','autofocus':'autofocus' } }) }}
            {{ form_row(form.cuotas, { 'attr': {'class' : 'mininput'} }) }} 
            </div> 
            <div class="locate">
            {{ form_row(form.cuentaCorriente) }}
              {{ form_row(form.tarjeta) }}   
            {{ form_row(form.plazo) }}
            {{ form_widget(form.vencimiento, { 'attr': {'class' : 'mininput'} }) }}
        </div>  
            <div class="locate">
            {{ form_row(form.tipoRecargo, { 'attr': {'class' : 'mininput'} }) }} 
            {{ form_row(form.porcentajeRecargo, { 'attr': {'class' : 'mininput'} }) }}
            {{ form_row(form.copiasComprobante, { 'attr': {'class' : 'mininput'} }) }}

            </div> 
            <div class="locate">
            {{ form_row(form.descuentoPagoAnticipado, { 'attr': {'class' : 'mininput'} }) }} 
            {{ form_row(form.mora, { 'attr': {'class' : 'mininput'} }) }}
            {{ form_row(form.diasMora, { 'attr': {'class' : 'mininput'} }) }}
            </div> 

         
                   
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('sistema_formapago')}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}