{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Gestión de Ventas</h1>
    <span class="pagedesc">Control de Ventas, Clientes y Cuenta Corriente</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}
<div id="contentwrapper" class="contentwrapper">
<div>
    <div class="two_third dashboard_left">
        <ul class="shortcuts">
{% if app.user.access(app.session.get('unidneg_id'),'ventas_venta') %}

          <li>
            <a href="{{ path('ventas_presupuesto_new') }}" accesskey="P" class="lista" title="Nuevo Presupuesto o Remito (Shift+Alt+P)"><span>Presup. / Remito</span>
            </a>
          </li>
          <li>
            <a href="{{ path('ventas_venta_new') }}" id="venta-launcher" accesskey="V" title="Nueva Venta (Shift+Alt+V)"
                    onClick="{{ app.session.set('checkrequired','1') }}" class="factura"><span>Nueva Venta</span>
            </a>
          </li>
{% endif %}
{% if app.session.get('caja_abierta') %}
{% if app.user.access(app.session.get('unidneg_id'),'ventas_factura_new') %}
        {% set urlxCobrar = path('ventas_por_cobrar') %}
            <li>
                <a href="javascript:void(0)" accesskey="C" title="Cobrar Ventas (Shift+Alt+C)" onclick="partialVentasPorCobrar('{{ urlxCobrar }}')" class="pago"><span>Nuevo Cobro</span>
                </a>
            </li>
    {% endif %}
{% else %}
    {% if app.user.access(app.session.get('unidneg_id'),'ventas_caja_apertura') %}
            <li>
                {% set urlApertura = path('ventas_apertura_new') %}
                <a href="javascript:void(0)" accesskey="C" title="Apertura de Caja (Shift+Alt+C)" onclick="aperturaCajaVentas('{{ urlApertura }}','true')"  class="pago"><span>Nuevo Cobro</span>
                </a>
            </li>
    {% endif %}

{% endif %}
        </ul>
        <br clear="all" />
    </div><!--two_third dashboard_left -->
</div>
</div>
{% include "AppBundle::block-list-js.html.twig" %}
{% endblock %}