{% set simbolo = ( entity.moneda is defined ) ? entity.moneda.simbolo : '$' %}
{% set cativa = (entity.cliente.categoriaIva) ? entity.cliente.categoriaIva.nombre : 'C' %}
{% set showiva = (cativa == 'I' or cativa == 'M') %}
{% set showiibb = (cativa == 'I') %}
<table cellpadding="0" cellspacing="0" border="0" class="stdtable noaction">
  <thead>
    <tr class="resumen">
      <th style="width:18%">
        Subtotal: <span class="simbolo">{{simbolo}}</span>&nbsp;
            <span id="importeSubtotal" >{{ (entity.subTotal)|number_format(3,',','.')}}</span>.-
      </th>
      <th >
        Descuento/Recargo [
            {% if form is defined %}
                {% set disabledDescuentoRecargo = app.user.access(app.session.get('unidneg_id'),'ventas_venta_descuento') ? false : true %}
                {{ form_widget(form.descuentoRecargo, {'attr': {'readonly': disabledDescuentoRecargo, 'class':'width50'} }) }}
            {% else %}
                {{ entity.descuentoRecargo|number_format(2,',','.') }}
            {% endif %}
        %]:
        <span class="simbolo">{{simbolo}}</span>&nbsp;
        <span id="importeRecargo">{{ entity.totalDescuentoRecargo|number_format(3,',','.') }}</span>.-
      </th>
      <th id="ivaTd" style=" {% if not showiva %} display:none; {% endif %} width:16%">
        IVA: <span class="simbolo">{{simbolo}}</span>&nbsp;
        <span id="importeIVA">{{ entity.totalIva|number_format(3,',','.') }}</span>.-
      </th>
      <th id="iibbTd" style="{% if not showiibb %} display:none; {% endif %}width:20%">
        Perc.IIBB [{{iibb_percent|number_format(2,'.',',')}}%]: <span class="simbolo">{{simbolo}}</span>&nbsp;
        <span id="importeIIBB">{{ entity.totalIibb|number_format(3,',','.') }}</span>.-
      </th>
      <th style="width:18%" class="gralTotalTd red">
        TOTAL: <span class="simbolo">{{simbolo}}</span>&nbsp;<span id="importeTotal">
          {{ entity.montoTotal|number_format(3,',','.')}}
        </span>.-
      </th>
    </tr>
  </thead>
</table>
