<div class="selectorCliente" data-categiva="{{cliente ? cliente.condicionIva : ''}}" data-percrentas="{{ cliente ? cliente.percepcionRentas : '' }}">

  <label> DATOS DEL CLIENTE: </label>
  <select id="widgetCliente" style="width:90%"
          name="ventasbundle_cliente"
          data-urlselect = "{{ path('get_autocomplete_clientes') }} "
          data-urldatos = "{{ path('get_datos_venta_cliente') }}"
  >
    {% if cliente %}
      <option value="{{cliente.id}}" selected="selected">{{cliente}}</option>
    {% endif %}
  </select>

</div>
