<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    <td class="prodTd">
        {{ form_widget(item.producto,
            {'attr':
                {'style':'width:80%',
                 'url':path('get_lista_productos'),
                 'url_autocomplete' : path('get_autocomplete_productos'),
                 'url_datos' : path('get_datos_venta_producto'),
                 'url_list' : path('producto_list_datatables'),
                 'fnc':'openModalProducto',
                 'mtitle':'Seleccionar Producto'
                }
            })
        }}
        <a href="javascript:void(0)" class="btn btnaction btn_search"></a>
        <small class="bajominimo hidden">Bajo Mínimo</small>
        {% if item.textoComodin is defined %}
            {{ form_widget(item.textoComodin, {'attr': {'class':'largeinput', 'style':'display:none'}}) }}
        {% endif %}
    </td>
    <td class="cantTd">
        {{ form_widget(item.cantidad, { 'attr': {'class' : 'number floatleft','min':'0'} }) }}
        <span class="unidmed floatleft" style="padding-left: 5px"></span>
    </td>
    <td class="precTd alignright">
        <span>0</span>
        {{ form_widget(item.precio) }}  {{ form_widget(item.alicuota) }}
    </td>
    <td class="itmSubtotalTd alignright">0</td>
    <td class="delTd" style="text-align:center;"></td>
</tr>