{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
    <div class="pageheader notab">
        <h1 class="pagetitle">Administración de Clientes</h1>
    </div>
    <!--pageheader-->
{% endblock %}

{% block contentwrapper %}
    <div id="contentwrapper" class="contentwrapper">
        <h1 id="popup_title">{{ (entity.id) ? 'Editar datos de '~entity.nombre|upper : 'Alta de Nuevo Cliente' }}</h1>
        {% include "AppBundle::notificacion.html.twig" %}
        <div class="divEdicion">
            {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
            {{ form_errors(form) }}
            <fieldset>
                <div class="two_fields">
                    {{ form_row(form.nombre, { 'attr': {'class' : 'mediuminput'} }) }}
                    {{ form_row(form.dni, { 'attr': {'class' : 'mininput'} }) }}
                </div>
                <p>
                    {{ form_label(form.direccion) }}
                    {{ form_widget(form.direccion, { 'attr': {'class' : 'mediuminput capitalize' } })  }}
                    {{ form_errors(form.direccion) }}
                </p>
                <div class="locate">
                    {{ form_row(form.pais) }}
                    {{ form_row(form.provincia) }}
                    {{ form_row(form.localidad) }}
                </div>
                <div class="two_fields">
                    {{ form_row(form.telefono, { 'attr': {'class' : 'mediuminput' } })  }}
                    {{ form_row(form.email, { 'attr': {'class' : 'smallinput' ,'autocomplete':'off'} })  }}
                </div>
                <div class="two_fields">
                    {{ form_row(form.trabajo, { 'attr': {'class' : 'smallinput' } })  }}
                    {{ form_row(form.telefonoTrabajo, { 'attr': {'class' : 'smallinput' } })  }}
                </div>
                <p>
                    {{ form_row(form.direccionTrabajo, { 'attr': {'class' : 'mediuminput' } })}}
                </p>
                <p>
                    {{ form_row(form.localidadTrabajo)  }}
                </p>
                <div class="two_fields">
                    {{ form_row(form.cuit, { 'attr': {'class' : 'smallinput'  } }) }}
                    {{ form_row(form.ultVerificacionCuit, { 'attr': {'class' : 'datepicker'  } }) }}
                </div>

                <div class="two_fields">
                    {{ form_row(form.condicion_iva, { 'attr': {'class' : 'uniformselect'  } }) }}
                    {{ form_row(form.provinciaRentas, { 'attr': {'class' : 'smallinput'  } }) }}
                </div>
                <div class="two_fields">
                    {{ form_row(form.categoriaRentas, { 'attr': {'class' : 'smallinput'  } }) }}
                    {{ form_row(form.vencCertNoRetener, { 'attr': {'class' : 'datepicker'  } }) }}
                </div>

                <div class="two_fields">
                    <div>
                        {{ form_label(form.precioLista, 'Lista de Precios:') }}
                        {{ form_widget(form.precioLista, { 'attr': {'class' : 'uniformselect'  } }) }}
                    </div>
                    {{ form_row(form.transporte, { 'attr': {'class' : 'uniformselect'  } }) }}
                </div>
                <div class="two_fields">
                    {{ form_row(form.tipoCliente, { 'attr': {'class' : 'smallinput'  } }) }}
                    {{ form_row(form.formaPago, { 'attr': {'class' : 'uniformselect' } }) }}
                </div>

                <div class="two_fields">
                    {{ form_row(form.limiteCredito, { 'attr': {'class' : 'smallinput' } }) }}
                    {{ form_row(form.saldoInicial, { 'attr': {'class' : 'width100' } }) }}
                </div>
                <div class="two_fields">
                    {{ form_row(form.observaciones, { 'attr': {'class' : 'mediuminput' } }) }}
                    {{ form_row(form.activo) }}
                </div>
                <br clear="all"/>
                <div class="actionbutton">
                    {% if entity.id and app.user.access(app.session.get('unidneg_id'),'ventas_cliente_delete')  %}
                        <a type="button" class="floatleft delete" href="javascript:void(0)">Eliminar</a>
                    {%endif%}
                    <a class="cancelar floatright" type="button" href="{{ path('ventas_cliente')}}">Cancelar</a>
                    <button class="guardar floatright" type="submit">Guardar</button>
                </div>

            </fieldset>
            {{ form_end(form) }}
            {% if entity.id and app.user.access(app.session.get('unidneg_id'),'ventas_cliente_delete')  %}
                {{ form(delete_form) }}
            {%endif%}
        </div>
    </div>
{% endblock %}
{% block extra_javascripts %}
    {% include "VentasBundle::block-locate-js.html.twig" %}
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
            $('#ventasbundle_cliente_localidadTrabajo').select2({
                placeholder: "Buscar Localidad de trabajo...",
                allowClear: true
            });
            // $(".chzn-select").chosen({no_results_text: "Sin resultados",search_contains: true});
        });
    </script>

{% endblock %}
