<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="application/vnd.ms-excel; charset=UTF-8" />
   </head>
   <body  >
<style>
table{ font-family:'Arial';font-size: 12px; }
table tr th{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background: #CCCCCC;
    font-size: 13px;
    }
table tr td{
    border: 1px solid black;
    height: 20px;
    vertical-align: middle;
    padding: 5px;
}
.align-right{
    text-align: right;
    padding-right: 10px !important;
}
</style>
      <h2 text-align="center"> Listado de Clientes</h2>
        {% if deudor %}
            <h4> Clientes con saldo deudor. </h4>
        {%endif%}
        {% if search %}
            <h4> Término de Búsqueda: "{{search}}" </h4>
        {%endif%}
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre y Apellido</th>
                    <th>CUIT</th>
                    <th>Dirección</th>
                    <th>Localidad</th>
                    <th>Teléfono</th>
                    <th>Tipo Cliente</th>
                    <th>Saldo</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td class="align-right">{{loop.index}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.cuit}}</td>
                        <td>{{item.direccion}}</td>
                        <td>{{item.localidad ? item.localidad.name : ''}}</td>
                        <td>{{item.telefono}}</td>
                        <td>{{item.tipoCliente}}</td>
                        <td>{{item.saldo}}</td>
                        <td>{% if item.activo %} Si {% else %} No{% endif %} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

   </body>
</html>