{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Pagos de Clientes</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}
<div id="contentwrapper" class="contentwrapper">
    <div class="deposito_selector" style="margin-bottom: 15px;">
    <form id="printform" name="printform" target="_blank"  action="{{ path("print_cliente_pagos") }}" method="post">
        <input type="hidden" id="clienteid" name="clienteid"/>
        <input type="hidden" id="fdesde" name="fdesde"/>
        <input type="hidden" id="fhasta" name="fhasta"/>
        <input type="hidden" id="searchterm" name="searchterm"/>
        <input type="hidden" id="datalist" name="datalist"/>
        <button class="stdbtn floatright" type="submit" >Imprimir</button>
    </form>
    <form id="searchform" action="{{ path('ventas_cliente_pagos') }}" method="get">

        {% include "VentasBundle:Partial:_partial-select2-cliente.html.twig" with { 'allowclear': true } %}

        <div style="display: inline-block; margin-right: 30px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Fecha Pago: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" />
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" />
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>
    </form>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Fecha</th>
                {% if not cliId %}
                <th>Cliente</th>
                {% endif %}
                <th class="nosort">Nº Comprobante</th>
                <th class="nosort">Comprobantes Imputados</th>
                <th class="nosort">NC</th>
                <th class="nosort">Importe</th>
                <th class="nosort actionbutton addbutton">
                   {% if app.user.access(app.session.get('unidneg_id'),'ventas_cliente_pagos') and cliId %}
                    <a class="editar create" href="{{ path('ventas_cliente_pagos_new', { 'id': cliId }) }}">Nuevo Pago</a>
                    {% else %} &nbsp; {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><span class="hidden">{{ entity.fecha|date('Ymd') }}</span>{{ entity.fecha|date('d-m-Y') }}</td>
                {% if not cliId %}
                <td>{{ entity.cliente.nombre }}</td>
                {% endif %}
                <td>{{ entity.comprobanteNro }}</td>
                <td>{{ entity.comprobantesTxt }}</td>
                <td>{% if entity.generaNotaCredito %} {{ entity.notaDebCred.notaElectronica.comprobanteTxt }} | {{entity.notaDebCred.moneda.simbolo}} {{entity.notaDebCred.notaElectronica.total|number_format(2,',','.')}} {% endif %}</td>
                <td style="text-align: right">{{ entity.total|number_format(2,',','.') }} </td>
                <td class="buttons">
                   <a href="{{ path('ventas_cliente_pagos_show', { 'id': entity.id }) }}" class="editar btn btnaction btn_folder" title="Ver"></a> &nbsp;
                    <a href="#" url="{{ path('print_comprobante_pago_ventas', { 'id': entity.id })}}" class="editar btn btnaction btn_print"  title="Imprimir Comprobante"></a>
                    {% if not entity.canDelete and false %}                      
                   <a href url="{{ path('ventas_cliente_pagos_delete_ajax', { 'id': entity.id }) }}" class="delete btn btnaction btn_trash" title="Eliminar"></a>
                   {% endif %}
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(document).on('keypress',function(e){
        var keycode = (e.keyCode ? e.keyCode : e.which);
        if(keycode == '13'){ e.preventDefault(); }
    });

    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    var oTable = $('#dyntable2').dataTable();

    $('#printform').on('submit',function(){
        $('#clienteid').val($('#selectClienteIndex').val());
        $('#fdesde').val($('#desde').val());
        $('#fhasta').val($('#hasta').val());
        $('#searchterm').val( $('#dyntable2_filter input').val() );
        var datos = [];
        oTable.api().rows( { search:'applied' } ).data().each(function(value, index) {
            //fecha
            var i = value[0].indexOf('</span>');
            if( i >-1 ){
                var fecha = value[0].substr(i+7);
                value[0]=fecha;
            }
            //concepto
            var a = value[2].indexOf('<span class="hidden">');
            var b = value[2].indexOf('</span>');
            if( a >-1 ){
                var conc = value[2].substr(a+22,b-22);
                value[2]=conc;
            }
            value.splice(6);
            datos[index] = value;
        });
        $('#datalist').val(JSON.stringify(datos));
    });
});
</script>
{% endblock %}