{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}
<div class="pageheader notab">
    <h1 class="pagetitle">Cliente: {{ entity.cliente ? entity.cliente.nombre : ''}}</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" style="margin-bottom:10px">{{ (entity.id) ? 'Editar datos' : 'Alta de Nuevo Pago' }} &nbsp;&nbsp;#{{ '%04d'|format(entity.prefijoNro) ~ '-' ~ '%08d'|format(entity.pagoNro) }}
        <span class="floatright fechahora">
            {{entity.fecha|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fecha|date('H:i:s')}}</span> &nbsp;| &nbsp; {{app.user.username}} </span>
</h1>
{% include "AppBundle::notificacion.html.twig" %}
    <div class="divForm">
        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_pagocliente'}}) }}

    <fieldset class="fields" >
        <div class="selectorCliente" data-categiva="{{entity.cliente.categoriaIva}}" data-percrentas="{{entity.cliente.percepcionRentas}}">
          <label> CLIENTE: </label>
          <input value="{{entity.cliente.nombre}}" disabled style="width:90%"/>
        </div>

        <div class="datos-moneda" data-cotizacion="{{entity.moneda.cotizacion}}" data-simbolo="{{entity.moneda.simbolo}}">

          {% include "VentasBundle:Partial:block-select-moneda.html.twig" %}
        </div>

        <div style="display: inline-block; width: 20%">
            {{ form_label(form.fecha) }}
            {{ form_widget(form.fecha, { 'attr': {'class' : 'datepicker'} }) }}
        </div>
    </fieldset>
    <fieldset >
        {% include "VentasBundle:Partial:_partial-show-datos-cliente.html.twig" %}
    </fieldset>
    <fieldset class="fields" >
        <div style="display: inline-block; width: 55%">
            {{ form_label(form.comprobantes) }}
            {{ form_widget(form.comprobantes,
                    {'attr':
                        {'style':'width:90%',
                          'url': path('get_saldo_comprobante'),
                          'onchange': 'calcularTotal()',
                        }
                    })
                }}
            {{ form_errors(form.comprobantes) }}
        </div>
        <div style="display: inline-block; width: 15%">
            {{ form_label(form.total,'TOTAL:') }}
            <strong class="simbolo">{{ entity.moneda.simbolo }}</strong>
            {{ form_widget(form.total,{'attr':{'class':'number mediuminput', 'readonly':'readonly'}}) }}
        </div>
        <div style="display: inline-block; width: 20%;">
            {{ form_label(form.generaNotaCredito, null, {'label_attr': {'style': 'width:30%'}}) }}
            {{ form_widget(form.generaNotaCredito,
                {'attr': {'onchange': 'actualizarPagos()'}}
                ) }}
            <span class="nota-credito" style="padding:5px;">
                <strong class="simbolo"> {{ entity.moneda.simbolo }} </strong>
                <span> 0.00 </span>
            </span>
            <input id="nota_credito" class="number smallinput" value="0" type="hidden"/>
        </div>
    </fieldset>
    <fieldset class="fields">
        <div>
            {{ form_label(form.observaciones,'OBSERVACIONES:') }}
            {{ form_widget(form.observaciones,{'attr': {'style': 'height:20px'}}) }}
        </div>
    </fieldset>

    {% include "VentasBundle:CobroVenta:_partial-detalle-pago.html.twig" with { 'cobroDetalles': form.cobroDetalles } %}

    {# <fieldset class="detalle_pago" >
        <div style="display:inline-block; width:85%; margin:10px 0 10px 5%;" >
            <h5>DETALLE DEL PAGO:</h5>
            <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="tabla-pagos stdtable noaction" >
                {% set prototype = form.cobroDetalles.vars.prototype %}
                <tbody data-index="{{form.cobroDetalles | length }}"
                    data-prototype="{% filter escape %}{% include 'VentasBundle:Cobro:prototype.html.twig' with {'item':prototype} %}{% endfilter %}"
                >
                {% for det in form.cobroDetalles %}
                    <tr>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="resumen-pagos stdtable noaction">
                <thead>
                    <tr>
                        <th style="text-align:right">
                            IMPORTE: &nbsp;
                            <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                            <span class="pago" style="font-size:16px" >0</span>.-
                        </th>
                        <th width="150px" class="vueltoTh">
                            CAMBIO: &nbsp;
                            <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                            <span class="vuelto" style="font-size:16px"></span>
                        </th>
                        <th width="30px" style="text-align:center;"><a href="javascript:void(0)" id="linkAddPago" tabindex="0" title="Agregar"><span class="add-item-button">+</span></th>
                    </tr>
                </thead>
            </table>

        </div>
    </fieldset> #}

        <fieldset>
            <div class="actionbutton">
                <button class="guardar" id="guardar" type="button">Guardar</button>
                <a class="cancelar" type="button" href="{{ path('ventas_cliente_pagos')}}">Cancelar</a>
            </div>
        </fieldset>
        <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
        {{ form_end(form) }}
</div>
</div>
{% include "VentasBundle:CobroVenta:_partial-dialog-tipopago.html.twig" %}

{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/utils/pagoCliente.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/plugins/jquery.inputmask.js') }}"></script>
<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {

        {# $('#ventasbundle_pagocliente_generaNotaCredito').on('change',function(){
            actualizarPagos();
        }) #}

        {# calcularTotal(); #}
        {# actualizarPagos(); #}

        $('#guardar').on('click', function(){
            if( !$('#ventasbundle_pagocliente_comprobantes').val() ){
                jAlert('Debe indicar los comprobantes a abonar!');
                $('#ventasbundle_pagocliente_comprobantes').select2('focus');
                return false;
            }
            pago = parseFloat($('.pago').html());
            nc = jQuery("#nota_credito").val();

            if( $(':invalid').length>0 || (pago<=0 && nc<=0) ){
                jAlert( 'Completar todos los datos para registrar el pago!');
                return false;
            }

            txt = 'CONFIRMA LA REGISTRACIÓN DEL PAGO?';
            if( vuelto < 0 ){
                txt = txt + '\n\n' + 'El pago se imputará a las facturas indicadas hasta cubrir el monto del mismo.';
            }
            if( !confirm(txt)){
                return false;
            }
            data = $('#ventasbundle_pagocliente').serialize();
            $.ajax({
                type: "POST",
                url: '{{ path("ventas_cliente_pagos_create") }}',
                data: data,
                dataType: 'json',
                success: function(res){
                    if (res.msg=='OK') {
                        window.open(res.urlprint);
                        window.location.href = res.urlback;
                    }else{
                        jAlert(res.msg);
                    }
                },
                error: function(error){
                    jAlert("No se pudo generar el pago!");
                }
            });

        });

        $('#ventasbundle_pagocliente_comprobantes').select2('focus');

    });



    function actualizarPagos() {
        total = checknumero( $('#ventasbundle_pagocliente_total'),2 );
        pagos = nc = 0;
        items = $(".tabla-pagos tbody tr.item");
        items.each(function(){
            importe = checknumero( $(this).find('[id*="_importe"]'),2 );
            pagos += importe
        });
        // si se genera nc calcular y sumar importe
        generanc = $('#ventasbundle_pagocliente_generaNotaCredito').is(':checked');
        if( generanc ){
            // calcular valor de nc
            nc = total - pagos;
        }
        $('#nota_credito').val(nc.toFixed(2));
        $('.nota-credito span').html(nc.toFixed(2));
        $('.nota-credito').toggle( generanc );
        $('.nota-credito').toggleClass('red', nc<0 );

        $('.pago').html( pagos.toFixed(2) );
        vuelto = pagos - total + nc;
        $('.vuelto').html(vuelto.toFixed(2))
    }

    function calcularTotal(){
        obj = $('#ventasbundle_pagocliente_comprobantes');
        data = obj.val();
        if( data ){
            url = obj.attr('url');
                    $.ajax({
                        url: url,
                        async: false,
                        data: {ids:data},
                        success: function(data){
                            total = parseFloat(data);
                            $('#ventasbundle_pagocliente_total').val( total.toFixed(2) );
                            actualizarPagos();
                        }
                    });
        }else{
          total = 0
          $('#ventasbundle_pagocliente_total').val( total.toFixed(2) );
          actualizarPagos();
        }
    }
});


</script>
{% endblock %}