{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Pago del Cliente - {{entity.cliente.nombre}}</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Pago Nº {{entity.nroPago}}</h1>
<div class="divEdicion">    
    <form action="#" method="post" class="stdform">
        <fieldset >
            <div class="two_fields">
                <div><label for="nroFactura">Nº Pago:</label>
                    <input type="text" value="{{entity.nroPago}}" disabled="disabled" class="width100">
                </div>
                <div><label for="nroComprobante">Comprobante</label>
                    <input type="text" value="{{entity.nroComprobante}}" disabled="disabled" class="width100">
                </div>
            </div> 
            <p><div><label for="cliente">Cliente:</label>
                    <input type="text" value="{{entity.cliente}}" disabled="disabled" class="smallinput">
                </div>
            </p>
            <p><div><label for="fecha">Fecha Pago:</label>
                    <input type="text" value="{{entity.fecha|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </p>
            <p>
            <div><label for="concepto">Facturas:</label>
                <textarea class="mediuminput" disabled="disabled">{{entity.conceptoTxt}}</textarea>   
                
                </div>
            </p>
            <p><div><label for="detalle">Detalle:</label>
                <textarea class="mediuminput" disabled="disabled">{{entity.detalle}}</textarea>
                </div>
            </p>
            <div class="locate">
                <div><label for="importe">Importe</label><input type="text" class="width50" value="{{entity.importe}}"></div>
                <div><label for="importe">Depósito:</label><input type="text" class="width50" value="{{entity.deposito}}"></div>
                <div><label for="importe">Cheques:</label>
                    <input type="text" value="{{entity.getTotalCheques}}" disabled="disabled" id="totCheques" class="width50">
                </div>
                <div><label for="importe">TOTAL:</label>
                    <input type="text" value="{{entity.getTotal}}" disabled="disabled" id="total" class="width100">
                </div>
            </div>    
            <br clear="all" /> 
            <div style="margin-bottom: 20px;">
                 <h4 style="margin-bottom: 5px;">Cheques </h4>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" >
                        <thead>
                            <tr>
                                <th style="width:12%;" class="head0">Nº Interno</th>
                                <th style="width:12%;" class="head0">Nº Cheque</th>
                                <th class="head0" style="width:12%;">Fecha</th>
                                <th class="head0">Titular</th>
                                <th class="head0">Dador</th>
                                <th class="head0">Banco</th>
                                <th class="head0">Sucursal</th>
                                <th class="head0" style="width:10%;">Importe</th>
                            </tr>
                        </thead>
                        <tbody >
                        {% for cheque in entity.chequesRecibidos %}
                            <tr class="item" {% if cheque.devuelto %}style="text-decoration:line-through; " {% endif %}>
                                <td>{{cheque.nroInterno}}</td>
                                <td>{{cheque.nroCheque}}</td>
                                <td>{{cheque.fecha|date('d/m/Y')}}</td>
                                <td>{{cheque.titularCheque}}</td>
                                <td>{{cheque.dador}}</td>
                                <td>{{cheque.banco}}</td>
                                <td>{{cheque.sucursal}}</td>
                                <td class="importeTd">{{cheque.valor}}</td>                            
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>                
            </div>                     
            <div class="actionbutton">
                <a class="cancelar" type="button" href="#" onclick="history.back();">Volver</a>
            </div>
        </fieldset>
    </form>
</div>    
</div>
{% endblock %}