{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}
<div class="pageheader notab">
    <h1 class="pagetitle">Cliente: {{entity.cliente.nombre}}</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Pago Nº {{entity.comprobanteNro}}
    <span class="floatright fechahora"> {{entity.fecha|date('d/m/Y')}}
             &nbsp;| &nbsp; {{app.user.username}} </span>
</h1>
<div class="divForm divEdicion">
    <form class="form-horizontal" id="ventasbundle_pagocliente">
        <fieldset class="fields">
            <div class="selectorCliente">
                <label>DATOS DEL CLIENTE: </label>
                <select style="width:80%" disabled="disabled" ><option>{{ entity.cliente.nombre }}</option></select>
            </div>
            <div class="datos-moneda">
                <label>MONEDA:
                  {% if entity.moneda.cotizacion != 1 %}
                    <small><label> TIPO DE CAMBIO:</label> {{ entity.moneda.cotizacion }}</small>
                  {% endif %}
                </label>
                <select class="select2" style="width:80%" disabled="disabled">
                    <option>{{ entity.moneda.nombre}}</option>
                </select>
            </div>
            <div style="display: inline-block; width: 20%">
                <label>FECHA DE PAGO:</label>
                <input type="text" disabled="disabled" class="datepicker hasDatepicker" value="{{entity.fecha|date('d/m/Y')}}">
            </div>
        </fieldset>
        <fieldset >
            <div class="datos-cliente">
                {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente} %}
            </div>

        </fieldset>

        <fieldset class="fields">
            <div style="display: inline-block; width: 55%">
                <label >COMPROBANTES IMPUTADOS:</label>
                <select class="select2" style="width:90%">
                    <option> {{ entity.comprobantesTxt }} </option>
                </select>
            </div>
            <div style="display: inline-block; width: 15%">
                <label>TOTAL:</label>
                <strong> {{ entity.moneda.simbolo }} </strong>
                <input class="number width100" disabled="disabled" value="{{ entity.total|number_format(2,',','.') }}">
            </div>
            <div style="display: none; width: 20%;">
                <label>Generar NC:</label>
                <input type="checkbox" {% if entity.generaNotaCredito %} checked="checked" {% endif %} >
                {% if entity.generaNotaCredito %}
                <span class="nota-credito" style="padding: 5px;">
                    <strong> {{ entity.moneda.simbolo }} </strong>
                    <span>{{ entity.montoNc|number_format(2,',','.') }}</span>
                </span>

                {% endif %}
            </div>
        </fieldset>
        <fieldset class="fields recibos ">
        <div style="display: inline-block; width: 55%">
          <label >RECIBOS IMPUTADOS:</label>
            <select class="select2" style="width:90%">
                <option> {{ entity.recibosTxt }} </option>
            </select>
        </div>
          <div style="display: inline-block;">
          <label>PAGOS A CUENTA:</label>
          <select class="select2" style="width:90%">
                <option> {{ entity.destinoSaldo }} </option>
            </select>
          </div>

    </fieldset>
        <fieldset class="fields">
            <div>
                <label>OBSERVACIONES:</label>
                <textarea rows="1" style="height:20px">{{ entity.observaciones|raw }}</textarea>
            </div>
        </fieldset>

        <fieldset class="detalle_pago">
            <div style="display:inline-block; width:85%; margin:0 0 10px 5%;" >
                <h5>DETALLE DEL PAGO:</h5>
                <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="tabla-pagos stdtable noaction" >
                    <tbody>
                    {% set importe = 0 %}
                    {% if entity.generaNotaCredito %}
                        {% set importe = importe + entity.montoNc %}
                        <tr class="item">
                            <td class="monedaTd" style="text-align:right;">
                                <label>NOTA DE CRÉDITO {{ entity.notaDebCred }}: </label>
                            </td>
                            <td class="importeTd alignright" width="160px">
                                <span style="font-size:16px;font-weight:bold">{{ entity.moneda.simbolo }} {{ entity.notaDebCred.total|number_format(2,',','.') }}</span>
                            </td>
                        </tr>
                    {% endif %}
                    {% for det in entity.cobroDetalles %}
                        {% set importe = importe + det.importe %}
                        {% if det.tipoPago == 'EFECTIVO' %}
                            <tr class="item">
                                <td class="monedaTd" style="text-align:right;">
                                    <label>EFECTIVO: </label>
                                </td>
                                <td class="importeTd alignright" width="160px">
                                    <span style="font-size:16px;font-weight:bold">{{ det.moneda.simbolo }} {{ det.importe|number_format(2,',','.') }}</span>
                                </td>
                            </tr>
                        {% endif %}
                        {% if det.tipoPago == 'CHEQUE' %}
                            <tr class="item">
                                <td class="chequeTd" style="font-size:11px">
                                    <div style="margin:5px 0">
                                        <label>CHEQUE N°</label>
                                        <span>{{ det.chequeRecibido.nroCheque }}</span>
                                        <label>Fecha:</label>
                                        <span>{{ det.chequeRecibido.fecha|date('d-m-Y') }}</span>
                                        <label>Dador:</label>
                                        <span>{{ det.chequeRecibido.dador }}</span>
                                        <label>Banco:</label>
                                        <span>{{ det.chequeRecibido.banco }}</span>
                                        <label>Sucursal:</label>
                                        <span>{{ det.chequeRecibido.sucursal }}</span>
                                    </div>
                                </td>
                                <td class="importeTd alignright" width="160px">
                                    <span style="font-size:16px;font-weight:bold">{{ det.moneda.simbolo }} {{ det.importe|number_format(2,',','.') }}</span>
                                </td>
                            </tr>
                        {% endif %}
                        {% if det.tipoPago == 'TARJETA' %}
                            <tr>
                                <td class="tarjetaTd" style="font-size:11px">
                                    <div style="margin:5px 0">
                                        <label>TARJETA:</label>
                                        <span>{{ det.datosTarjeta.tarjeta }}</span>
                                        <label>Número: </label>
                                        <span>{{ det.datosTarjeta.numero }}</span>
                                        <label>Cupón: </label>
                                        <span>{{ det.datosTarjeta.cupon }}</span>
                                        <label>Cuotas: </label>
                                        <span>{{ det.datosTarjeta.cuota }}</span>
                                        <label>Código Autorización: </label>
                                        <span>{{ det.datosTarjeta.codigoAutorizacion }}</span>
                                    </div>
                                    {% if det.datosTarjeta.firmante %}
                                    <div style="margin:5px 0">
                                        <label>Firmante: </label>
                                        <span>{{ det.datosTarjeta.firmante }}</span>
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="importeTd alignright" width="160px">
                                    <span style="font-size:16px;font-weight:bold">{{ det.moneda.simbolo }} {{ det.importe|number_format(2,',','.') }}</span>
                                </td>
                            </tr>
                        {% endif %}
                        {% if det.tipoPago == 'TRANSFERENCIA' %}
                          <tr>
                            <td class="transferenciaTd">
                                {% if det.bancoMovimiento %}
                                <div style="margin:5px 0">
                                    <label>TRANSFERENCIA Banco:</label>
                                    <span> {{det.bancoMovimiento.banco.nombre }}</span>

                                    <label>Cuenta:</label>
                                    <span>{{ det.bancoMovimiento.cuenta.nroCuenta}}</span>

                                    <label>N°</label>
                                    <span>{{ det.bancoMovimiento.nroMovimiento}}</span>
                                </div>
                                {% else %}
                                <div style="margin:5px 0">
                                    <label>TRANSFERENCIA:</label>
                                </div>
                                {% endif %}
                            </td>
                            <td class="importeTd alignright" width="160px">
                              <span style="font-size:16px;font-weight:bold">{{ det.moneda.simbolo }} {{ det.importe|number_format(2, ',', '.') }}</span>
                            </td>
                          </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
                <table style="width:100%" cellpadding="0" cellspacing="0" border="0" class="resumen-pagos stdtable noaction">
                    <thead>
                        <tr>
                            <th style="text-align:right">
                                IMPORTE: &nbsp;
                                <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                                <span class="pago" style="font-size:16px" >{{importe|number_format(2,',','.')}}</span>.-
                            </th>
                            <th width="150px" class="vueltoTh">
                                {{ entity.destinoSaldo }}: &nbsp;
                                <span class="simbolo" style="font-size:16px">{{ entity.moneda.simbolo }} </span>
                                <span class="vuelto" style="font-size:16px">{{ (importe - entity.total)|number_format(2,',','.')}}  </span>
                            </th>
                        </tr>
                    </thead>
                </table>

            </div>
        </fieldset>





        <fieldset>

            <div class="actionbutton">
                <a class="cancelar" type="button" href="#" onclick="history.back();">Volver</a>
            </div>
        </fieldset>
    </form>
</div>
</div>
{% endblock %}