{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}
<div class="pageheader notab">
    <h1 class="pagetitle">Cliente: {{ entity.cliente ? entity.cliente.nombre : ''}}</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" style="margin-bottom:10px">{{ (entity.id) ? 'Editar datos' : 'Alta de Nuevo Pago' }} &nbsp;&nbsp;#{{ '%04d'|format(entity.prefijoNro) ~ '-' ~ '%08d'|format(entity.pagoNro) }}
        <span class="floatright fechahora">
            {{entity.fecha|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fecha|date('H:i:s')}}</span> &nbsp;| &nbsp; {{app.user.username}} </span>
</h1>
{% include "AppBundle::notificacion.html.twig" %}
    <div class="divForm">
        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_pagocliente'}}) }}

    <fieldset class="fields" >
        <div class="selectorCliente" data-categiva="{{entity.cliente.condicionIva.codigo}}" data-percrentas="{{entity.cliente.percepcionRentas}}">
          <label> CLIENTE: </label>
          <input value="{{entity.cliente.nombre}}" disabled style="width:90%"/>
        </div>

        <div class="datos-moneda" data-cotizacion="{{entity.moneda.cotizacion}}" data-simbolo="{{entity.moneda.simbolo}}">

          {% include "VentasBundle:Partial:block-select-moneda.html.twig" %}
        </div>

        <div style="display: inline-block; width: 20%">
            {{ form_label(form.fecha) }}
            {{ form_widget(form.fecha, { 'attr': {'class' : 'datepicker'} }) }}
        </div>
    </fieldset>
    <fieldset >
        {% include "VentasBundle:Partial:_partial-show-datos-cliente.html.twig" %}
    </fieldset>
    <fieldset class="fields" >
        <div style="display: inline-block; width: 55%">
            {{ form_label(form.comprobantes) }}
            {{ form_widget(form.comprobantes,
                    {'attr':
                        {'style':'width:90%',
                          'url': path('get_saldo_comprobante'),
                          'onchange': 'calcularTotal()',
                        }
                    })
                }}
            {{ form_errors(form.comprobantes) }}
        </div>
        <div style="display: inline-block; width: 15%">
            {{ form_label(form.total,'TOTAL:') }}
            <strong class="simbolo">{{ entity.moneda.simbolo }}</strong>
            {{ form_widget(form.total,{'attr':{'class':'number mediuminput'}}) }}
        </div>
        <div style="display: inline-block; width: 20%;">
            {{ form_label(form.generaNotaCredito, null, {'label_attr': {'style': 'width:30%'}}) }}
            {{ form_widget(form.generaNotaCredito,
                {'attr': {'onchange': 'actualizarPagos()'}}
                ) }}
            <span class="nota-credito" style="padding:5px;">
                <strong class="simbolo"> {{ entity.moneda.simbolo }} </strong>
                <span> 0.00 </span>
            </span>
            <input id="nota_credito" class="number smallinput" value="0" type="hidden"/>
        </div>
    </fieldset>
    <fieldset class="fields recibos ">
        <div style="display: inline-block; width: 55%">
            {{ form_label(form.recibos) }}
            {{ form_widget(form.recibos,
                    {'attr':
                        {'style':'width:90%',
                          'onchange': 'calcularTotal()',
                        }
                    })
                }}
            {{ form_errors(form.recibos) }}
        </div>
          <div style="display: inline-block;" class="">
              {{ form_label(form.destinoSaldo) }}
              {{ form_widget(form.destinoSaldo,
                      {'attr': {'onchange': 'actualizarPagos()'}
                      }) }}
          </div>
          <div style="display: inline-block;" class="saldos">
              <label>SALDO A FAVOR: $<span id="saldo-pago">0</span>.-</label>
          </div>
    </fieldset>
    <fieldset class="fields">
        <div>
            {{ form_label(form.observaciones,'OBSERVACIONES:') }}
            {{ form_widget(form.observaciones,{'attr': {'style': 'height:20px'}}) }}
        </div>
    </fieldset>

    {% include "VentasBundle:CobroVenta:_partial-detalle-pago.html.twig" with { 'cobroDetalles': form.cobroDetalles } %}

        <fieldset>
            <div class="actionbutton">
                <button class="guardar" id="guardar" type="button">Guardar</button>
                <a class="cancelar" type="button" href="{{ path('ventas_cliente_pagos')}}">Cancelar</a>
            </div>
        </fieldset>
        <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
        {{ form_end(form) }}
</div>
</div>
{% include "VentasBundle:CobroVenta:_partial-dialog-tipopago.html.twig" %}

{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/utils/pagoCliente.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/plugins/jquery.inputmask.js') }}"></script>
<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {
      $('.saldos').hide()
      $('.destinoSaldoTxt').html('A CTACTE:')
      if($('#ventasbundle_pagocliente_recibos option').length >0){
        $('.recibos').removeClass('hidden')
      }
        $('#ventasbundle_pagocliente_total').on('change',function(){
            actualizarPagos();
        })

        $('#guardar').on('click', function(){
            pago = parseFloat($('.pago').html());
            nc = jQuery("#nota_credito").val();

            if( $(':invalid').length>0  ){
                jAlert( 'Completar todos los datos para registrar el pago!');
                return false;
            }

            txt = 'CONFIRMA LA REGISTRACIÓN DEL PAGO?';
            if( vuelto < 0 ){
                txt = txt + '\n\n' + 'El pago se imputará a las facturas indicadas hasta cubrir el monto del mismo.';
            }
            if( !confirm(txt)){
                return false;
            }
            data = $('#ventasbundle_pagocliente').serialize();
            $.ajax({
                type: "POST",
                url: '{{ path("ventas_cliente_pagos_create") }}',
                data: data,
                dataType: 'json',
                success: function(res){
                    if (res.msg=='OK') {
                        window.open(res.urlprint);
                        window.location.href = res.urlback;
                    }else{
                        jAlert(res.msg);
                    }
                },
                error: function(error){
                    jAlert("No se pudo generar el pago!");
                }
            });

        });

        $('#ventasbundle_pagocliente_comprobantes').select2('focus');

    });
});


</script>
{% endblock %}