<style>
    #dyntable2{ font-size: 11px;}
    #dyntable2 thead th,#dyntable2 tfoot th { padding: 4px 10px;}
    #dyntable2 img.ver { margin:8px 0 4px; }
    .closeNotif{ margin: 10px; float: right;}
</style>
<div>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th class="head1">Nº Interno</th>
                <th class="head1">Tomado</th>
                <th class="head1">Dador</th>
                <th class="head1">Banco</th>
                <th class="head1">Cheque Nº</th>
                <th class="head1">Fecha</th>
                <th class="head1">Importe</th>
                <th class="head0 nosort">&nbsp; </th>
            </tr>
        </thead>
        <tbody>
    {% for cheque in cheques %}
        <tr {% if cheque.fecha > date() %} class="cheque-futuro" {% else %} class="cheque-enfecha" {% endif %}>
            <td>{{cheque.getNroInterno}}</td>
            <td>{{cheque.tomado|date('d-m-Y')}}</td>
            <td>{{cheque.dador}}</td>
            <td>{{cheque.banco}}</td>
            <td>{{cheque.nroCheque}}</td>
            <td>{{cheque.fecha|date('d-m-Y')}}</td>
            <td>{{cheque.valor}}</td>            
            <td><input type="checkbox" id="{{cheque.id}}" style="width: 20px;"/></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
<script type="text/javascript" src="{{ asset('assets/js/plugins/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/custom/tables.js') }}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
    var oTable = $('#dyntable2').dataTable(); 
    oTable.fnSort( [ [5,'desc'] ] );
});
</script>