{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Cheques</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >{{ (entity.id) ? 'Editar datos ' : 'Nuevo Cheque ' ~ ( entity.tipo == 'P' ? 'Propio' : 'de Terceros' ) }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
{{ form_start(form, {'attr': {'class': 'stdform'}}) }}
    {% if entity.tipo == 'T' %}
        {% include "ConfigBundle:Cheque:_partial-tercero.html.twig" %}
    {% else %}
        {% include "ConfigBundle:Cheque:_partial-propio.html.twig" %}
    {% endif %}
<div style="display:none">
{{ form_rest(form) }}
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
{% block extra_javascripts %}
    {% include "ConfigBundle::block-locate-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});

    $('.selectBancoPropio').on('change', function(e){
      e.preventDefault()
      url = "{{ path('sistema_banco_get_cuentas') }}"
      bancoId = $(this).val()
      cuentaId = $('.selectCuentaPropio').val()
      $('.selectCuentaPropio').html('')
      $.get(url,{ bancoId }, function(data){
        if(!data.length) alert('El banco no tiene cuentas asociadas! No se podrá crear el cheque')
        data.forEach(c =>
          $('.selectCuentaPropio').append('<option value="'+c.id+'" >'+c.nroCuenta+'</option>')
        )
        $('.selectCuentaPropio').val(cuentaId)
      },'JSON').fail(function(error) {
          alert( error );
      })
    }).change()
});
</script>
{% endblock %}