{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Ventas</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}
<div id="contentwrapper" class="contentwrapper">
<div>
<!-- Require login para ir a venta -->
{{ app.session.set('checkrequired','1') }}
    <form id="searchform" action="{{ path('ventas_venta') }}" method="get">
        {% if not owns %}
        <div style="display: inline-block; margin-bottom: 10px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Usuario:</strong></label>
            <select class="uniformselect" id="selectUser" name="userId">
                <option value="0">Todos</option>
            {% for user in users %}
                <option value="{{user.id}}" {% if user.id==id %} selected="selected" {% endif %}> {{user.nombre}}</option>
            {% endfor %}
            </select>
        </div>
        {% endif %}
        <div style="display: inline-block; margin-right: 30px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Fecha Venta: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" />
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" />
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>
        {% if app.user.access(app.session.get('unidneg_id'),'ventas_venta_new') %}
        <a href="{{ path('ventas_venta_new') }}" id="venta-launcher" class="btn btn_blue btn_dollartag floatright " title="ctrl + alt + V">
            <span style="font-size: 14px;">NUEVA VENTA</span>
        </a>
        {% endif %}
    </form>

</div><!-- button -->
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th># Op.</th>
                <th>Fecha / Hora</th>
                <th>Cliente</th>
                <th>Forma de Pago</th>
                <th>Total</th>
                <th>Estado</th>
                <th>Factura</th>
                {% if not owns %}
                <th>Usuario</th>
                {% endif %}
                <th class="nosort actionbutton addbutton">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
           {% for entity in entities %}
            <tr>
                <td class="alignright">{{entity.nroOperacion}}</td>
                <td><span class="hidden">{{ entity.fechaVenta|date('YmdHi') }}</span>{{ entity.fechaVenta|date('d-m-Y H:i') }}</td>
                <td>{{ entity.cliente }}{{ entity.nombreCliente != 'CONSUMIDOR FINAL' ? ('<br>' ~ entity.nombreCliente) |raw : '' }}</td>
                <td>{{ entity.formaPago }}</td>
                <td class="alignright"><span style="float:left">{{entity.moneda.simbolo}}</span> {{ entity.montoTotal|number_format(3,',','.') }}</td>
                <td class="estado">{{ entity.estado }}</td>
                <td class="factura">{% if entity.cobro %} {{ entity.cobro.facturaElectronica ? entity.cobro.facturaElectronica.comprobanteTxt : ''}} {% endif %}</td>
                {% if not owns  %}
                <td>{{entity.createdBy.username|upper }}</td>
                {% endif %}
                <td class="buttons">
                    <a href="{{ path('ventas_venta_show', { 'id': entity.id }) }}" class="editar btn btnaction btn_folder" title="Ver Venta"></a>
                    {% if app.user.access(app.session.get('unidneg_id'),'ventas_venta_new') %}
                        {% if entity.estado=='PENDIENTE' %}
                        <a href="{{ path('ventas_venta_edit', { 'id': entity.id }) }}" class="editar btn btnaction btn_pencil" title="Editar"></a>
                        {% endif %}
                        <a href="{{ path('ventas_venta_repeat', { 'id': entity.id }) }}" class="editar btn btnaction btn_refresh" title="Generar Nueva"></a>
                    {% endif %}
                    <a href="{{ path('ventas_presupuesto_venta', { 'id': entity.id }) }}" class="editar btn btnaction btn_document" title="Generar Presupuesto"></a>
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>
</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($){
    $(document).on('keydown',function(e){ detectarControles(e); })
    $('#selectUser').change(function(){
        $('#searchform').submit();
    });
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});

    var oTable = $('#dyntable2').dataTable();
    oTable.fnSort( [ [1,'desc'],[0,'desc'] ] );

   $('#printform').on('submit',function(){
        $('#clienteid').val($('#selectCliente').val());
        $('#fdesde').val($('#desde').val());
        $('#fhasta').val($('#hasta').val());
        $('#searchterm').val( $('#dyntable2_filter input').val() );
        var datos = [];
        oTable.api().rows( { search:'applied' } ).data().each(function(value, index) {
            var i = value[1].indexOf('</span>');
            if( i >-1 ){
                var fecha = value[1].substr(i+7);
                value[1]=fecha;
            }
            value.splice(6);
            datos[index] = value;
        });
        $('#datalist').val(JSON.stringify(datos));
    });
  function detectarControles(e) {
    // ctrl + alt + V
    if( e.ctrlKey && e.altKey && e.keyCode == 86 ){
        window.location.href = "{{ path('ventas_venta_new') }}";
    }
}
});
</script>
{% endblock %}