{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}

<div class="pageheader notab">
    <h1 class="pagetitle">VENTA:
        <span style="margin-left:10px" class="nroOperacion">#{{entity.nroOperacion}}</span>
        <span style="margin-left:40px">{{app.user.username}}</span>
        <span class="floatright fechahora">
            {{entity.fechaVenta|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fechaVenta|date('H:i:s')}}</span> &nbsp; </span>
    </h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% include "AppBundle::notificacion.html.twig" %}
    <div class="divForm">

        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_venta'}}) }}

        <fieldset class="fields" >

            {% include "VentasBundle:Partial:block-cliente.html.twig" %}

            {% include "VentasBundle:Partial:block-moneda.html.twig" %}

            {% include "VentasBundle:Partial:block-formapago.html.twig" %}

        </fieldset>

        <fieldset>
            <div class="datos-cliente">
                {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente} %}
            </div>
            <div class="datos-formapago">
                {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}
            </div>
        </fieldset>

        <fieldset class="fields">

            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.precioLista)}}
                {{ form_widget(form.precioLista,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>
            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.deposito)}}
                {{ form_widget(form.deposito,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>
            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.transporte)}}
                {{ form_widget(form.transporte,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>

        </fieldset>
        <fieldset class="fields" style="padding-top:10px">
            {{ form_label(form.concepto) }}
            {{ form_widget(form.concepto) }}
        </fieldset>

        <fieldset>
            <div style="padding-top: 20px; margin:auto; width: 100%;">
                {{ form_errors(form.detalles) }}
                {% include "VentasBundle:Partial:_partial-detalle.html.twig" %}
            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 100%;">
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': false, 'showiibb': false } %}
            </div>
        </fieldset>

        <fieldset>
            <br clear="all" />
            <div class="actionbutton">
                <button class="guardar tabbable" type="submit" >Guardar</button>
                <a class="cancelar tabbable" type="button" href="{{ path('ventas_venta')}}">Cancelar</a>
            </div>
        </fieldset>

        <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
        {{ form_end(form) }}

    </div>

    {% include "VentasBundle:Partial:_partial-notifmsg.html.twig" %}

</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/custom/ventas.js') }}"></script>
<script type="text/javascript">
let checklogin = "{{ app.session.get('checkrequired') }}";
if( checklogin == '1' ){
    checkLoginVentas("{{ path('ventas_login')}}" ,"{{ path('ventas_venta')}}" );
}
jQuery(function ($) {
    $(window).on('load', function () {

        // confirm on submit
        $('#ventasbundle_venta').on('submit', function(){
            if( !validlogin ){
                alert('No posee login válido para realizar ventas!');
                window.location.href = "{{ path('ventas_venta')}}";
                return false;
            }
            // controlar que haya items cargados
            let txt = 'VENTA:   #'+$('#ventasbundle_venta_nroOperacion').val();
            txt = txt + '\n\n' + 'CONFIRMA REGISTRAR LA VENTA?' + '\n' +'Se realizará el descuento de los productos en el stock!';
            if( $('tbody tr.item').length > 0 ){
                if (!confirm(txt)) {
                return false;
                }
            }else{  alert('Debe ingresar items a la venta'); return false;}

        })
    });

});
</script>
{% endblock %}