{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}

<div class="pageheader notab">
    <h1 class="pagetitle">VENTA:
        <span style="margin-left:10px" class="nroOperacion">#{{entity.nroOperacion}}</span>
        <span style="margin-left:40px">{{app.user.username}}</span>
        <span class="floatright fechahora">
            {{entity.fechaVenta|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fechaVenta|date('H:i:s')}}</span> &nbsp; </span>
    </h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% include "AppBundle::notificacion.html.twig" %}

    <div id="updating-data" class="warning hidden" style="text-align:center">
        Actualizando datos del cliente... aguarde por favor
    </div>

    <div class="divForm">

        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_venta'}}) }}

        <fieldset class="fields" >

            {% include "VentasBundle:Partial:block-select-cliente.html.twig" with {'cliente':entity.cliente} %}

            <div class="datos-moneda" data-cotizacion="{{entity.moneda.cotizacion}}" data-simbolo="{{entity.moneda.simbolo}}">

              {% include "VentasBundle:Partial:block-select-moneda.html.twig" %}
            </div>

            {% include "ConfigBundle:FormaPago:widget_select_formapago.html.twig"
              with {'formaPago':entity.formapago, 'consumidorFinal':entity.cliente.consumidorFinal } %}

        </fieldset>

        <fieldset>
            {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente , 'cuitvalido': cuitvalido, 'nombreCliente': entity.nombreCliente} %}

            {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}

        </fieldset>

        <fieldset class="fields">

            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.precioLista)}}
                {{ form_widget(form.precioLista,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>
            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.deposito)}}
                {{ form_widget(form.deposito,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>
            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.transporte)}}
                {{ form_widget(form.transporte,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>

        </fieldset>
        <fieldset class="fields" style="padding-top:10px">
            <div style="display:inline-block; width: 70%;">
                {{ form_label(form.concepto) }}
                {{ form_widget(form.concepto) }}
            </div>
            {% if app.user.isAdmin(app.session.get('unidneg_id')) %}
                <div style="display:inline-block; width: 20%;">
                    {{ form_label(form.descuentaStock, null, {'label_attr': {'style': 'width:50%'}})}}
                    {{ form_widget(form.descuentaStock)}}
                </div>
            {% endif %}
        </fieldset>

        <fieldset>
            <div style="padding-top: 20px; margin:auto; width: 100%;">
                {{ form_errors(form.detalles) }}
                {% include "VentasBundle:Partial:_partial-detalle.html.twig" %}
            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 100%;">
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': false, 'showiibb': false } %}
            </div>
        </fieldset>

        <fieldset>
            <br clear="all" />
            <div class="actionbutton">
                <button id="guardar" class="guardar tabbable" type="submit" >Guardar</button>
                <a class="cancelar tabbable" type="button" href="{{ path('ventas_venta')}}">Cancelar</a>
            </div>
        </fieldset>

        <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
        {{ form_end(form) }}

    </div>


    {% include "VentasBundle:Partial:_partial-notifmsg.html.twig" with {'shortcuts': ['cliente', 'formapago', '+producto'] } %}

</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/utils/widgetFormapago.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/utils/widgetCliente.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/utils/moduloVentas.js') }}"></script>
<script type="text/javascript">
let checklogin = "{{ app.session.get('checkrequired') }}";
let idVenta = '{{ entity.id }}';
if( checklogin == '1' ){
    checkLoginVentas("{{ path('ventas_login')}}" ,"{{ path('ventas_venta')}}" );
}
jQuery(function ($) {
    $(window).on('load', function () {

      // confirm on submit
      $('#ventasbundle_venta').on('submit', function(){
          let txt = 'VENTA:   '+$('.nroOperacion').html();
          if(idVenta){
              txt = txt + '\n' + 'Confirma modificar la venta?';
              txtadic = '\n\n' +'NO SE REALIZARÁ EL AJUSTE DEL STOCK!!!';
          }else{
              txt = txt + '\n' + 'Confirma registrar la venta?';
              txtadic = '\n\n' +'NO SE REALIZARÁ EL DESCUENTO EN EL STOCK!!!';
          }
          if ( !$('#ventasbundle_venta_descuentaStock').attr('checked')){
              txt += txtadic;
          }
          // controlar que haya items cargados
          const trs = $('table tbody tr.item')
          if( trs.length > 0 ){
              let hayVacios = false
                trs.each(function(i,tr){
                    obj = jQuery(tr)
                    if(!obj.find('.widgetProducto').find('option:selected').data('comodin') && (!obj.find('.widgetProducto').val() || obj.find('[id*="_precio"]').val()==0) ){
                            alert('Controle los items ingresados!! Elimine los items vacíos o sin precio')
                            hayVacios = true
                            return false
                    }
                })
                if(hayVacios) return false
              
              if (!confirm(txt)) {
                  return false;
              }
          }else{
              jAlert('Debe ingresar items a la venta', 'Atención');
              return false;
          }
      })

       $('#widgetCliente').select2('focus')

    });

});
</script>
{% endblock %}