{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Ventas a Clientes</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >VENTA:  #{{ entity.nroOperacion }} <span class="floatright">{{entity.estado}}</span></h1>
<div class="divEdicion">
<style type="text/css">
    #form-venta label{
        font-weight: bold;
        padding: 0px 2px 0px 8px;
    }
</style>

<form id="form-venta" name="ventasbundle_venta" class="form-horizontal">
    <fieldset style="padding:10px 0;margin:0 0 10px 0; width: 100%; background-color:gainsboro">

        <div style="display:inline-block; width: 24%;">
            <label>OPERACIÓN: </label>
            <input type="text" disabled="disabled" class="width100" value="#{{entity.nroOperacion}}"/>
        </div>
        <div style="display:inline-block; width: 24%;">
            <label>FECHA/HORA: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.fechaVenta|date('d-m-Y H:i')}}"/>
        </div>
        <div style="display:inline-block; width: 24%;">
            <label>USUARIO: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.createdBy.username}}"/>
        </div>
        {% if entity.estado == 'ANULADO' %}
        <div style="display:inline-block; width: 24%;">
            <label>ANULADO: <span style="color:red; font-size:14px"> &nbsp; {{entity.updated|date('d-m-Y H:i:s') }} | {{entity.updatedBy.username}}</span></label>
        </div>
        {% endif %}
    </fieldset>
    <fieldset>
        <div style="display:inline-block; width: 50%;">
            <label>CLIENTE: </label>
            <select style="width:100%" disabled="disabled">
                <option>{{entity.cliente.nombre}}</option>
            </select>
        </div>
        <div style="display:inline-block; width: 20%;">
            <label>LISTA DE PRECIOS: </label>
            <select style="width:100%" disabled="disabled">
                <option>{{entity.precioLista.nombre}}</option>
            </select>
        </div>
        <div style="display:inline-block; width: 25%;">
            <label>TRANSPORTE: </label>
            <select style="width:100%" disabled="disabled">
                {% if entity.transporte %}
                <option >{{entity.transporte.nombre}}</option>
                {% endif %}
            </select>
        </div>
    </fieldset>
    <fieldset>

      <div class="datos-cliente" style="display:inline-block; width:100%; vertical-align: top;">
        {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente} %}
      </div>
    </fieldset>
    <fieldset>
            <div style="display:inline-block; width: 35%;">
                <label>FORMA DE PAGO: </label>
                <select style="width:100%" disabled="disabled">
                    <option>{{entity.formaPago.nombre}}</option>
                </select>
            </div>
            <div style="display:inline-block; width: 20%;">
                <label>MONEDA: </label>
                <select style="width:100%" disabled="disabled">
                    <option>{{entity.moneda.nombre}}</option>
                </select>
            </div>
            <div style="display:inline-block; width: 25%;">
                <label>DEPÓSITO: </label>
                <select style="width:100%" disabled="disabled">
                    <option>{{entity.deposito.nombre}}</option>
                </select>
            </div>
        </fieldset>
        <fieldset>
            <div class="datos-formapago" style="display:inline-block; width: 35%; vertical-align: top;">
                {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}
            </div>
            <div class="datos-moneda" style="display:inline-block; width: 20%; vertical-align: top;">
                {% if entity.cotizacion != 1 %}
                    <label> TIPO DE CAMBIO: </label> {{entity.cotizacion }}
                {% endif %}
            </div>
        </fieldset>
        <fieldset>
            <div style="padding-top: 20px; margin:auto; width: 100%;">

                {% include "VentasBundle:Partial:_partial-show-detalle.html.twig" %}

            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 100%;">
                {% set cativa = (entity.cliente.categoriaIva) ? entity.cliente.categoriaIva.nombre : 'C' %}
                {% set retrentas = entity.cliente.categoriaRentas ? entity.cliente.categoriaRentas.retencion : 0 %}
                {% set showiva = (cativa != 'C') %}
                {% set showiibb = (cativa == 'I' and retrentas>0) %}
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': showiva, 'showiibb': showiibb } %}

            </div>
        </fieldset>

{% if entity.estado == 'FACTURADO' %}
<fieldset style="padding:10px 0;margin:10px 0 10px 0; width: 100%; background-color:khaki">

        <div style="display:inline-block; width: 20%;">
            <label>COBRO: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.cobro.nroOperacion}}"/>
        </div>
        <div style="display:inline-block; width: 20%;">
            <label>FECHA/HORA: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.fechaVenta|date('d-m-Y H:i')}}"/>
        </div>
        <div style="display:inline-block; width: 18%;">
            <label>USUARIO: </label>
            <input type="text" disabled="disabled" class="width100" value="{{entity.cobro.createdBy.username}}"/>
        </div>
        <div style="display:inline-block; width: 40%;">
            <label>{{ entity.cobro.facturaElectronica.comprobanteTxt }} | Cae: {{ entity.cobro.facturaElectronica.cae }} | VtoCae: {{ entity.cobro.facturaElectronica.caeVto|date('d-m-Y') }} </label>
        </div>

    </fieldset>
{% endif %}



        <fieldset>
            <br clear="all">
            <div class="actionbutton">
                <a class="cancelar tabbable" type="button" href="{{ path('ventas_venta')}}">Cancelar</a>
            </div>
        </fieldset>
    </form>



</div>
</div>
{% endblock %}