<div style="overflow-x: scroll">
    <style>
        table.alicuotas tbody, table.alicuotas thead,table.alicuotas tfoot{
            display: block;
        }
        table.alicuotas tbody {
            overflow-y: scroll;
            height: 240px;
        }
        table.alicuotas thead tr th {
            font-weight: normal;
            background-color: gainsboro;
            color: #666;
            border-right: 1px solid #eee;
            padding: 0px 10px;
        }
    </style>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable datosafip alicuotas" id="afip-comprobante">
        <thead>
            <tr style="background-color: gainsboro">
                <th><span style="width:103px;display: block;">Tipo de Comprobante</span></th>
                <th><span style="width:60px;display: block;">Punto Venta</span></th>
                <th><span style="width:125px;display: block;">N° de Comprobante</span></th>
                <th><span style="width:110px;display: block;">Importe neto gravado</span></th>
                <th><span style="width:74px;display: block;">Alícuota de IVA</span></th>
                <th><span style="width:90px;display: block;">Impuesto liquidado</span></th>
            </tr>
            </thead>
        <tbody>
            {% set totiva, totneto = 0, 0 %}
            {% for item in resultado.alicuotas %}
                {% set totiva, totneto = (totiva + (item.liquidado*item.signo)), (totneto + (item.netoGravado*item.signo))  %}
                <tr {% if 'ALICUOTA' in item.error %} style="background-color:mistyrose"{% endif %} >
                    <td><span style="width:103px;display: block; ">{{item.tipoComprobante}}</span></td>
                    <td><span style="width:60px;display: block;">{{item.puntoVenta}}</span></td>
                    <td><span style="width:125px;display: block;">{{ item.nroComprobante }}</span></td>
                    <td {% if 'ALICUOTA' in item.error %} style="font-weight:bold"{% endif %}>
                        <span style="width:110px;display: block;">{{ item.netoGravado }}</span></td>
                    <td><span style="width:74px;display: block;">{{item.codAlicuota}}</span></td>
                    <td {% if 'ALICUOTA' in item.error %} style="font-weight:bold"{% endif %}>
                        <span style="width:90px;display: block;">{{ item.liquidado }}</span></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h5 style="padding-left:15px">Total Neto Gravado: ${{ (totneto/100)|number_format(2,'.',',') }} &nbsp;// &nbsp;Total Liquidado: ${{ (totiva/100)|number_format(2,'.',',') }}</h5>        
<div>
    <h5 style="text-align:center; margin:10px;"> {{ resultado.alicuotas|length }} alícuotas en REGINFO_CV_VENTAS_ALICUOTAS.txt
        <a class="btn btn2 btn_blue btn_inboxi" style="margin-left: 10px;font-weight: lighter;" href="{{ path('ventas_reginfo_export_txt') }}?periodo={{ periodo }}&tipo={{ tipo }}&file=ALIC" > <span>Descargar</span> </a></h5>
</div>
