{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Monedas</h1>
    <span class="pagedesc">Listado de monedas del sistema</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Nombre</th>                
                <th>Símbolo</th>                
                <th>Cotización</th>                
                <th>Tope</th>                
                <th class="nosort actionbutton addbutton">
                    {% if app.user.access(app.session.get('unidneg_id'),'sistema_moneda_new') %}
                    <a class="editar create" href="{{ path('sistema_moneda_new') }}">Agregar Moneda</a>
                    {% else %} &nbsp; {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre|upper }}</td>                
                <td>{{ entity.simbolo }}</td>                
                <td>{{ entity.cotizacion }}</td>                
                <td>{{ entity.tope }}</td>                
                <td>
                     {% if app.user.access(app.session.get('unidneg_id'),'sistema_moneda_edit') %}
                    <a href="{{ path('sistema_moneda_edit', { 'id': entity.id }) }}" class="editar btn btnaction btn_pencil" ></a>&nbsp;
                    {% endif %}
                    {% if app.user.access(app.session.get('unidneg_id'),'sistema_moneda_delete') %}
                        <a href url="{{ path('sistema_moneda_delete', { 'id': entity.id }) }}" class="delete btn btnaction btn_trash" title="Borrar"></a>                                                               
                    {% endif %}
                </td>
            </tr>
           {% endfor %}           
        </tbody>
    </table> 
</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
{% endblock %}