{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Ajustes de Stock</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Nuevo Ajuste de Stock</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
{{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <div class="two_fields">
                {{ form_row(form.fecha, { 'attr': {'class' : 'datepicker'} }) }}
               {{ form_row(form.deposito) }}
            </div> 
           {{ form_row(form.observaciones, { 'attr': {'class' : 'mediuminput' } }) }}

            <div style="padding-top: 20px; " id="divItems">
                <div style="margin-bottom: 10px;display:inline-block; width:60%;">
        {{ form_label(form.tipo) }}
        {{ form_widget(form.tipo, { 'attr': {'class' : 'radionumerac' } }) }}
                </div> 
                <div style="display:inline-block;">
        {{ form_label(form.registrarAjuste) }}
        {{ form_widget(form.registrarAjuste, { 'attr': {'title' : 'Hasta que no se marque no se registrarán los movimientos en el stock' } }) }}
                </div> 
                
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable noaction" id="detalles">
                    <thead>
                        <tr>
                            <th style="width:3%;"></th>
                            <th style="width:40%;">Producto</th>
                            <th style="width:6%; font-size:1.3em;">+ / -</th>
                            <th style="width:13%;">Cantidad</th>
                            <th style="width:20%;">Motivo</th>
                            <th style="width:1%;" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in entity.detalles %}
                            {% include "AppBundle:Stock:tr_item_ajuste.html.twig" %}                                
                        {% endfor %}           
                    </tbody> 
                    <tfoot>
                        <tr>
                            <th colspan="5"></th>
                            <th colspan="2" style="text-align:center;">
                                <a href="javascript:void(0)" id="linkAdd" data-url="{{path('stock_render_item_ajuste')}}" title="Agregar"><img src="{{asset('assets/images/icons/add.png')}}" /></a>
                            </th>
                        </tr>
                    </tfoot>
                </table>    

            </div>                
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('stock_ajuste')}}">Cancelar</a>
            </div>
        </fieldset>
        <div name="rest" style="display:none">{{ form_rest(form) }}</div>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">
var $tipoajuste='+';
jQuery(document).ready(function($) {    
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    var  depositos = "[{{ app.session.get('depositos')|join(', ') }}]";
    $('#appbundle_stockajuste_deposito option').each(function() {
        if ( depositos.search(  $(this).val() ) == -1 )  {
            $(this).remove();
        }
    });
    $('#detalles').find('.ordTd').each(function(index) {
        $(this).html(index+1);
    });
     // Setear tipo de ajuste segun radio
    $('input:radio').uniform(); 
    var tipo = $('#appbundle_stockajuste_tipo').on('change',function(){
        $tipoajuste = $(this).find(':checked').val();
    });
    tipo.change();
    // Previene submit al enter y evento en el +
    $(document).keypress(function(e) {
        if (e.which == 43) { 
            e.preventDefault();
            $('#linkAdd').click();
        }
        if(e.which == 13){
            $('.additem').click();
        }
    });
    // quitar items al detalle
    $(document).on('click','.delTd', function(e) {
        var res = true;
        res = confirm('Desea eliminar este item?');
        if (res) {
            e.preventDefault();
            id = $(this).data('id');
            tr = $(this).parent().parent();
          // Eliminar item
          $.post( "{{path('stock_item_ajuste_delete')}}" , {'id':id},function(data){
            if(data==='OK'){
                // eliminar de la tabla
                tr.remove();
                //reordenar nros
                $('#detalles').find('.ordTd').each(function(index) {
                  $(this).html(index+1);
                });
            }else{
                alert( 'error '+data.msg );
            }
        } ).fail(function() {
           alert( "No se ha podido eliminar el item. Intente nuevamente." );
         });
        }
    });    

 // AGREGAR NUEVO ITEM   
    $('#linkAdd').on('click',function(){
        var partialurl =  $(this).data('url');    
        $('#popup').dialog('open');
        $('#popup')
            .html('<div class="loaders" style="width: 100%;text-align: center;margin-top: 10px;"><img src="{{asset('assets/images/loaders/loader1.gif')}}" alt="" /></div>')
            .load(partialurl, function() {
                var form = $("[name='appbundle_stockajustedetalle']");
                form.find('input:radio').uniform();
                if( $tipoajuste=='+' ){
                    form.find('#appbundle_stockajustedetalle_signo_0').prop('checked',true);
                }else{
                     form.find('#appbundle_stockajustedetalle_signo_1').prop('checked',true);
                }
                $.uniform.update();
                form.find('#ajusteid').val('{{entity.id}}');
                var prod = form.find("#appbundle_stockajustedetalle_producto");
                prod.chosen({no_results_text: "Sin resultados", search_contains: true});
                prod.change(function () {
                    changeProducto($(this));
                });
                form.find("#appbundle_stockajustedetalle_bulto").uniform();
                form.find("#appbundle_stockajustedetalle_bulto").change(function () {
                    changeBulto($(this));
                });
                var lote_selector = form.find('#appbundle_stockajustedetalle_lotes');
                //lote_selector.html('<option></option>');
                lote_selector.chosen({no_results_text: "Sin resultados",placeholder_text_multiple:"Seleccionar..",search_contains: true});
                form.find('#appbundle_stockajustedetalle_lotes_chzn').css('width','400px');
                var formLote = $("#formlote");
                form.find('.addloteAjuste').on('click',function(){
                    if( prod.val() ){
                        $(this).hide();
                        $('#popuplote').show();                        
                        formLote.find('#producto').val( prod.val() );
                        formLote.find('#nroLote').focus();
                    }
                });
                
                formLote.find('#fechaVencimiento').datepicker({dateFormat: 'dd-mm-yy'});
                formLote.find('#cancelAddLote').on('click',function(){
                    $('#popuplote').hide();
                    formLote.find('#nroLote').val('');
                    formLote.find('#fechaVencimiento').val('');
                    form.find('.addloteAjuste').show();
                });
                formLote.find('#okAddLote').on('click',function(){ 
                    var nro = formLote.find('#nroLote').val();
                    var fecha = formLote.find('#fechaVencimiento').val();
                    if( nro=='' || fecha=='' ){
                        alert('Debe ingresar los datos requeridos.');
                        return false;
                    }
                    var $addLoteProducto="{{ path('add_loteproducto')}}";
                    // crear lote nuevo.
                    var select = $('#appbundle_stockajustedetalle_lotes');                    
                    jQuery.get($addLoteProducto, {prod_id: prod, nro:nro, vto:fecha  },
                        function(datos){ 
                            var newOption = new Option(datos.text, datos.id, true, true);
                            select.append(newOption).trigger("liszt:updated");                            
                        }, "json");
                    $('#popuplote').hide();
                    formLote.find('#nroLote').val('');
                    formLote.find('#fechaVencimiento').val('');
                    form.find('.addloteAjuste').show();
                });                                
                form.find('#appbundle_stockajustedetalle_producto_chzn').trigger('mousedown');
              })
            .dialog({
            modal: true, autoOpen: true, title: 'Agregar item al ajuste',width: '50%', minHeight: 200,
            buttons: [{text: "Agregar", class: 'closePopup additem',
                    click: function() { 
                        var form = $("[name='appbundle_stockajustedetalle']");  
                        if(!form.find("#appbundle_stockajustedetalle_producto").val()){
                            alert('Debe ingresar un producto!');
                            form.find('#appbundle_stockajustedetalle_producto_chzn').trigger('mousedown');
                            return false;
                        }
                        if(!form.find("#appbundle_stockajustedetalle_cantidad").val()){
                            alert('Debe ingresar una cantidad!');
                            form.find("#appbundle_stockajustedetalle_cantidad").focus();
                            return false;
                        }
                        if(form.find("#appbundle_stockajustedetalle_bulto").is(':checked') && !form.find("#appbundle_stockajustedetalle_cantidadxBulto").val()){
                            alert('Si indica por bulto debe ingresar una cantidad!');
                            form.find("#appbundle_stockajustedetalle_cantidadxBulto").focus();
                            return false;
                        }
                        // guardar item en detalle 
                         $.post( "{{path('stock_item_ajuste_create')}}" , form.serialize(),function(data){
                             if(data.msg==='OK'){
                                 // insertar en la tabla
                                $('#detalles tbody').append(data.tr); 
                                //reordenar nros
                                $('#detalles').find('.ordTd').each(function(index) {
                                  $(this).html(index+1);
                                });
                            } else {
                                alert('error ' + data.msg);
                            }
                            }).fail(function () {
                                alert("No se ha podido guardar el item. Intente nuevamente.");
                            }, "json");

                            $(this).dialog("destroy");
                        }}]
            });
        });    
 
// EDITAR ITEM    
    $(document).on('click','.editTd',function(){
        var partialurl =  $(this).data('url'); 
        var actionurl = $(this).data('actionurl'); 
        var tr = $(this).parent().parent();
        $('#popup').dialog('open');
        $('#popup')
            .html('<div class="loaders" style="width: 100%;text-align: center;margin-top: 10px;"><img src="{{asset('assets/images/loaders/loader1.gif')}}" alt="" /></div>')
            .load(partialurl, function() {
                var form = $("[name='appbundle_stockajustedetalle']");
                form.find('input:radio').uniform();
                var prod = form.find("#appbundle_stockajustedetalle_producto");
                prod.chosen({no_results_text: "Sin resultados", search_contains: true}); 
                prod.prop('disabled', true).trigger("liszt:updated");
                
                form.find("#appbundle_stockajustedetalle_bulto").uniform();
                form.find("#appbundle_stockajustedetalle_bulto").change(function () {
                    changeBulto($(this));
                });
                form.find("#appbundle_stockajustedetalle_bulto").change();
                var lote_selector = form.find('#appbundle_stockajustedetalle_lotes');
                lote_selector.chosen({no_results_text: "Sin resultados",placeholder_text_multiple:"Seleccionar..",search_contains: true});
                form.find('#appbundle_stockajustedetalle_lotes_chzn,#appbundle_stockajustedetalle_producto_chzn').css('width','400px');
              })
            .dialog({
            modal: true, autoOpen: true, title: 'Editar item del ajuste',width: '50%', minHeight: 200,
            buttons: [{text: "Modificar", class: 'closePopup additem',
                    click: function() { 
                        var form = $("[name='appbundle_stockajustedetalle']");  
                        if(!form.find("#appbundle_stockajustedetalle_cantidad").val()){
                            alert('Debe ingresar una cantidad!');
                            form.find("#appbundle_stockajustedetalle_cantidad").focus();
                            return false;
                        }
                        if(form.find("#appbundle_stockajustedetalle_bulto").is(':checked') && !form.find("#appbundle_stockajustedetalle_cantidadxBulto").val()){
                            alert('Si indica por bulto debe ingresar una cantidad!');
                            form.find("#appbundle_stockajustedetalle_cantidadxBulto").focus();
                            return false;
                        }
                        // quitar disable antes de enviar
                        form.find("#appbundle_stockajustedetalle_producto").prop('disabled', false).trigger("liszt:updated");
                        // guardar item en detalle 
                         $.post( actionurl , form.serialize(),function(data){
                             if(data.msg==='OK'){
                                 // reemplazar en la tabla
                                 tr.replaceWith(data.tr);
                                //reordenar nros
                                $('#detalles').find('.ordTd').each(function(index) {
                                  $(this).html(index+1);
                                });
                            } else {
                                alert('error ' + data.msg);
                            }
                            }).fail(function () {
                                alert("No se ha podido guardar el item. Intente nuevamente.");
                            }, "json");

                            $(this).dialog("destroy");
                        }}]
            });
        });   

    
    
    
        

    $('.guardar').click(function() {        
        if( !$('#appbundle_stockajuste_deposito').val() ){
            alert('Seleccionar un Depósito para continuar.');
            return false;  
        };
        if( $('#appbundle_stockajuste_registrarAjuste').is(':checked')){
            if( $('tbody tr.item').length > 0 ){
                if (!confirm('Confirma la registración del Ajuste y el movimiento de la mercadería del stock?')) {
                    return false;
                }
            }else{
                alert('Debe ingresar items para registrar!'); return false;
            }
        }
    });
 /*   $(".bulto input").change(function(){ changeBulto( $(this) );  });
    $(".bulto input").each(function() {
        changeBulto( $(this) );
    });
    
    $(".btnlote").click(function(){ lotes( $(this) );  });*/
});    
function changeProducto(producto) {
    var form = jQuery("[name='appbundle_stockajustedetalle']");
    form.find('.loaders').show();
    form.find('#appbundle_stockajustedetalle_cantidad').val('');
    form.find('#appbundle_stockajustedetalle_bulto').prop('checked', 0);
    jQuery.uniform.update();
    form.find('#appbundle_stockajustedetalle_cantidadxBulto').val('');
    form.find(".unidmed").hide();        
    jQuery.ajax({
        url: "{{ path("get_data_producto") }}",
        //async:false,
        dataType: "json",
        data: 'prod=' + producto.val() + '&dep=' + jQuery('#appbundle_stockajuste_deposito').val(),
        success: function (data) {
            form.find('#appbundle_stockajustedetalle_cantidad').val(1);
            form.find('.unidmed').text(data.unidmed);
            if (data.bulto) {
                form.find('#unidmed_bulto').show();
                form.find('#appbundle_stockajustedetalle_cantidadxBulto').val(data.cantxBulto);
            } else {
                form.find('#unidmed_unidad').show();
                form.find('#appbundle_stockajustedetalle_cantidadxBulto').val('');
            }
            form.find('#appbundle_stockajustedetalle_bulto').prop('checked', data.bulto);
            jQuery.uniform.update();
          // cargar lotes
            var lote_selector = form.find('#appbundle_stockajustedetalle_lotes');
            lote_selector.html('<option></option>');
            var lotes = data.lotes;
            if(lotes.length>0){
                for (var i = 0, total = lotes.length; i < total; i++) {                        
                 lote_selector.append('<option value="' + lotes[i].id + '">' + lotes[i].name + '</option>');
                }                
           }
           lote_selector.trigger("liszt:updated");
           jQuery('#productoid').val(  producto.val() );
            form.find('.loaders').hide();
            form.find('#appbundle_stockajustedetalle_cantidad').focus();                
        }
    });
}
function changeBulto(item) {
    var form = jQuery("[name='appbundle_stockajustedetalle']");
    form.find(".unidmed").hide();
    var cantxbulto = form.find('#appbundle_stockajustedetalle_cantidadxBulto');
    if (item.is(':checked')) {
        form.find('#unidmed_bulto').show();
        cantxbulto.prop('readonly', false);
        cantxbulto.css('color', '#666');
        if (cantxbulto.val() == '')
            cantxbulto.val(1);
        cantxbulto.focus();
    } else {
        form.find('#unidmed_unidad').show();
        cantxbulto.prop('readonly', true);
        cantxbulto.css('color', '#fff');
    }
}

/*
function changeProducto(producto){
    jQuery.ajax({
               url: "{{ path("get_data_producto") }}",
               async:false,
               dataType:"json",
               data: 'prod='+ producto.val(),
               success: function(data) { 
                   trIndex = producto.parent().parent();
                   //limpiar lotes
                   var lote_selector = trIndex.find('.lote [id$="_lotes"]');
                   lote_selector.val("-1").trigger("change");  
                   trIndex.find('.cantTd input').val(1);
                   trIndex.find('span.unidmed').html(data.unidmed);
                   if(data.bulto){
                       trIndex.find('span.unidmed').hide();
                       trIndex.find('.cantxBulto input').val(data.cantxBulto);
                   }else{
                       trIndex.find('span.unidmed').show();
                       trIndex.find('.cantxBulto input').val('');
                   }
                   trIndex.find('.bulto input').prop('checked', data.bulto);   
                   jQuery.uniform.update();
                   trIndex.find('.cantTd input').focus();                       
               }
           });
}

function lotes( item ){    
    var lote = item.next('.lote');
    if(item.parent().find('[name*="producto"]').val()){
      // si es + agregar lote 
      var signo = item.parent().next('.signoTd').find('[name*="signo"]').val();         
      lote.toggle();  
      if( !lote.is(":visible")){
          lote.find('[name*="lotes"]').val("-1").trigger("change");
          lote.find('[name*="lotes"]').attr('required',false);
      }else{
         if( signo=='+'){
              lote.find('.addlote').show();
              lote.find('.addlote').click();               
            }else{
                lote.find('.addlote').hide();
            }
      }
    }
}
*/
/*
function addlote( item ){
    jQuery('#nroLote').val('');
    jQuery('#fechaVencimiento').val('');
    jQuery('#popuplote').dialog({
        modal: true, autoOpen: true, title: 'Carga de lote', minHeight: 180,
        buttons: [{text: "Agregar", class: 'closePopup',
                click: function() { 
                    var prod = item.parent().parent().find('[name*="producto"]').val();
                    var nro = jQuery(this).find('#nroLote').val();
                    var fecha = jQuery(this).find('#fechaVencimiento').val();
                    if( nro=='' || fecha=='' ){
                        alert('Debe ingresar los datos requeridos.');
                        return false;
                    }
                    var $addLoteProducto="{{ path('add_loteproducto')}}";
                    // crear lote nuevo.
                    var select = item.parent().find('[name*="lotes"]');
                    jQuery.get($addLoteProducto,{prod_id: prod, nro:nro, vto:fecha  },
                        function(datos){ 
                            var newOption = new Option(datos.text, datos.id, true, true);
                            
                            // create the option and append to Select2
                          //  var option = new Option(datos.id, datos.text, false, false);
                            select.append(newOption).trigger('change');

                            // manually trigger the `select2:select` event
                            select.trigger({
                                type: 'select2:select',
                                params: {
                                    data: datos
                                }
                            });
                            
                        }, "json");
                    
                    //recargar select y seleccionar el valor
                    jQuery(this).dialog("close"); 
                }}]
    });
}
function getUrlLotes(item){
    var prod = item.parent().parent().find('[name*="producto"]').val();
    return '{{ path('select_lotes') }}?prodid='+prod;
}*/
</script>
{% endblock %}