{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Ajustes de Stock</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Nuevo Ajuste de Stock</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
{{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <div class="two_fields">
                {{ form_row(form.fecha, { 'attr': {'class' : 'datepicker'} }) }}
               {{ form_row(form.deposito) }}
            </div> 
           {{ form_row(form.observaciones, { 'attr': {'class' : 'mediuminput' } }) }}
             
            <div style="padding-top: 20px; " id="divItems">
                {{ form_errors(form.detalles) }}
                <div style="margin-bottom: 10px; ">
        {{ form_label(form.tipo) }}
        {{ form_widget(form.tipo, { 'attr': {'class' : 'radionumerac' } }) }}
                </div> 
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable noaction">
                    <thead>
                        <tr>
                            <th style="width:3%;"></th>
                            <th style="width:40%;">Producto</th>
                            <th style="width:6%; font-size:1.3em;">+ / -</th>
                            <th style="width:13%;">Cantidad</th>
                            <th style="width:13%;" colspan="2">Bulto</th>
                            <th style="width:20%;">Motivo</th>
                            <th style="width:3%;"><a href="javascript:void(0)" id="linkAdd" title="Agregar"><img src="{{asset('assets/images/icons/add.png')}}" /></a></th>
                        </tr>
                    </thead>
                    <tbody data-index="{{form.detalles | length }}" data-prototype="{% filter escape %}{% include 'AppBundle:Stock:ajustePrototype.html.twig' with {'item':form.detalles.vars.prototype} %}{% endfilter %}">
                    {% for item in form.detalles %}
                        <tr class="item" divdata="item_{{loop.index-1}}">
                            <td class="ordTd"></td>
                            <td class="prodTd">{{ form_widget(item.producto) }}
                                <a href="javascript:void(0)" class="btnlote btn btn_info" title="Ver/Ocultar Lote"></a>
                                <div class="hidden lote">
                                    {{ form_widget(item.lotes) }}      
                                </div>
                            </td>
                            <td class="signoTd">{{ form_widget(item.signo, { 'attr': {'class' : 'selectsigno'} }) }}</td>
                            <td class="cantTd">{{ form_widget(item.cantidad, { 'attr': {'class' : 'number floatleft','min':'0'} }) }} 
                                <span class="unidmed floatleft" style="padding-left: 5px"></span>
                            </td>
                            <td class="bulto">{{ form_widget(item.bulto) }} </td>
                            <td class="cantxBulto">{{ form_widget(item.cantidadxBulto) }} </td>        
                            <td class="motTd">{{ form_widget(item.motivo, { 'attr': {'rows' : '1'} }) }}</td>
                            <td class="delTd" style="text-align:center;"></td>
                        </tr>
                    {% endfor %}           
                    </tbody>
                </table>    

            </div>                
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('stock_ajuste')}}">Cancelar</a>
            </div>
        </fieldset>
        <div name="rest" style="display:none">{{ form_rest(form) }}</div>
{{ form_end(form) }}
</div>    
</div>

<div id="popuplote" style="display:none;">
  <form id="formlote" class="stdform"> 
      <fieldset>
          <div style="margin: 10px 0">
              <label class="required" style="width:90px">N째 lote:</label>
              <input id="nroLote" class="width100" title="N째 Lote" value="" required="required" type="text"> 
          </div>
      </fieldset>    
      <fieldset>    
          <div>
              <label class="required" style="width:90px">Fecha Vto:</label>
              <input id="fechaVencimiento" class="datepicker width100" required="required" value="" title="Fecha Vencimiento" type="text">  
          </div>   
      </fieldset>      
  </form>
   
</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/plugins/chosen.jquery.min.js') }}"></script>
<script type="text/javascript">
var $collectionHolder;
var $tipoajuste='+';
jQuery(document).ready(function($) {
    depositos = "[{{ app.session.get('depositos')|join(', ') }}]";
    $('#appbundle_stockajuste_deposito option').each(function() {
        if ( depositos.search(  $(this).val() ) == -1 )  {
            $(this).remove();
        }
    });    
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    $(".chzn-select").change(function(){ addUnidadMedida( $(this) ); }); 

     // Setear tipo de ajuste segun radio
    var tipo = $('input:radio').uniform(); 
    tipo.change(function(){
        if( $(this).val()==='+' ){
            $tipoajuste='+';
        }else{
            $tipoajuste='-';
        }
    });
    tipo.change();
        
// Get the container who holds the collection
    $collectionHolder = $('table.stdtable tbody');
    $collectionHolder.find('.delTd').each(function() {
        addItemFormDeleteLink($(this));
    });
    $collectionHolder.find('.ordTd').each(function(i) {
        $(this).html(i + 1);
    });    
    $('#linkAdd').on('click', function(e) {
        e.preventDefault();
        addNewItem();
        e.stopPropagation();
        $collectionHolder.find('.chzn-container').last().trigger('mousedown');
    });    
   $(document).keypress(function(e) {
        if (e.which == 43) { 
            e.preventDefault();
            $('#linkAdd').click();
        }
    });
    $('.guardar').click(function() {        
        if( !$('#appbundle_stockajuste_deposito').val() ){
            alert('Seleccionar un Dep처sito para continuar.');
            return false;  
        };
        if( $('tbody tr.item').length > 0 ){
            if (!confirm('Confirma la registraci처n?')) {
                return false;
            }
        }else{  alert('Debe ingresar items'); return false;}
    });
    $(".bulto input").change(function(){ changeBulto( $(this) );  });
    $(".bulto input").each(function() {
        changeBulto( $(this) );
    });
    
    $(".btnlote").click(function(){ lotes( $(this) );  });
});    
function addNewItem() {
    var prototype = $collectionHolder.data('prototype');
    var index = $collectionHolder.data('index');
    var newForm = prototype.replace(/items/g, index);
    $collectionHolder.append(newForm);
    $collectionHolder.data('index', index + 1);
    addItemFormDeleteLink($collectionHolder.find('.delTd').last());
    $collectionHolder.find('.ordTd').last().html($collectionHolder.data('index'));
    jQuery(".chzn-select").chosen({no_results_text: "Sin resultados",search_contains: true});   
    jQuery('.chzn-container-single').css({minWidth: '90%', width: 'auto'});
    jQuery(".chzn-select").change(function(){ changeProducto( jQuery(this) ); }); 
    jQuery(".bulto input").last().uniform();
    jQuery(".bulto input").change(function(){ changeBulto( jQuery(this) );  });
    jQuery('input').on('focus',function(){ jQuery(this).select(); });
    $collectionHolder.find('[id$="_signo"]').last().val($tipoajuste);
    $collectionHolder.find('[id$="_signo"]').last().change( function(){
        var signo = jQuery(this);
        if(signo.val() == '+'){
           signo.parent().parent().find('.addlote').show();
        }else{
           signo.parent().parent().find('.addlote').hide(); 
        }
    });    
    $collectionHolder.find(".btnlote").last().click(function(){ lotes( jQuery(this) );  });
    $collectionHolder.find(".addlote").last().click(function(){ addlote( jQuery(this) );  });
    
    $collectionHolder.find('.select2Lote').last().select2({
        placeholder: 'Seleccione un lote',
        ajax: {
          url: function (params) {
            return  getUrlLotes( jQuery(this) );
          },                  
          dataType: 'json',
          processResults: function (data) {
            return {
              results: data
            };
          },
          cache: false
        }
      }
    );
    $collectionHolder.find('.select2.select2-container').last().css('width','90%');
}
function addItemFormDeleteLink($itemFormTd) {
    var $removeFormA = jQuery('<a href="javascript:void(0)" title="Quitar" tabIndex="-1"><span class="minus"></span></a>');
    $itemFormTd.append($removeFormA);
    $removeFormA.on('click', function(e) {
        var res = true;
        if ($itemFormTd.parent().find(".cantTd input").val() > 0)
            res = confirm('Desea eliminar este item?');
        if (res) {
            e.preventDefault();
            $itemFormTd.parent().remove();
            $collectionHolder.find('.ordTd').each(function(i) {
               jQuery(this).html(i + 1);
            });
        }
    });
}
function changeProducto(producto){
    jQuery.ajax({
               url: "{{ path("get_data_producto") }}",
               async:false,
               dataType:"json",
               data: 'prod='+ producto.val(),
               success: function(data) { 
                   trIndex = producto.parent().parent();
                   //limpiar lotes
                   var lote_selector = trIndex.find('.lote [id$="_lotes"]');
                   lote_selector.val("-1").trigger("change");  
                   trIndex.find('.cantTd input').val(1);
                   trIndex.find('span.unidmed').html(data.unidmed);
                   if(data.bulto){
                       trIndex.find('span.unidmed').hide();
                       trIndex.find('.cantxBulto input').val(data.cantxBulto);
                   }else{
                       trIndex.find('span.unidmed').show();
                       trIndex.find('.cantxBulto input').val('');
                   }
                   trIndex.find('.bulto input').prop('checked', data.bulto);   
                   jQuery.uniform.update();
                   trIndex.find('.cantTd input').focus();                       
               }
           });
}
function changeBulto(item){ 
    var unidmed = item.parent().parent().parent().siblings('.cantTd').find('.unidmed'); 
        var cantxbulto = item.parent().parent().parent().siblings('.cantxBulto').find('input');
        if( item.is(':checked') ){
            unidmed.hide();
            cantxbulto.prop('readonly',false);     
            cantxbulto.css('color','#666');
            cantxbulto.focus();
        }else{
           unidmed.show(); 
           cantxbulto.prop('readonly',true);
           cantxbulto.css('color','#fff');           
        }   
}

function lotes( item ){    
    var lote = item.next('.lote');
    if(item.parent().find('[name*="producto"]').val()){
      // si es + agregar lote 
      var signo = item.parent().next('.signoTd').find('[name*="signo"]').val();         
      lote.toggle();  
      if( !lote.is(":visible")){
          lote.find('[name*="lotes"]').val("-1").trigger("change");
          lote.find('[name*="lotes"]').attr('required',false);
      }else{
         if( signo=='+'){
              lote.find('.addlote').show();
              lote.find('.addlote').click();               
            }else{
                lote.find('.addlote').hide();
            }
      }
    }
}
function addlote( item ){
    jQuery('#nroLote').val('');
    jQuery('#fechaVencimiento').val('');
    jQuery('#popuplote').dialog({
        modal: true, autoOpen: true, title: 'Carga de lote', minHeight: 180,
        buttons: [{text: "Agregar", class: 'closePopup',
                click: function() { 
                    var prod = item.parent().parent().find('[name*="producto"]').val();
                    var nro = jQuery(this).find('#nroLote').val();
                    var fecha = jQuery(this).find('#fechaVencimiento').val();
                    if( nro=='' || fecha=='' ){
                        alert('Debe ingresar los datos requeridos.');
                        return false;
                    }
                    var $addLoteProducto="{{ path('add_loteproducto')}}";
                    // crear lote nuevo.
                    var select = item.parent().find('[name*="lotes"]');
                    jQuery.get($addLoteProducto,{prod_id: prod, nro:nro, vto:fecha  },
                        function(datos){ 
                            var newOption = new Option(datos.text, datos.id, true, true);
                            
                            // create the option and append to Select2
                          //  var option = new Option(datos.id, datos.text, false, false);
                            select.append(newOption).trigger('change');

                            // manually trigger the `select2:select` event
                            select.trigger({
                                type: 'select2:select',
                                params: {
                                    data: datos
                                }
                            });
                            
                        }, "json");
                    
                    //recargar select y seleccionar el valor
                    jQuery(this).dialog("close"); 
                }}]
    });
}
function getUrlLotes(item){
    var prod = item.parent().parent().find('[name*="producto"]').val();
    return '{{ path('select_lotes') }}?prodid='+prod;
}
</script>
{% endblock %}