{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Rubros</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >{{ (entity.id) ? 'Editar datos' : 'Alta de Nuevo Rubro' }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
    {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
                <p id="selectRubros">
                {% include "ConfigBundle:Parametro:_partial-rubros.html.twig" %}
                </p>
                <p>
        {{ form_label(form.nombre,'SubRubro:') }}
        {{ form_widget(form.nombre, { 'attr': {'class' : 'mininput' } }) }}
        {{ form_errors(form.nombre) }}
                </p>
                <p>
        {{ form_label(form.descripcion,'Descripción:') }}
        {{ form_widget(form.descripcion, { 'attr': {'class' : 'smallinput capitalize' } })  }}
        {{ form_errors(form.descripcion) }}    
                </p>
                <p>
        {{ form_row(form.activo) }} 
                </p>                      
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{path('sistema_parametro', { 'slug': 'rubro' })}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/plugins/jquery.alerts.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('.addrubro').click(function() {
        jPrompt('Ingrese el rubro:', null, 'Nuevo Rubro', function(r) {
		if( r ){
                    jQuery.ajax({
                    url: "{{ path("sistema_parametro_rubro_new") }}",
                    async:true,
                    data: 'rub='+r ,
                    success: function(data) {
                        jQuery('#selectRubros').html(data);
                    }, error: function(data) {
                        alert('No se puede realizar la operación en este momento');
                    }
                });
                } 
            });
            return false;
        });
        });
</script>
{% endblock %}