{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Rubros</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >{{ (entity.id) ? 'Editar datos' : 'Alta de Nuevo Subrubro' }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
{% set title = rubro ? 'SubRubro:' : 'Rubro:' %}
<div class="divEdicion">
    {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
        {% if rubro %}
                <p id="selectRubros">
                {% include "ConfigBundle:Parametro:_partial-rubros.html.twig" %}
                </p>
        {% endif %}
                <p>
        {{ form_label(form.nombre, title) }}
        {{ form_widget(form.nombre, { 'attr': {'class' : 'smallinput' } }) }}
        {{ form_errors(form.nombre) }}
                </p>
                <p>
        {{ form_label(form.descripcion,'Descripción:') }}
        {{ form_widget(form.descripcion, { 'attr': {'class' : 'smallinput capitalize' } })  }}
        {{ form_errors(form.descripcion) }}
                </p>
                <p>
        {{ form_row(form.activo) }}
                </p>
            <br clear="all" />
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{path('sistema_parametro', { 'slug': 'rubro' })}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>
</div>
{% endblock %}