{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Localidades</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >{{ (entity.id) ? 'Editar datos' : 'Alta de Nueva Localidad' }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
     {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <div class="locate">
        {{ form_row(form.pais, { 'attr': {'class' : 'uniformselect'  } }) }}   
        {{ form_row(form.provincia, { 'attr': {'class' : 'uniformselect'  } }) }}  
                </div>    
            <p>
        {{ form_label(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class' : 'smallinput capitalize' } }) }}
        {{ form_errors(form.name) }}
                </p>
                <p>
        {{ form_label(form.codPostal) }}
        {{ form_widget(form.codPostal, { 'attr': {'class' : 'width100' } }) }}
        {{ form_errors(form.codPostal) }}
                </p>
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{path('sistema_parametro', { 'slug': 'localidad' })}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-locate-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function(){
        
});
</script>
{% endblock %}