{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Parámetros Afip</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper" >
    <h1 id="popup_title" >Tabla de {{ slug|upper }}</h1>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2" style="width: 60%; margin:0 auto">
        <thead>
            <tr>
                <th style="width:10%">Código</th>
                <th>Descripción</th>
                <th style="width:10%" class="nosort">Activo</th>
                {% if(slug|upper == 'COMPROBANTE') %}
                  <th style="width:10%" class="nosort">Módulo de Compras</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
          {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo |upper}}</td>
                <td>{{ entity.nombre |upper}}</td>
                <td><input onclick="changeCheckValue()" data-campo="activo" data-id="{{ entity.id }}" type="checkbox" {% if entity.activo %} checked="checked" {% endif %} /></td>
                {% if(entity.visibleCompras is defined) %}
                  <td><input onclick="changeCheckValue()" data-campo="visiblecompras" data-id="{{ entity.id }}" type="checkbox" {% if entity.visibleCompras %}checked="checked"{% endif %} /></td>
                {% endif %}
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">

function changeCheckValue()
{
  let data = event.target.dataset
  jQuery.ajax({
            url: "{{ path("set_paramafip_activo") }}",
            dataType:"json",
            data: {id: data.id, slug: '{{slug}}', campo: data.campo },
            success: function(data) {
                if(data!='OK'){
                    alert(data);
                    checkbox.prop('checked',!valor);
                    $.uniform.update(checkbox);
                }
            }
          });
}
</script>

{% endblock %}