{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Pedidos Interdepósitos</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title"> Edición de Pedido</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
    {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <div>
                 {{ form_row(form.depositoOrigen) }}
            </div>
            <div class="two_fields">
                {{ form_row(form.unidadNegocio) }}
                {{ form_row(form.depositoDestino) }}
            </div>

            <div class="two_fields">
                <div><label for="nroPedido">Nº pedido:</label>
                    <input type="text" value="{{entity.nroPedido}}" disabled="disabled" class="width100">
                </div>
                {{ form_row(form.fechaPedido, { 'attr': {'class' : 'datepicker','tabindex':'2'} }) }}
            </div>
            <div  class="two_fields">
                <div>
                    {{ form_label(form.estado) }}
                    <input type="text" value="{{entity.estado}}" disabled="disabled" class="width100">
                </div>
                {{ form_widget(form.estado) }}
                {% if entity.estado=='NUEVO' %}{{ form_row(form.cerrado,{'label': 'Enviar Pedido ','label_attr':{'title':'Hasta que no se marque el pedido no será visible por el Depósito Destino','class':'infoicon' ,'style':'width:130px'},'attr': {'title':'Hasta que no se marque el pedido no será visible por el Depósito Destino'}  }) }}
                {% else%}<div class="aligncenter"><button type="button" class="stdbtn print">Imprimir Pedido</button></div>{%endif%}
            </div>

<div style="padding-top: 20px;" id="divItems">
                <table style="width:80%;margin: 0 auto;" cellpadding="0" cellspacing="0" border="0" class="stdtable noaction" id="detalle">
                    <thead>
                        <tr>
                            <th style="width:5%;">Nº</th>
                            <th>Producto</th>
                            <th style="width:15%;">Cantidad</th>
                            <th style="width:15%;">TOTAL</th>
                            <th style="width:1%;" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in entity.detalles %}
                         {% include "AppBundle:Pedido:tr_item_pedido.html.twig" %}
                        <!--<tr class="item" style="height:30px;">
                            <td class="ordTd">{{loop.index}}</td>
                            <td class="prodTd">{{ item.producto.codigoNombre }}</td>
                            <td class="cantTd alignright">{{ item.cantidadItemTxt }} </td>
                            <td class="totalTd alignright">{{item.cantidadTotal|number_format(2,'.','')~' '~item.producto.unidadmedida.nombre}}</td>
                            <td style="text-align:center;"><a class="delTd" href="javascript:void(0)" data-id="{{item.id}}"  title="Quitar" tabIndex="-1"><span class="minus"></span></a></td>
                        </tr>-->
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4"></th>
                            <th colspan="2" style="text-align:center;">
                                <a href="javascript:void(0)" id="linkAdd" data-url="{{path('stock_render_item_pedido')}}" title="Agregar"><img src="{{asset('assets/images/icons/add.png')}}" /></a>
                            </th>
                        </tr>
                    </tfoot>
                </table>

            </div>
            <br clear="all" />


            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('stock_pedido')}}">Cancelar</a>
            </div>
        </fieldset>
        <div name="rest" style="display:none">{{ form_rest(form) }}</div>
    {{ form_end(form) }}
</div>
</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-deposito-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    depositos = "[{{ app.session.get('depositos')|join(', ') }}]";
    $('#appbundle_pedido_depositoOrigen option').each(function() {
        if ( depositos.search(  $(this).val() ) == -1 )  {
            $(this).remove();
        }
    });
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    $('#detalle').find('.ordTd').each(function(index) {
        $(this).html(index+1);
    });
    $(document).keypress(function(e) {
        if (e.which == 43) {
            e.preventDefault();
            $('#linkAdd').click();
        }
        if(e.which == 13){
            $('.additem').click();
        }
    });
    $('.guardar').click(function() {
        if( !$('#appbundle_pedido_depositoOrigen').val() ){
            alert('Debe seleccionar un Depósito de origen para el pedido');
            return false;
        };
        if( !$('#appbundle_pedido_depositoDestino').val() ){
            alert('Debe seleccionar un Depósito destino para el pedido');
            return false;
        };
        if( $('#appbundle_pedido_depositoOrigen').val() == $('#appbundle_pedido_depositoDestino').val() ){
            alert('El depósito de origen no puede ser el mismo que el de destino');
            return false;
        };
        if( $('#appbundle_pedido_cerrado').is(':checked')){
            if( $('tbody tr.item').length > 0 ){
                if (!confirm('Confirma el envío del pedido?')) {
                    return false;
                }
            }else{
                alert('Debe ingresar items al pedido para enviar!'); return false;
            }
        }
/*        if( $('tbody tr.item').length > 0 ){
            if (!confirm('Confirma la registración?')) {
                return false;
            }
        }else{  alert('Debe ingresar items al pedido'); return false;}*/
    });
    $(document).on('click','.delTd', function(e) {
        var res = true;
        res = confirm('Desea eliminar este item?');
        if (res) {
            e.preventDefault();
            id = $(this).data('id');
            tr = $(this).parent().parent();
          // Eliminar item
          $.post( "{{path('stock_item_pedido_delete')}}" , {'id':id},function(data){
            if(data==='OK'){
                // eliminar de la tabla
                tr.remove();
                //reordenar nros
                $('.stdtable').find('.ordTd').each(function(index) {
                  jQuery(this).html(index+1);
                });
            }else{
                alert( 'error '+data.msg );
            }
        } ).fail(function() {
           alert( "No se ha podido eliminar el item. Intente nuevamente." );
         });
        }
    });

    // EDITAR ITEM
    $(document).on('click','.editTd',function(){
        var partialurl =  $(this).data('url');
        var actionurl = $(this).data('actionurl');
        var tr = $(this).parent().parent();
        $('#popup').dialog('open');
        $('#popup')
            .html('<div class="loaders" style="width: 100%;text-align: center;margin-top: 10px;"><img src="{{asset('assets/images/loaders/loader1.gif')}}" alt="" /></div>')
            .load(partialurl, function() {
                var form = $("[name='appbundle_pedidodetalle']");
                form.find('#pedidoid').val('{{entity.id}}');
                var prod = form.find("#appbundle_pedidodetalle_producto");
                prod.chosen({no_results_text: "Sin resultados", search_contains: true});
                prod.prop('disabled', true).trigger("liszt:updated");
                form.find("#appbundle_pedidodetalle_bulto").uniform();
                form.find("#appbundle_pedidodetalle_bulto").change(function () {
                    changeBulto($(this));
                });
                //form.find('.chzn-container').last().trigger('mousedown');
              })
            .dialog({
            modal: true, autoOpen: true, title: 'Editar item del pedido',width: '50%', minHeight: 200,
            buttons: [{text: "Modificar", class: 'closePopup additem',
                    click: function() {
                        var form = $("[name='appbundle_pedidodetalle']");
                        if(!form.find("#appbundle_pedidodetalle_cantidad").val()){
                            alert('Debe ingresar una cantidad!');
                            form.find("#appbundle_pedidodetalle_cantidad").focus();
                            return false;
                        }
                        if(form.find("#appbundle_pedidodetalle_bulto").is(':checked') && !form.find("#appbundle_pedidodetalle_cantidadxBulto").val()){
                            alert('Si indica por bulto debe ingresar una cantidad!');
                            form.find("#appbundle_pedidodetalle_cantidadxBulto").focus();
                            return false;
                        }
                        // quitar disable antes de enviar
                        form.find("#appbundle_pedidodetalle_producto").prop('disabled', false).trigger("liszt:updated");
                        // guardar item en detalle
                         $.post( actionurl , form.serialize(),function(data){
                             if(data.msg==='OK'){
                                 // reemplazar en la tabla
                                 tr.replaceWith(data.tr);
                                //reordenar nros
                                $('#detalle').find('.ordTd').each(function(index) {
                                  $(this).html(index+1);
                                });
                            } else {
                                alert('error ' + data.msg);
                            }
                            }).fail(function () {
                                alert("No se ha podido guardar el item. Intente nuevamente.");
                            }, "json");

                            $(this).dialog("destroy");
                        }}]
            });
        });


    $('#linkAdd').on('click',function(){
        var partialurl =  $(this).data('url');
        $('#popup').dialog('open');
        // width: '70%', minHeight: 400,
        $('#popup')
            .html('<div class="loaders" style="width: 100%;text-align: center;margin-top: 10px;"><img src="{{asset('assets/images/loaders/loader1.gif')}}" alt="" /></div>')
            .load(partialurl, function() {
                var form = $("[name='appbundle_pedidodetalle']");
                form.find('#pedidoid').val('{{entity.id}}');
                var prod = form.find("#appbundle_pedidodetalle_producto");
                prod.chosen({no_results_text: "Sin resultados", search_contains: true});
                prod.change(function () {
                   changeProducto($(this));
                });
                form.find("#appbundle_pedidodetalle_bulto").uniform();
                form.find("#appbundle_pedidodetalle_bulto").change(function () {
                    changeBulto($(this));
                });
                form.find('.chzn-container').last().trigger('mousedown');
              })
            .dialog({
            modal: true, autoOpen: true, title: 'Agregar items al pedido',width: '50%', minHeight: 200,
            buttons: [{text: "Agregar", class: 'closePopup additem',
                    click: function() {
                        var form = $("[name='appbundle_pedidodetalle']");
                        if(!form.find("#appbundle_pedidodetalle_producto").val()){
                            alert('Debe ingresar un producto!');
                            form.find('.chzn-container').last().trigger('mousedown');
                            return false;
                        }
                        if(!form.find("#appbundle_pedidodetalle_cantidad").val()){
                            alert('Debe ingresar una cantidad!');
                            form.find("#appbundle_pedidodetalle_cantidad").focus();
                            return false;
                        }
                        if(form.find("#appbundle_pedidodetalle_bulto").is(':checked') && !form.find("#appbundle_pedidodetalle_cantidadxBulto").val()){
                            alert('Si indica por bulto debe ingresar una cantidad!');
                            form.find("#appbundle_pedidodetalle_cantidadxBulto").focus();
                            return false;
                        }
                        // guardar item en detalle
                         $.post( "{{path('stock_item_pedido_create')}}" , form.serialize(),function(data){
                             if(data.msg==='OK'){
                                 // insertar en la tabla
                                 $('#detalle tbody').append(data.tr);
                                //reordenar nros
                                $('#detalle').find('.ordTd').each(function(index) {
                                  $(this).html(index+1);
                                });
                                 /*ord = $('.stdtable tbody tr').length + 1;
                                $('.stdtable tbody').append('<tr class="item" style="height:30px;"><td class="ordTd">'+
                                        ord+'</td><td>'+ data.prod +'</td><td class="alignright">'+data.cant+'</td>'+
                                        '<td class="alignright">'+data.total+'</td><td><a class="delTd" href="javascript:void(0)" title="Quitar" data-id="'+data.id+'" tabIndex="-1"><span class="minus"></span></a></td> </tr>');
                                */
                                } else {
                                    alert('error ' + data.msg);
                                }
                            }).fail(function () {
                                alert("No se ha podido guardar el item. Intente nuevamente.");
                            }, "json");


                            jQuery(this).dialog("destroy");
                        }}]
            });
        });
    });

    function changeProducto(producto) {
        var form = jQuery("[name='appbundle_pedidodetalle']");
        form.find('.loaders').show();
        form.find('#appbundle_pedidodetalle_cantidad').val('');
        form.find('#appbundle_pedidodetalle_bulto').prop('checked', 0);
        jQuery.uniform.update();
        form.find('#appbundle_pedidodetalle_cantidadxBulto').val('');
        form.find(".unidmed").hide();
        form.find('.prodPedPendiente').text('');
        jQuery.ajax({
            url: "{{ path("get_data_producto") }}",
            //async:false,
            dataType: "json",
            data: 'prod=' + producto.val() + '&dep=' + jQuery('#appbundle_pedido_depositoOrigen').val(),
            success: function (data) {
                form.find('#appbundle_pedidodetalle_cantidad').val(1);
                form.find('.unidmed').text(data.unidmed);
                if (data.bulto) {
                    form.find('#unidmed_bulto').show();
                    form.find('#appbundle_pedidodetalle_cantidadxBulto').val(data.cantxBulto);
                } else {
                    form.find('#unidmed_unidad').show();
                    form.find('#appbundle_pedidodetalle_cantidadxBulto').val('');
                }
                form.find('#appbundle_pedidodetalle_bulto').prop('checked', data.bulto);
                jQuery.uniform.update();
                if (data.prodPedPendiente) {
                    txt = 'TOTAL EN PEDIDOS PENDIENTES: ' + data.prodPedPendiente + ' ' + data.unidmed;
                }else{ txt ='NO POSEE PEDIDOS PENDIENTES'; }
                form.find('#appbundle_pedidodetalle_cantidadStock').val(data.stock);
                form.find('.prodPedPendiente').text(txt);
                form.find('#appbundle_pedidodetalle_cantidad').focus();
                form.find('.loaders').hide();
            }
        });
    }
    function changeBulto(item) {
        var form = jQuery("[name='appbundle_pedidodetalle']");
        form.find(".unidmed").hide();
        var cantxbulto = form.find('#appbundle_pedidodetalle_cantidadxBulto')
        if (item.is(':checked')) {
            form.find('#unidmed_bulto').show();
            cantxbulto.prop('readonly', false);
            cantxbulto.css('color', '#666');
            if (cantxbulto.val() == '')
                cantxbulto.val(1);
            cantxbulto.focus();
        } else {
            form.find('#unidmed_unidad').show();
            cantxbulto.prop('readonly', true);
            cantxbulto.css('color', '#fff');
        }
    }
</script>
{% endblock %}