{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">{{title}}</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}
{% if tipo=="P"%}
    <div class="actionbutton addbutton">
        <button class="stdbtn print" type="button" >Imprimir Listado</button>
    </div><!-- button --> 
{% endif %}    
<div id="contentwrapper" class="contentwrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Nro</th>
                <th>Fecha</th>
                <th>Origen</th>
                <th>Destino</th>
                <th class="nosort">Estado</th>
                <th class="nosort">Usuario</th>
                <th class="nosort actionbutton addbutton">
                   {% if app.user.access(app.session.get('unidneg_id'),'stock_pedido_new') %}
                    <a class="editar create" href="{{ path('stock_pedido_new') }}">Nuevo Pedido</a>
                    {% else %} &nbsp; {% endif %} 
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
        {% if (tipo == 'R' and entity.estado=='PENDIENTE') or ( tipo == 'P' ) %}   
            <tr>
                <td>{{ entity.nroPedido}}</td>
                <td>{{ entity.fechaPedido|date('d-m-Y') }}</td>
                <td>{{ entity.depositoOrigen.empresaUnidadDeposito }}</td>
                <td>{{ entity.depositoDestino.empresaUnidadDeposito }}</td>
                <td class=" estado">{{ entity.estado }}</td>
                <td>{{ entity.updatedBy.username }}</td>
                <td class="buttons">
                    {% if app.user.access(app.session.get('unidneg_id'),'stock_pedido') %}
                    <a href="{{ path('stock_pedido_show', { 'id': entity.id }) }}" class="editar btn btnaction btn_folder" title="Ver Pedido"></a>                    
                    {% endif %}
                    {% if app.user.access(app.session.get('unidneg_id'),'stock_pedido_edit') %}
                    <a href="{{ path('stock_pedido_edit', { 'id': entity.id }) }}" class="editar btn btnaction btn_pencil" ></a>&nbsp;
                    {% endif %}
                    {% if app.user.access(app.session.get('unidneg_id'),'stock_pedido_delete') %}
                        <a href url="{{ path('stock_pedido_delete', { 'id': entity.id }) }}" class="delete btn btnaction btn_trash" title="Borrar"></a>                                                               
                    {% endif %}              
                    <a href="#" url="{{ path('stock_pedido_print', { 'id': entity.id }) }}" class="editar btn btnaction btn_print" title="Imprimir Pedido"></a>
                    {% if app.user.access(app.session.get('unidneg_id'),'stock_despacho_new') %}
                    <a href="{{ path('stock_despacho_new', { 'id': entity.id }) }}" class="editar btn btnaction btn_truck" title="Despacho de Mercaderías"></a>                    
                    {% endif %} 
                </td>
            </tr>
            {% endif %}
           {% endfor %}
        </tbody>
    </table>     
</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
var $tipo = '{{tipo}}';    
jQuery(document).ready(function($){

   $('.print').click(function(){
        cant = $('table tbody tr').length;
        if(  cant>0 ){
            url = '{{ path('stock_pedido_listado') }}';
            myWindow=window.open(url,"","toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=yes, titlebar=no,copyhistory=no, width=800, height=450")
            myWindow.focus();
        }
     });

   $('#dyntable2 tr td.estado').each(function(){
       checkButtons($(this));
   });  
});
function checkButtons(estado){
      txt = estado.html();
      buttons = estado.parent().find('.buttons');
      buttons.children('.btnaction').hide();
    if($tipo=='R')   jQuery('.btn_truck').show();
    else{
        if(txt=='FACTURADO' || txt=='RECIBIDO'){ buttons.find('.btn_folder').show();   }
        if(txt=='RECIBIDO'){ buttons.find('.btn_book').show();   }
        if(txt=='PENDIENTE' || txt=='NUEVO'){ buttons.find('.btn_pencil, .btn_trash').show();}
        if(txt!='FACTURADO' && txt!='CANCELADO'){ buttons.find('.btn_print').show();}
    }
};
</script>    
{% endblock %}