<tr class="item" divdata="item_items">
    <td class="ordTd"></td>
    <td class="prodTd">{{ form_widget(item.producto) }}</td>
    <td class="precTd  alignright">
        <span tabIndex="-1">{{ form_widget(item.precio, { 'attr': {'class' : 'width50'} }) }}  </span>
    </td>
    <td class="cantTd">-</td>
    <td class="recTd">{{ form_widget(item.entregado, { 'attr': {'class' : 'width50 floatleft'} }) }} 
        <span class="unidmed floatleft" style="padding-left: 5px"></span>
    </td>
    <td class="bulto">{{ form_widget(item.bulto) }} </td>
    <td class="cantxBulto">{{ form_widget(item.cantidadxBulto) }} </td>
    <td class="totalTd alignright"></td>
    <td class="delTd" style="text-align:center;"></td>
</tr>