{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Productos</h1>
    <span class="pagedesc">Gestión de los productos del sistema.</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
<div>  
    <form id="printform" name="printform" target="_blank"  action="{{ path("export_productos") }}" method="post">
        <input type="hidden" id="proveedorid" name="proveedorid"/>
        <input type="hidden" id="searchterm" name="searchterm"/>
        <input type="hidden" id="datalist" name="datalist"/>
        <button class="stdbtn print floatright" type="submit" >Exportar</button>
    </form>    
    <form id="searchform" action="{{ path('stock_producto') }}" method="get">
        <div style="display: inline-block; margin-bottom: 10px;">
            &nbsp;&nbsp;&nbsp;
        <label style="vertical-align: top;">
            <strong>PROVEEDOR: &nbsp;</strong>
        </label>
        <select class="chzn-select" id="selectProveedor" name="provId">
                <option value="0">Todos</option>
            {% for prov in proveedores %}
                <option value="{{prov.id}}" {% if prov.id==provId %} selected="selected" {% endif %}> {{prov.nombre}}</option>
            {% endfor %}
            </select>  
        </div>        
    </form>
</div><!-- button -->     
    
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="productos_table">        
        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Proveedor</th>
                <th>Rubro</th>
                <th class="nosort">Costo</th>
                <th style="width:5%;" class="nosort">Activo</th>
                <th class="nosort actionbutton addbutton ">
                   {% if app.user.access(app.session.get('unidneg_id'),'stock_producto_new') %}
                    <a class="editar create" href="{{ path('stock_producto_new') }}">Agregar Producto</a>
                    {% else %} &nbsp; {% endif %} 
                </th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table> 
</div>

{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
 <script type="text/javascript">
jQuery(document).ready(function($) {
    $('.togglemenu').click();
    $(".chzn-select").chosen();
    $(".chzn-select").change(function(){ $('#searchform').submit(); });
     
    const proveedor = $('#selectProveedor').val();

    var oTable = $('#productos_table').dataTable({
                "columnDefs": [        
                    // These are the column name variables that will be sent to the server
                    { "name": "codigo", "targets": 0 },
                    { "name": "producto",  "targets": 1 },                    
                    { "name": "proveedor",  "targets": 2 },                    
                    { "name": "rubro",  "targets": 3 },                    
                    { "name": "costo",  "targets": 4 },                    
                    { "name": "activo",  "targets": 5 },  
                    { "name": "actions",  "targets": 6 },                  
                    { "targets"  : 'nosort', "orderable": false }        
                ],
                "rowCallback": function (row, data) {                             
                    // registrar seleccion           
                    $(row).find('td:nth-child(5n)').addClass('alignright');
                    $(row).find('td:nth-child(6n)').addClass('aligncenter');                   
                 },
                // Server-side parameters
                "processing": true,
                "serverSide": true,
                // Ajax call
                "ajax": {
                    "url": "{{ path('producto_index_datatables') }}",
                    "type": "POST",
                    "data" : { 'proveedor' : proveedor },
                },
                // Classic DataTables parameters
                "bPaginate" : true,
                "bInfo" : true, 
                "bSearchable": true,        
                "bLengthChange": true,
                "pageLength":10,
                "order": [[0, 'asc']],
                "sPaginationType": "full_numbers",
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<<",
                        "sNext": ">",
                        "sLast": ">>",
                        "sPrevious": "<"
                    },
                    "sProcessing": "<div style='color:red;text-align: center;'>CARGANDO DATOS...</div>",
                    "sLengthMenu": "Mostrar _MENU_ registros ",
                    "sZeroRecords": "Sin datos",
                    "sInfo": " _START_ / _END_  -  <strong>Total: _TOTAL_ </strong>",
                    "sInfoEmpty": "Sin coincidencias",
                    "sInfoFiltered": "(filtrado de _MAX_ registros)",
                    "sSearch": "Buscar:"
                }
            }); 
    
    $('#printform').on('submit',function(){
        $('#proveedorid').val($('#selectProveedor').val());
        $('#searchterm').val( $('#productos_table_filter input').val() );
        /*var datos = [];
        oTable.api().rows( { search:'applied' } ).data().each(function(value, index) {
            datos[index] = value;
        }); 
        $('#datalist').val(JSON.stringify(datos));*/
    });
    
    //oTable.fnSort( [ [1,'desc'] ] );     
   /* $(".print").click(function() {
        var orden = oTable.fnSettings().aaSorting;
        var datos = [];
        oTable.api().rows( { search:'applied' } ).data().each(function(value, index) {
            datos[index] = value;
        }); 
        var search = $('#dyntable2_filter input').val();  
        $.ajax({
            type: 'POST',
            url: '{{ path("print_productos") }}',
            data: { orden: orden[0], search:search, datos:JSON.stringify(datos) ,provId: $('#selectProveedor').val() },
            success: function(data) {

                
            //    window.open("data:application/octet-stream;charset=utf-16le;base64,"+encodeURIComponent(data));
              //  window.open("data:application/pdf," + encodeURIComponent(data));
               // window.open("data:application/pdf," + encodeURIComponent(data),'nombre.pdf');
            }
        }); 
    });*/
    
});    
</script>  
{% endblock %}