<pdf>
    <dynamic-page page-size="A4-landscape" margin-left="70px" margin-right="40px" margin-top="20px" >
        <placeholders>
            <header>
                <div height="60px" width="100%" >
                    <table>
                        <tr>
                            <td border.type="none" vertical-align="middle">
                                <h3>{{app.session.get('labels')['label1']}}.{{app.session.get('labels')['label2']}}  <span font-size="11px"> Unidad de Negocio: {{ app.session.get('unidneg_nombre')  }} </span></h3>
                            </td>
                        </tr>
                    </table>
                    <div border.color="#F5C98F" height="2px" ></div>
                    <div height="5px"></div>
                    <div float="right" font-size="7px"> Impreso: {{'now'|date('d-m-Y H:i')}} {{app.user.username|upper}} </div>
                </div>
            </header>
            <footer>
                <div height="30px" width="100%" text-align="right">
                    <page-number />
                </div>
            </footer>
        </placeholders>
        <h2 text-align="center"> Inventario Valorizado </h2>
        <h4>
          <strong>Depósito:</strong> {{ filtro[0] }} -
          <strong>Proveedor:</strong> {{ filtro[1] }} -
          <strong>Forma de Pago:</strong> {{ filtro[2] }}
        </h4>
        <div height="10px"></div>
        {% if search %}
            <h4> Término de Búsqueda: "{{search}}" </h4>
            <div height="10px"></div>
        {%endif%}
        {% set contador,totalCosto, totalPrecio = 0,0,0 %}
        {% set tds = 10 %}
        {% if filtro[0]!='Todos'%} {% set tds = tds - 1%} {% endif%}
        {% if filtro[1]!='Todos'%} {% set tds = tds - 1%} {% endif%}
        <table font-size="9px">
            <tr>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="1 cm"><strong>#</strong></td>
                {% if filtro[0]=='Todos'%}
                    <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center"><strong>Depósito</strong></td>
                {% endif%}
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" ><strong>Rubro</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center"  width="2 cm" ><strong>Código</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" ><strong>Producto</strong></td>
                {% if filtro[1]=='Todos'%}
                    <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" ><strong>Proveedor</strong></td>
                {% endif%}
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm"><strong>Mínimo</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm"><strong>Actual</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm"><strong>Valorizado por Costo</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm"><strong>Valorizado por Precio</strong></td>
            </tr>
            {% if items|length>0   %}
                {% for item in items %}
                    {% set contador = contador + 1%}
                    {% set totalCosto = totalCosto + item[7] %}
                    {% set totalPrecio = totalPrecio + item[8] %}
                    <tr>
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="10px" >{{loop.index}}</td>
                        {% if filtro[0]=='Todos'%}
                            <td height="20px" vertical-align="middle" padding-left="5px">{{item[0]}}</td>
                        {% endif%}
                        <td height="20px" vertical-align="middle" padding-left="5px">{{item[1]}}</td>
                        <td height="20px" vertical-align="middle" padding-left="5px">{{item[2]}} </td>
                        <td height="20px" vertical-align="middle" padding-left="5px"> {{item[3]}}</td>
                        {% if filtro[1]=='Todos'%}
                            <td height="20px" vertical-align="middle" padding-left="5px">{{item[4]}}</td>
                        {% endif%}
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="5px">{{item[5]}}</td>
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="5px">{{item[6]}} </td>
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="5px">{{item[7]}} </td>
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="5px">{{item[8]}} </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="{{tds}}" height="30px" vertical-align="middle" padding-left="10px">
                        <strong>No hay productos coincidentes con el criterio de búsqueda</strong></td>
                </tr>
            {% endif %}

            <tr>
                <td colspan="2" border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" padding-left="10px" text-align="left">
                    <strong>Total de Productos: {{contador}}</strong>
                </td>
                <td colspan="{{(tds-2)/2}}" border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" padding-right="10px" text-align="right">
                    <strong>Valorizado por Costo: {{totalCosto| number_format(3,'.',',')}}</strong>
                </td>
                <td colspan="{{(tds-2)/2}}" border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" padding-right="10px" text-align="right">
                    <strong>Valorizado por Precio: {{totalPrecio| number_format(3,'.',',')}}</strong>
                </td>
            </tr>
        </table>
    </dynamic-page>
</pdf>