{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Depósitos</h1>
    <span class="pagedesc">Listado de depósitos</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th style="width:15%;" class="nosort">Central</th>
                <th style="width:15%;" class="nosort">Activo</th>
                <th class="nosort actionbutton addbutton">
                    {% if app.user.access(app.session.get('unidneg_id'),'sistema_deposito_new') %}
                    <a class="editar create" href="{{ path('sistema_deposito_new') }}">Agregar Depósito</a>
                    {% else %} &nbsp; {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre|upper }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{{ entity.telefono }}</td>
                <td><input type="checkbox" disabled="disabled" {% if entity.central %}checked="checked"{% endif %} /></td>
                <td><input type="checkbox" disabled="disabled" {% if entity.activo %}checked="checked"{% endif %} /></td>
                <td>
                     {% if app.user.access(app.session.get('unidneg_id'),'sistema_deposito_edit') %}
                    <a href="{{ path('sistema_deposito_edit', { 'id': entity.id }) }}" class="editar btn btnaction btn_pencil" ></a>&nbsp;
                    {% endif %}
                    {% if app.user.access(app.session.get('unidneg_id'),'sistema_deposito_delete') %}
                        <a href url="{{ path('sistema_deposito_delete', { 'id': entity.id }) }}" class="delete btn btnaction btn_trash" title="Borrar"></a>                                                               
                    {% endif %}
                </td>
            </tr>
           {% endfor %}           
        </tbody>
    </table> 
</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
{% endblock %}