{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Exportación de archivos</h1>
    <span class="pagedesc"> Afip Ventas </span>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% include "AppBundle::notificacion.html.twig" %}
<div id="contentwrapper" class="contentwrapper">
    <div class="" style="margin-bottom: 15px;"> 
        
        <button type="button" class="stdbtn floatright "><span id="importarfudo">Importar de Estructura Fudo</span></button>
        
        
        {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        {{ form_errors(form) }}
        <fieldset >
            <p>
                {{ form_row(form.periodo, { 'attr': {'class' : 'datepicker'} }) }}
                <div style="text-align: center"> 
                    <button type="submit"><span id="span-importar">Buscar</span></button>  
                </div>
                {% if entities|length>0 %}
                <div style="margin-top:20px" >          
                    <a class="btn btn_inboxi" style="margin-left: 10px;font-weight: lighter;" href="{{ path('ventas_export_txt') }}?periodo={{ periodo }}&file=CBTE" > <span>LIBRO_IVA_DIGITAL_VENTAS_CBTE.TXT</span> </a>            
                    <a class="btn btn_inboxi" style="margin-left: 10px;font-weight: lighter;" href="{{ path('ventas_export_txt') }}?periodo={{ periodo }}&file=ALIC" > <span>LIBRO_IVA_DIGITAL_VENTAS_ALICUOTAS.TXT</span> </a>
                </div>  
                {% endif %}
            </p>            
           
                        
                
            
        </fieldset >
        
        {{ form_end(form) }}
        
    </div>   
        {% if entities|length>0 %}
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo comprobante</th>                
                <th>Punto Venta</th>                
                <th>Nro Comprobante</th>                
                <th>Cliente</th>                
                <th>CUIT</th>                
                <th>Condicion Fiscal</th>                
                <th>Neto Gravado</th>                
                <th>Alícuota</th>                
                <th>Iva Liquidado</th>                
                <th>Ng/Ex</th>                
                <th>Perc/Ret</th>                
                <th>Total</th>                
                <th>Archivo</th>                
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.fecha }}</td>
                <td>{{ entity.tipoComprobante ~ ' ' ~ entity.letra}}</td>                
                <td>{{ entity.puntoVenta}}</td>                
                <td>{{ entity.numeroComprobante}}</td>                
                <td>{{ entity.nombreCliente}}</td>                
                <td>{{ entity.cuitCliente}}</td>                
                <td>{{ entity.condFiscal}}</td>                
                <td>{{ entity.netoGravado}}</td>                
                <td>{{ entity.alicuota}}</td>                
                <td>{{ entity.ivaLiquidado}}</td>                
                <td>{{ entity.concNgEx}}</td>                
                <td>{{ entity.percRet}}</td>                
                <td>{{ entity.total}}</td>                
                <td>{{ entity.descripcion}}</td>                
            </tr>
           {% endfor %}           
        </tbody>
    </table>    
        {% endif %}
        
    
</div> 
</div> 
<style>
    .ui-datepicker{
        width: 160px;
    }   
 .ui-datepicker-calendar {
     display: none;     
 }
 .inputerror{
    background-color: mistyrose !important;
    font-weight: bold;
 }
</style>    
{% endblock %}
{% block extra_javascripts %}
    {{ parent() }} 
    {% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($) {        
    if( $('#configbundle_afipimportacionbuffets_periodo').val()){
        $('#exportar').removeClass('hidden')
        $('.togglemenu').click();
    }else{
        $('#exportar').addClass('hidden');           
    }
       $('.datepicker').datepicker({
        dateFormat: "mm-yy",
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        closeText: "Seleccionar",
        onClose: function(dateText, inst) {
            if($('#ui-datepicker-div').html().indexOf('ui-datepicker-close ui-state-default ui-priority-primary ui-corner-all ui-state-hover') > -1) {
                $(this).datepicker(
                    'setDate',
                    new Date(
                        $("#ui-datepicker-div .ui-datepicker-year :selected").val(),
                        $("#ui-datepicker-div .ui-datepicker-month :selected").val(),
                        1
                    )
                ).trigger('change');
                $('.date-picker').focusout();
            }
            $("#ui-datepicker-div").removeClass("month_year_datepicker");
        },
        beforeShow : function(input, inst) {
            if((datestr = $(this).val()).length > 0) {
                year = datestr.substring(datestr.length-4, datestr.length);
                month = datestr.substring(0, 2);
                $(this).datepicker('option', 'defaultDate', new Date(year, month-1, 1));
                $(this).datepicker('setDate', new Date(year, month-1, 1));
                $("#ui-datepicker-div").addClass("month_year_datepicker");
            }
        }
    });
    
    $('form').on('submit',function(){
        $('#span-importar').html( ' Cargando' );
    });
    //fecha,tipo_comprobante,letra,punto_venta,numero_comprobante,nombre_cliente,cuit_cliente,cond_fiscal,neto_gravado,alicuota,iva_liquidado,conc_ng_ex,perc_ret,total
    
    $('#importarfudo').on('click',function(){
        $(this).html('Importando...');
        $.ajax({
            url: "{{ path("ventas_importfromfudo") }}",            
            success: function (data) {                
                $('#configbundle_afipimportacionbuffets_periodo').val(data);
                $('form').submit();
            }
        });
        
        
        
    });
    
});

</script>    
{% endblock %}
