{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Cajas</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Datos de Caja</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
 {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <div class="two_fields">
              {{ form_row(form.nombre, { 'attr': {'class' : 'mininput' } }) }}
              {{ form_row(form.activo) }}
            </div>
            <div class="two_fields">
              {{ form_row(form.hostname, { 'attr': {'class' : 'mediuminput' } }) }}
              {{ form_row(form.descripcion, { 'attr': {'class' : 'mediuminput' } }) }}
            </div>
            <h3 style='font-size:18px; padding-left:30px'>Puntos de Venta</h3>
            <div class="two_fields">
              {{ form_row(form.ptoVtaWs, { 'attr': {'class' : 'mininput' } }) }}
              {{ form_row(form.ptoVtaIfu, { 'attr': {'class' : 'mininput' } }) }}
            </div>
                               
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('sistema_caja')}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">
jQuery(function ($) {
    $('#configbundle_caja_nombre').on('keyup',function(e){
        value = $(this).val();
        $(this).val(value.replace(' ',''));
    });
});
</script>
{% endblock %}