{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Centros de Costo</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >{{ (entity.id) ? 'Editar datos de '~entity.nombre|upper : 'Alta de Nuevo Centro de Costo' }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
 {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <p>             
                {{ form_label(form.nombre) }}
                {{ form_widget(form.nombre, { 'attr': {'class' : 'smallinput', 'style':'text-transform:uppercase','autofocus':'autofocus' } }) }}
                {{ form_errors(form.nombre) }}                
            </p>
            <p>
            {{ form_label(form.activo) }}
            {{ form_widget(form.activo) }}
            {{ form_errors(form.activo) }}
             </p>
                   
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('sistema_centrocosto')}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}