{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Movimiento de Centro de Costos</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
    <form id="printform" name="printform" target="_blank"  action="{{ path("print_informe_comprado") }}" method="post">
        <input type="hidden" id="proveedorid" name="proveedorid"/>
        <input type="hidden" id="productoid" name="productoid"/>
        <input type="hidden" id="fdesde" name="fdesde"/>
        <input type="hidden" id="fhasta" name="fhasta"/>
        <input type="hidden" id="searchterm" name="searchterm"/>
        <input type="hidden" id="datalist" name="datalist"/>
        <button class="stdbtn floatright hidden" type="submit" >Imprimir</button>
    </form> 
    <form class="deposito_selector " id="searchform" action="{{ path('compras_informe_centrocosto') }}" method="get">        

        <div>
            <div style="display: inline-block; margin:10px;">
          
                <label style="width:130px;display: inline-block;"><strong>CENTRO DE COSTO:</strong></label>
                <select class="select2" id="selectCentros" name="ccId">
                    <option value="0" >TODOS</option>
                    <option value="S" {% if ccId=='S' %} selected="selected" {% endif %}>SIN CENTRO DE COSTO</option>
                    {% for cc in centros %}
                        <option value="{{cc.id}}" {% if cc.id==ccId %} selected="selected" {% endif %}> {{cc.nombre}}</option>
                    {% endfor %}
                </select>  
            </div>    
            <div style="display: inline-block; margin:10px;">     
                &nbsp;&nbsp;&nbsp;
                <label><strong>Período: </strong></label>
                <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" /> 
                <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" /> 
                <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
            </div>
        </div>

    </form>     
          
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Fecha {{ entities|length }}</th>
                <th>Factura</th>
                <th>Producto</th>
                <th>Total</th>
                {% if ccId!='S' %}
                {% if ccId==0 %} <th>Centro de Costo</th> {% endif %}
                <th>Costo</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %} 
            <tr>
                <td><span class="hidden">{{ entity.fechaFactura|date('Ymd') }}</span>{{ entity.fechaFactura|date('d-m-Y') }}</td>
                <td>{{entity.tipoFactura~' '~entity.nroComprobante}}</td>
                <td>{{ entity.codigoproducto~' - '~entity.nombreproducto }} </td>
                <td  class="alignright">{{ entity.subtotal|number_format(3,'.',',')}}</td> 
                {% if ccId!='S' %}
                {% if ccId==0 %} <td>{{ entity.centrocosto }}</td> {% endif %}                
                <td  class="alignright">{{ entity.costo}}</td>   
                {% endif %}                
            </tr>
           {% endfor %}
        </tbody>        
    </table>     
</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($){    
    var oTable = $('#dyntable2').dataTable();
     oTable.fnSort( [ [1,'asc'] ] );     
    $('#selectCentros').change(function(){ 
        $('#searchform').submit();
    }); 
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'}); 
$('#printform').on('submit',function(){
        $('#proveedorid').val($('#selectProveedor').val());
        $('#productoid').val($('#selectProducto').val());
        $('#fdesde').val($('#desde').val());
        $('#fhasta').val($('#hasta').val());
        $('#searchterm').val( $('#dyntable2_filter input').val() );
        var datos = [];
       oTable.api().rows( { search:'applied' } ).data().each(function(value, index) {  
          /*  var i = value[1].indexOf('</span>');
            if( i >-1 ){
                var fecha = value[1].substr(i+7);
                value[1]=fecha;
            }
            value.splice(5);*/
            datos[index] = value;
        });
        $('#datalist').val(JSON.stringify(datos));
    });      
});
</script>   
{% endblock %}