{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}

<div class="pageheader notab">
    <h1 class="pagetitle">PRESUPUESTO:
        <span style="margin-left:10px" class="nroOperacion">#{{entity.nroPresupuesto}}</span>
{% if entity.tipo=='R' %}&nbsp;&nbsp; -- REMITO -- {% endif %}
        <span class="floatright fechahora">
            {{entity.fechaPresupuesto|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fechaPresupuesto|date('H:i:s')}}</span> &nbsp; | &nbsp; {{app.user.username}}
        </span>
    </h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% include "AppBundle::notificacion.html.twig" %}
    <div class="divForm">

        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_presupuesto'}}) }}

        <fieldset class="fields" >

            {% include "VentasBundle:Partial:block-cliente.html.twig" %}
            <div class="datos-moneda">
                <!-- mantiene el formato en pantalla -->
                <input type="hidden" id="ventasbundle_presupuesto_cotizacion" value="1" />
            </div>
            {% include "VentasBundle:Partial:block-formapago.html.twig" %}

        </fieldset>

        <fieldset>
            <div class="datos-cliente" style="display:none" >
                {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente} %}
            </div>
            <div class="datos-cf">
                {{ form_widget(form.nombreCliente)}}
            </div>
            <div class="datos-formapago">
                {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}
            </div>
        </fieldset>

        <fieldset class="fields">

            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.precioLista)}}
                {{ form_widget(form.precioLista,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>
            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.deposito)}}
                {{ form_widget(form.deposito,{'attr':{'style':'width:80%'}}) }}
            </div>
            {% if app.user.isAdmin(app.session.get('unidneg_id')) %}
            <div style="display:inline-block; width: 20%;">
                {{ form_label(form.descuentaStock, null, {'label_attr': {'style': 'width:35%'}})}}
                {{ form_widget(form.descuentaStock)}}
            </div>
            {% endif %}
        </fieldset>

        <fieldset>
            <div style="padding-top: 20px; margin:auto; width: 100%;">
                {{ form_errors(form.detalles) }}
                {% include "VentasBundle:Partial:_partial-detalle.html.twig" %}
            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 100%;">
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': false, 'showiibb': false } %}
            </div>
        </fieldset>

        <fieldset>
            <br clear="all" />
            <div class="actionbutton">
                {% if entity.id %}
                <a type="button" class="floatleft delete_button" href="{{ path('ventas_presupuesto_anular', { 'id': entity.id })}}">ANULAR</a> {% endif %}
                <button class="guardar tabbable" type="button" >Guardar</button>
                <a class="cancelar tabbable" type="button" href="{{ path('ventas_presupuesto')}}">Cancelar</a>
            </div>
        </fieldset>

        <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
        {{ form_end(form) }}

    </div>

    {% include "VentasBundle:Partial:_partial-notifmsg.html.twig" %}

</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/custom/ventas.js') }}"></script>
<script type="text/javascript">

jQuery(function ($) {

    $(window).on('load', function () {
       // $('.datos-cliente').hide();
       // $('.datos-cf').show();
        //$('#ventasbundle_presupuesto_nombreCliente').attr('required', true);

        // confirm on submit
        $('.guardar').on('click', function(){
            // controlar que haya items cargados
            let txt = '<span>';
            txt += 'PRESUPUESTO:   #'+$('#ventasbundle_presupuesto_nroPresupuesto').val();
            txt += '\n' + 'CONFIRMA REGISTRAR EL PRESUPUESTO?' ;
            if( $('#ventasbundle_presupuesto_descuentaStock').attr("checked") ){
                txt += '\n' +'<b>Se realizará el descuento de los productos en el stock!</b>';
            }
            txt += '</span>';
            // detectar inputs invalidos

            if( $(':invalid').length > 0 ){
                alert('Debe completar todos los datos requeridos!');
                $(':invalid').focus();
                return false;
            }

            if( $('tbody tr.item').length > 0 ){
                txt = txt + '\n\n' +'Seleccionar Tipo:';
                jPresupuesto(txt, 'P', 'Impresión de Presupuestos', function(r) {
                    if (r) {
                        if( r=='R' ){
                            $('#ventasbundle_presupuesto_descuentaStock').attr("checked",true);
                        }
                        $('#ventasbundle_presupuesto_tipo').val(r);
                        $('#ventasbundle_presupuesto').submit();
                    }
                });

            }else{
                alert('Debe ingresar items al presupuesto');
                return false;
            }
        });

        $(document).on('change','#popup_prompt',function() {
            let txt = '<span>';
            txt += 'PRESUPUESTO:   #'+$('#ventasbundle_presupuesto_nroPresupuesto').val();
            txt += '<br>' + 'CONFIRMA REGISTRAR EL PRESUPUESTO?' ;
            if( $('#ventasbundle_presupuesto_descuentaStock').attr("checked") || $('#popup_prompt').val() ==='R' ){
                txt += '<br>' +'<b>Se realizará el descuento de los productos en el stock!</b>';
            }
            txt += '</span>';
            $('#popup_message span').html( txt );
        })

    });

});
</script>
{% endblock %}