{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('assets/css/style.ventas.css') }}" type="text/css" media="all" />
{% endblock %}

<div class="pageheader notab">
    <h1 class="pagetitle">PRESUPUESTO:
        <span style="margin-left:10px" class="nroOperacion">#{{entity.nroPresupuesto}}</span>
{% if entity.tipo=='R' %}&nbsp;&nbsp; -- REMITO -- {% endif %}
        <span class="floatright fechahora">
            {{entity.fechaPresupuesto|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fechaPresupuesto|date('H:i:s')}}</span> &nbsp; | &nbsp; {{app.user.username}}
        </span>
    </h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
{% include "AppBundle::notificacion.html.twig" %}
    <div id="updating-data" class="warning hidden" style="text-align:center">
        Actualizando datos del cliente... aguarde por favor
    </div>
    <div class="divForm">

        {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'ventasbundle_presupuesto'}}) }}

        <fieldset class="fields" >

            {% include "VentasBundle:Partial:block-select-cliente.html.twig" with {'cliente':entity.cliente} %}

            <div class="datos-moneda" data-cotizacion="{{moneda.cotizacion}}" data-simbolo="{{moneda.simbolo}}">&nbsp;</div>

            {% include "ConfigBundle:FormaPago:widget_select_formapago.html.twig"
              with {'formaPago':entity.formapago, 'consumidorFinal':entity.cliente.consumidorFinal } %}

        </fieldset>

        <fieldset>
            {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente, 'nombreCliente': entity.nombreCliente} %}

            {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}

        </fieldset>

        <fieldset class="fields">

            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.precioLista)}}
                {{ form_widget(form.precioLista,{'attr':{'style':'width:80%','tabindex':-1}}) }}
            </div>
            <div style="display:inline-block; width: 30%;">
                {{ form_label(form.deposito)}}
                {{ form_widget(form.deposito,{'attr':{'style':'width:80%'}}) }}
            </div>
            {% if app.user.isAdmin(app.session.get('unidneg_id')) %}
            <div style="display:inline-block; width: 20%;">
                {{ form_label(form.descuentaStock, null, {'label_attr': {'style': 'width:35%'}})}}
                {{ form_widget(form.descuentaStock)}}
            </div>
            {% endif %}
        </fieldset>

        <fieldset>
            <div style="padding-top: 20px; margin:auto; width: 100%;">
                {{ form_errors(form.detalles) }}
                {% include "VentasBundle:Partial:_partial-detalle.html.twig" %}
            </div>
        </fieldset>
        <fieldset>
            <div style="margin:auto; width: 100%;">
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': false, 'showiibb': false } %}
            </div>
        </fieldset>

        <fieldset>
            <br clear="all" />
            <div class="actionbutton">
                {% if entity.id %}
                <a type="button" class="floatleft delete_button" href="{{ path('ventas_presupuesto_anular', { 'id': entity.id })}}">ANULAR</a>
                {% endif %}
                <button id="guardar" class="guardar tabbable" type="button" >Guardar</button>
                <a class="cancelar tabbable" type="button" href="{{ path('ventas_presupuesto')}}">Cancelar</a>
            </div>
        </fieldset>

        <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
        {{ form_end(form) }}

    </div>

    {% include "VentasBundle:Partial:_partial-notifmsg.html.twig" with {'shortcuts': ['cliente', 'formapago', '+producto'] } %}

</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/utils/widgetFormapago.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/utils/widgetCliente.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/utils/moduloVentas.js') }}"></script>
<script type="text/javascript">

jQuery(function ($) {

    $(window).on('load', function () {

        // confirm on submit
         $('.guardar').on('click', function(){

            // controlar que haya items cargados
            let txt = '<span>';
            txt += 'PRESUPUESTO:   '+$('.nroOperacion').html();
            txt += '\n' + 'CONFIRMA REGISTRAR EL PRESUPUESTO?' ;
            if( $('#ventasbundle_presupuesto_descuentaStock').attr("checked") ){
                txt += '\n' +'<b>Se realizará el descuento de los productos en el stock!</b>';
            }
            txt += '</span>';
            // detectar inputs invalidos
            if( $(':invalid').length > 0 ){
                alert('Debe completar todos los datos requeridos!');
                $(':invalid').focus();
                return false;
            }

            if( $('tbody tr.item').length > 0 ){
                // funcionalidad de remito anulada por pedido de aides
                txt = txt + '\n\n' +'Seleccionar Tipo:';
                jPresupuesto(txt, 'P', 'Impresión de Presupuestos', function(r) {
                    if (r) {
                        if( r=='R' ){
                            $('#ventasbundle_presupuesto_descuentaStock').attr("checked",true);
                        }
                        $('#ventasbundle_presupuesto_tipo').val(r);
                        $('#ventasbundle_presupuesto').submit();
                    }
                });

                {# $('#ventasbundle_presupuesto').submit(); #}
            }else{
                alert('Debe ingresar items al presupuesto');
                return false;
            }
        });

        $(document).on('change','#popup_prompt',function() {
            let txt = '<span>';
            txt += 'PRESUPUESTO:   '+$('.nroOperacion').html();
            txt += '<br>' + 'CONFIRMA REGISTRAR EL PRESUPUESTO?' ;
            if( $('#ventasbundle_presupuesto_descuentaStock').attr("checked") || $('#popup_prompt').val() ==='R' ){
                txt += '<br>' +'<b>Se realizará el descuento de los productos en el stock!</b>';
            }
            txt += '</span>';
            $('#popup_message span').html( txt );
        })

         $('#widgetCliente').select2('focus')
    });

});
</script>
{% endblock %}