<pdf>
    <dynamic-page page-size="A4" margin-left="30px" margin-right="30px" margin-top="30px" >
        <placeholders>
            <header>
                <div height="160px" width="100%" >
                    <table font-size="11px">
                        <tr>
                            <td border.type="none" >
                                <div width="100%">
                                    <img ignore-error="true" src="{{logo}}" width="80%" />
                                </div>
                            </td>
                            <td border.color="#555555" width="50px" vertical-align="middle" text-align="center">
                                <div font-size="23px"><strong>X</strong> </div>
                            </td>
                            <td border.type="none" text-align="center" vertical-align="middle">
                                <div width="100%" font-size="16px" padding-bottom="10px">
                                    <strong> {% if (presupuesto.tipo=='P') %} PRESUPUESTO {% else %} REMITO {% endif %}</strong>
                                </div>
                                <div font-size="11px" padding-bottom="5px">
                                    <strong>Número: {{presupuesto.nroPresupuestoTxt}} </strong>
                                </div>
                                <div font-size="11px">
                                    <strong>Fecha: {{ presupuesto.fechaPresupuesto| date('d-m-Y') }} </strong>
                                    </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" border.type="none" padding-top="20px">
                                <div padding-left="10px">
                                    <div padding-bottom="10px">{{ empresa.direccion }} </div>
                                    <div padding-bottom="5px">{{ empresa.telefono }} </div>
                                    <div padding-bottom="5px" href="mailto:{{empresa.email}}">{{ empresa.email }} </div>
                                    <div padding-bottom="10px">{{ empresa.condicionIva }} </div>
                                </div>
                            </td>
                            <td border.type="none" padding-top="10px">
                                <div padding-left="40px">
                                    <div>
                                        <div padding-bottom="10px" text-align="center"> DOCUMENTO NO VALIDO COMO FACTURA </div>
                                        <div padding-bottom="5px" text-align="right"> CUIT: {{ empresa.cuit }} </div>
                                        <div padding-bottom="5px" text-align="right"> DGR: {{ empresa.iibb }} </div>
                                        <div padding-bottom="5px" text-align="right"> Reg. Proveedores Pcia. del Chaco N° 1600-2 </div>
                                        <div padding-bottom="10px" text-align="right"> Reg. Proveedores de la Nación N° 17332-0 </div>

                                    </div>

                                </div>
                            </td>
                        </tr>

                    </table>

                    <div height="5px"></div>

                </div>
            </header>
            <footer>
                <div height="100px" width="100%">
                    <div border.color="#555555" height="1px" ></div>
                    <div font-size="7px" padding="10px"> Op: {{presupuesto.createdBy.nombre|upper}} - Ref. #{{presupuesto.nroPresupuesto}} - {{'now'|date('d-m-Y H:i')}} </div>
                </div>
            </footer>
        </placeholders>
        <div border.color="#555555" height="1px" ></div>
        <table font-size="11px">
            <tr>
                <td border.type="none" padding-top="10px">
                    <strong>CLIENTE:</strong> {{presupuesto.cliente}}
                </td>
                <td border.type="none" padding-top="10px">
                    {% if presupuesto.nombreCliente %}
                        {{presupuesto.nombreCliente}}
                    {% else %}
                        Dirección: {{presupuesto.cliente.direccion}}
                    {% endif %}
                </td>
            </tr>
            {% if not presupuesto.cliente.consumidorfinal %}
            <tr>
                <td border.type="none" padding-top="10px">
                    IVA: {{presupuesto.cliente.categoriaIva.descripcion|upper}}
                </td>
                <td border.type="none" padding-top="10px">
                    CUIT: {{presupuesto.cliente.cuit}}

                </td>
                <td border.type="none" padding-top="10px">
                    PROV.: {{presupuesto.cliente.provinciaRentas.shortname}}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2" border.type="none" padding-top="10px">
                    Condición de Venta: {{presupuesto.formaPago}}
                </td>
            </tr>
        </table>

        <table font-size="9px" padding-top="10px">
            <tr margin-bottom="8px">
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                    Código
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                    Cantidad
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center">
                    Descripción
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                    Unitario
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="1.5 cm">
                    IVA
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                    Total
                </td>
            </tr>
            {% for item in presupuesto.detalles %}
            <tr>
                <td border.type="none" height="15px" vertical-align="middle" text-align="center">
                    {{item.producto.codigo}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {{item.cantidad}} {{ item.producto.unidadmedida.nombre }}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" padding-left="10px">
                    {{item.nombreProducto}}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {% if (presupuesto.tipo=='P') %}
                        {% set precio = ( item.precioUnitarioItem+(item.precioUnitarioItem*(presupuesto.descuentoRecargo/100)) )  %}
                        {{ precio|number_format(2,',','.')}}
                    {% endif %}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {% if (presupuesto.tipo=='P') %} {{item.alicuota|number_format(2,',','.')}} {% endif %}
                </td>
                <td border.type="none" height="15px" vertical-align="middle" text-align="right" padding-right="10px">
                    {% if (presupuesto.tipo=='P') %}  {{(precio*item.cantidad)|number_format(2,',','.')}}  {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>


        {% set cativa = (presupuesto.cliente.categoriaIva) ? presupuesto.cliente.categoriaIva.nombre : 'C' %}
        {% set retrentas = presupuesto.cliente.categoriaRentas ? presupuesto.cliente.categoriaRentas.retencion : 0 %}
        {% set showiva = (cativa == 'I' or cativa == 'M') %}
        {% if (presupuesto.tipo=='P') %}
         <div font-size="9px" padding-top="100px"><i> Precios y Stock sujeto a variaciones </i></div>
        <table font-size="9px" padding-top="10px">
            <tr margin-bottom="8px">
                <td border.color="#555555" background.color="#EEEEEE" height="20px" width="20%" vertical-align="middle" text-align="center">
                    Subtotal: $ {{presupuesto.subTotal|number_format(2,',','.')}}
                </td>
                <td border.color="#555555" background.color="#EEEEEE" height="20px"  vertical-align="middle" text-align="center">
                    Desc/Rec: $ {{presupuesto.totalDescuentoRecargo|number_format(2,',','.')}}
                </td>
                {% if showiva %}
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center">
                    IVA: $ {{presupuesto.totalIva|number_format(2,',','.')}}
                </td>
                {% endif %}
                {% if presupuesto.cliente.percepcionRentas > 0 %}
                <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center">
                    Perc.IIBB [{{presupuesto.cliente.percepcionRentas|number_format(2,'.',',')}}%]: $ {{presupuesto.totalIibb|number_format(2,',','.')}}
                </td>
                {% endif %}


                <td border.color="#555555" background.color="#EEEEEE" height="20px" width="20%" vertical-align="middle" text-align="center">
                    TOTAL: $ {{presupuesto.montoTotal|number_format(2,',','.')}}
                </td>
            </tr>
        </table>
        {% endif %}
    </dynamic-page>
</pdf>