{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Presupuestos de Clientes</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >PRESUPUESTO:  #{{ entity.nroPresupuesto }} <span class="floatright">{{entity.fechaPresupuesto|date('d/m/Y H:i')}} &nbsp; | &nbsp; {{app.user.username}}</span></h1>
<div class="divEdicion">
<style type="text/css">
    fieldset label{
        font-weight: bold;
    }
    .vtafields label{
        display: inline-block;
        width:100%;
    }
    .datos-cf {
        width:100%;
        vertical-align: top;
        margin:2px 0px 10px 0px;
    }
    .datos-cliente{
        width:100%;
        vertical-align: top;
        margin-bottom:10px;
    }
</style>
{% include "AppBundle::notificacion.html.twig" %}
<form id="form-venta" name="ventasbundle_venta" class="form-horizontal">
    <fieldset>
        <div style="display:inline-block; width: 60%;">
            <div class="vtafields">
                <label class="required">DATOS DEL CLIENTE: </label>
                <select style="width:80%">
                    <option>{{entity.cliente.nombre}}</option>
                </select>
            </div>
            {% if entity.nombreCliente is null %}
            <div class="datos-cliente">
                {% include "VentasBundle:Partial:_partial-datos-cliente.html.twig" with {'item':entity.cliente} %}
            </div>
            {% else %}
            <div class="datos-cf">
                <input type="text" disabled="disabled" value="{{ entity.nombreCliente}}">
            </div>
            {% endif %}
        </div>
        <div style="display:inline-block; width: 10%;"></div>
        <div style="display:inline-block; width: 25%;vertical-align: top; ">
            <div class="vtafields">
                <label class="required">FORMA DE PAGO: </label>
                <select disabled="disabled">
                    <option>{{ entity.formaPago.nombre }}</option>
                </select>
            </div>
            <div class="datos-formapago" style="display:inline-block; width: 100%; vertical-align: top;">
                {% include "VentasBundle:Partial:_partial-datos-formapago.html.twig" with {'item':entity.formaPago}  %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <div style="display:inline-block; width: 25%; ">
            <label class="required">LISTA DE PRECIOS:</label>
            <select disabled="disabled">
                <option>{{ entity.precioLista.nombre }}</option>
            </select>
        </div>
        <div style="display:inline-block; width: 25%;">
            <div>
                <label class="required">DEPÓSITO: </label>
                <select disabled="disabled">
                    <option>{{ entity.deposito.nombre }}</option>
                </select>
            </div>
        </div>
        <div style="display:inline-block; width: 25%; display: none;">
            <div>
                <label>VALIDEZ [días]:</label>
                <input type="number" value="{{ entity.validez }}" /></div>
        </div>
        <div style="display:inline-block; width: 20%;">
            <div>
                <label>DESCONTAR:</label>
                <input type="checkbox" disabled="disabled" {% if entity.descuentaStock %}checked="checked"{% endif %} />
            </div>
        </div>
{% if entity.estado == 'ANULADO' %}
        <div style="display:inline-block; width: 20%;">
            <div>
                <label style="padding:10px" class="red">ANULADO: {{ entity.updated|date('d-m-Y H:i:s') }} | {{ entity.updatedBy.username }}</label>
            </div>
        </div>
{% endif %}
    </fieldset>
    <fieldset>
        <div style="padding-top: 20px; margin:auto; width: 90%;">
            {% include "VentasBundle:Partial:_partial-show-detalle.html.twig" %}
        </div>
    </fieldset>
    <fieldset>
        <div style="margin:auto; width: 90%;">
                {% set cativa = (entity.cliente.categoriaIva) ? entity.cliente.categoriaIva.nombre : 'C' %}
                {% set showiva = (cativa != 'C') %}
                {% set showiibb = (cativa == 'I') %}
                {% include "VentasBundle:Partial:_partial-resumen.html.twig" with {'showiva': showiva, 'showiibb': showiibb } %}
        </div>
    </fieldset>

        <fieldset>
            <br clear="all">
            <div class="actionbutton">
                {% if entity.estado == 'EMITIDO' %}
                <a type="button" class="floatleft delete_button" href="{{ path('ventas_presupuesto_anular', { 'id': entity.id })}}">ANULAR</a>
                {% if app.user.access(app.session.get('unidneg_id'),'ventas_presupuesto_print') %}
                <button class="guardar btn_print" type="button" url="{{ path('ventas_presupuesto_print', { 'id': entity.id })}}" >Imprimir</button>
                {% endif %}
                {% endif %}
                <a class="cancelar tabbable" type="button" href="{{ path('ventas_presupuesto')}}">Cancelar</a>
            </div>
        </fieldset>
    </form>



</div>
</div>
{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}

<script type="text/javascript">
jQuery(function ($) {
    $(window).on('load', function () {
        $('.delete_button').on('click', function(e){
            e.stopPropagation();
            const txt = "Confirma la anulación del presupuesto? ";
            const txt2 = ( '{{ entity.descuentaStock }}' ) ? '\nLos productos se reingresarán al stock!' : '';
            if( !confirm(txt + txt2)){
                return false;
            }
        })

    });
});
</script>{% endblock %}