{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Facturas de Compras</h1>
    <span class="pagedesc">Relación con Proveedores</span>    
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
{% include "AppBundle::notificacion.html.twig" %}
   
<div id="contentwrapper" class="contentwrapper">
<div>  
    <form id="printform" name="printform" target="_blank"  action="{{ path("print_compras_factura") }}" method="post">
        <input type="hidden" id="proveedorid" name="proveedorid"/>
        <input type="hidden" id="fdesde" name="fdesde"/>
        <input type="hidden" id="fhasta" name="fhasta"/>
        <input type="hidden" id="searchterm" name="searchterm"/>
        <input type="hidden" id="datalist" name="datalist"/>
        <button class="stdbtn floatright" type="submit" >Imprimir</button>
    </form>    
    <form id="searchform" action="{{ path('compras_factura') }}" method="get">
        <div style="display: inline-block; margin-bottom: 10px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Proveedor:</strong></label>
            <select class="select2" id="selectProveedor" name="provId">
                <option value="0">Todos</option>
            {% for prov in proveedores %}
                <option value="{{prov.id}}" {% if prov.id==provId %} selected="selected" {% endif %}> {{prov.nombre}}</option>
            {% endfor %}
            </select>  
        </div>    
        <div style="display: inline-block; margin-right: 30px;">     
            &nbsp;&nbsp;&nbsp;
            <label><strong>Fecha Factura: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" /> 
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" /> 
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>        
    </form>
</div><!-- button -->      
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
        <thead>
            <tr>
                <th>Nº Comp.</th>
                <th>Fecha</th>
                <th>Proveedor</th>
                <th>Total</th>
                <th>Saldo</th>
                <th>Estado</th>
                <th class="nosort actionbutton addbutton">
                   {% if app.user.access(app.session.get('unidneg_id'),'compras_factura_new') %}
                    <a class="editar create" href="{{ path('compras_factura_new') }}">Nueva Factura</a>
                    {% else %} &nbsp; {% endif %} 
                </th>
            </tr>
        </thead>
        <tbody>
           {% for entity in entities %}
            <tr {% if entity.estado=='CANCELADO' %} class="deleted" {%endif%}>
                <td>{{entity.tipoFactura~' '~entity.nuevoNroComprobante}}</td>
                <td><span class="hidden">{{ entity.fechaFactura|date('Ymd') }}</span>{{ entity.fechaFactura|date('d-m-Y') }}</td>
                <td>{{ entity.proveedor }}</td>
                <td class="alignright">{{ entity.getTotal|number_format(3,'.',',') }}</td>
                <td class="alignright">{{ entity.saldo|number_format(3,'.',',') }}</td>
                <td class="estado">{{ entity.estado }}</td>
                <td class="buttons">                    
                    <a href="{{ path('compras_factura_show', { 'id': entity.id }) }}" class="editar btn btnaction btn_folder" title="Ver Factura"></a>
                    {% if app.user.access(app.session.get('unidneg_id'),'compras_factura_edit') and entity.estado =='PENDIENTE' %}
                    <a href="{{ path('compras_factura_edit', { 'id': entity.id }) }}" class="editar btn btnaction btn_pencil" title="Editar"></a>
                    {% endif %}
                    {% if app.user.access(app.session.get('unidneg_id'),'compras_factura_cancel')and entity.estado =='PENDIENTE'  %}
                    <a href="javascript:void(0);" url="{{ path('compras_factura_cancel', { 'id': entity.id }) }}" title="Cancelar"
                       class="cancelFactura btn btnaction btn_trash"></a>
                    {% endif %}
                </td>
            </tr>
           {% endfor %}
        </tbody>
    </table>     
</div>
 {% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript">
jQuery(document).ready(function($){
    $('#selectProveedor').change(function(){ 
        $('#searchform').submit();
    }); 
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
    var oTable = $('#dyntable2').dataTable();
    oTable.fnSort( [ [1,'desc'],[0,'desc'] ] );
    
   $(document).on('click','.cancelFactura', function(){
       var item = $(this);
       var estado = item.parent().siblings('.estado');       
       if(estado.html()=='PENDIENTE'){
        if(confirm('Confirma la cancelación de la factura?')){
            var item = $(this);
            $.ajax({
                url: item.attr('url'),
                type: 'GET',
                success: function(data) {
                    if(data=='OK'){  estado.html('CANCELADO'); checkButtons(estado); }
                },
                     error: function(e) { alert('Imposible realizar esta operación');} 
            });
        }
      }
   });
   
   $('#printform').on('submit',function(){
        $('#proveedorid').val($('#selectProveedor').val());
        $('#fdesde').val($('#desde').val());
        $('#fhasta').val($('#hasta').val());
        $('#searchterm').val( $('#dyntable2_filter input').val() );
        var datos = [];
        oTable.api().rows( { search:'applied' } ).data().each(function(value, index) {  
            var i = value[1].indexOf('</span>');
            if( i >-1 ){
                var fecha = value[1].substr(i+7);
                value[1]=fecha;
            }
            value.splice(6);
            datos[index] = value;
        }); 
        $('#datalist').val(JSON.stringify(datos));
    });    
});
</script>        
{% endblock %}