<pdf>
    <dynamic-page page-size="A4" margin-left="70px" margin-right="40px" margin-top="20px" >
        <placeholders>
            <header>
                <div height="60px" width="100%" >
                    <table>
                        <tr>
                            <td border.type="none" vertical-align="middle">
                                <h3>{{app.session.get('labels')['label1']}}.{{app.session.get('labels')['label2']}}  <span font-size="11px"> Unidad de Negocio: {{ app.session.get('unidneg_nombre')  }} </span></h3>
                            </td>
                        </tr>
                    </table>
                    <div border.color="#F5C98F" height="2px" ></div>
                    <div height="5px"></div>
                    <div float="right" font-size="7px"> Impreso: {{'now'|date('d-m-Y H:i')}} {{app.user.username|upper}} </div>
                </div>
            </header>
            <footer>
                <div height="30px" width="100%" text-align="right">
                    <page-number />
                </div>
            </footer>
        </placeholders>
        <h2 text-align="center"> Compras a Proveedores - Facturas</h2>
        <h4><strong>Proveedor:</strong> {{ filtro[0] }}  </h4>
        {% if filtro[1] or filtro[2] %}
        <h4><strong>Período:</strong> {{ filtro[1] }} al {{ filtro[2] }} </h4>
        {% endif %}
        <div height="10px"></div>
        {% if search %}
            <h4> Término de Búsqueda: "{{search}}" </h4>
            <div height="10px"></div>
        {%endif%}
        <table font-size="9px">
            <tr>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="1 cm"><strong>#</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center"  width="2.5 cm"><strong>N° Comprobante</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm" ><strong>Fecha</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center"><strong>Proveedor</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm"><strong>Total</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm"><strong>Saldo</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm"><strong>Estado</strong></td>
            </tr>
            {% set total,saldo = 0,0%}
            {% if items|length>0   %}
                {% for item in items %}
                    {% if item[5]!='CANCELADO'%}
                        {% set tot = item[3]|replace({',': ''})%}
                        {% set total,saldo = total+item[3]|replace({',': ''}), saldo+item[4]|replace({',': ''})%}
                    {% endif %}
                    <tr>
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="10px">{{loop.index}}</td>
                        <td height="20px" vertical-align="middle" padding-left="5px">{{item[0]}}</td>
                        <td height="20px" vertical-align="middle" padding-left="5px">{{item[1]}}</td>
                        <td height="20px" vertical-align="middle" padding-left="5px">{{item[2]}}</td>
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="10px" {% if item[5]=='CANCELADO' %}text-decoration="line-through"{%endif%} >{{item[3]}}</td>
                        <td height="20px" vertical-align="middle" text-align="right" padding-right="10px" {% if item[5]=='CANCELADO' %}text-decoration="line-through"{%endif%}>{{item[4]}}</td>
                        <td height="20px" vertical-align="middle" padding-left="5px">{{item[5]}}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7" height="30px" vertical-align="middle" padding-left="10px">
                        <strong>No hay facturas coincidentes con el criterio de búsqueda</strong></td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="4" border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" padding-right="10px" text-align="right">
                    <strong>Total de Facturas: {{items|length}}</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" padding-right="10px" text-align="right">
                    <strong>{{total|number_format(2,'.',',')}}</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" padding-right="10px" text-align="right">
                    <strong>{{saldo|number_format(2,'.',',')}}</strong></td>
                <td border.color="black" background.color="#EEEEEE" height="20px" vertical-align="middle" padding-right="10px"></td>
            </tr>
        </table>
    </dynamic-page>
</pdf>