{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Facturas a Proveedor</h1>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >Factura Nº: {{ entity.tipoFactura~' '~entity.nuevoNroComprobante}}</h1>
<div class="divEdicion">
    <form action="#" method="post" class="stdform">
        <fieldset >
            <div class="two_fields">
                <div><label for="nroFactura">Nº Factura:</label>
                    <input type="text" value="{{entity.tipoFactura}}" disabled="disabled" style="width:12px">
                    <input type="text" value="{{entity.nuevoNroComprobante}}" disabled="disabled" class="smallinput">
                </div>
                <div><label for="nroPedido">Fecha Factura:</label>
                    <input type="text" value="{{entity.fechaFactura|date('d/m/Y')}}" disabled="disabled" class="width100">
                </div>
            </div> 
            <div class="two_fields">
                <div><label for="nroPedido">Proveedor:</label>
                    <input type="text" value="{{entity.proveedor}}" disabled="disabled" class="smallinput">
                </div>
                <div>
                    <label for="estado" >Estado:</label>
                    <input type="text" value="{{entity.estado}}" disabled="disabled" class="width100">
                </div> 
                <div style="display:none"><label for="nroFactura">Nº Comprobante:</label>
                    <input type="text" value="{{entity.nroComprobante}}" disabled="disabled" class="width100">
                </div>
            </div> 
            <div>
                <label for="estado" >Descripción:</label>
                <input type="text" value="{{entity.descripcion}}" disabled="disabled" class="smallinput">
                
                <strong style="padding-left:10px" > Saldo: {{ entity.saldo|number_format(3,'.',',') }} </strong>
              
            </div>         
            <div style="padding-top: 20px; margin-left: 50px; width: 80%;" >
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable noaction">
                    <thead>
                        <tr>
                            <th style="width:3%;">#</th>
                            <th>Producto</th>
                            <th style="width:15%;">Cantidad</th>
                            <th style="width:10%;">Precio Unit.</th>
                            <th colspan='2' style="width:10%;">SubTotal</th>                                        
                        </tr>
                    </thead>
                    <tbody>
                    {% for det in entity.detalles %}
                       <tr>
                            <td>{{loop.index}}</td>
                            <td>{{det.producto.codigoNombre}}</td>
                            <td class="alignright">{{det.cantidadTxt}}</td>
                            <td class="alignright">{{det.precio|number_format(3,'.',',')}}</td>
                            <td class="alignright">{{ det.subTotal|number_format(3,'.',',') }}</td>  
                            <td><a href="javascript:void(0)" class="linkcc {% if det.centroCostoDetalle|length==0  %}empty{% endif %}" title="Centro Costo" style='float:right'><h5 style="display:inline;">CC</h5></a></td>
                        </tr>
                        {% if det.centroCostoDetalle|length>0  %}
                        <tr class='ccdiv' style='display:none'>
                            <td colspan='5'>
                                <table class="stdtable" cellspacing="0" cellpadding="0" border="0" style='width: 60%;margin:0 auto'>
                                    <thead>
                                        <tr>
                                            <th>Centro de Costo</th>
                                            <th style="width:30%">Monto</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for cc in det.centroCostoDetalle %}                             
                                            <tr class="ccitem" style="height:30px;background-color: white" divdata="item_{{loop.index-1}}">
                                                <td> {{ cc.centroCosto }} </td>
                                                <td> {{ cc.costo }} </td>
                                            </tr>
                                        {% endfor %}           
                                    </tbody>
                                </table>                                                                
                            </td>                                                                                                               
                        </tr>
                        {% endif %} 
                        
                    {% endfor %}           
                    </tbody>                    
                    <tfoot>
                        <tr>
                            <th class="head1" colspan="4" style="text-align:right"></th>
                            <th colspan='2' class="head1" style="text-align:right;padding-right: 10px;">{{entity.subTotal|number_format(3,'.',',')}}</th>
                        </tr>
                    </tfoot>
                </table> 
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable noaction">   
                    <thead>
                        <tr>
                            <th>Subtotal Neto </th>                                                       
                            <th>Imp. Interno </th>                                                       
                            <th>IVA </th>                                                       
                            <th>Percep. IVA </th>                                                       
                            <th>Percep. DGR </th>                                                       
                            <th>Percep. Muni </th>                                                       
                            <th>Total Bonif. </th>                                                       
                            <th>No Grav.</th> 
                            <th>TOTAL</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ entity.subtotalNeto|number_format(3,'.',',') }}</td>   
                            <td>{{ entity.impuestoInterno|number_format(3,'.',',') }}</td>   
                            <td>{{ entity.iva|number_format(3,'.',',') }}</td>   
                            <td>{{ entity.percepcionIva|number_format(3,'.',',') }}</td>   
                            <td>{{ entity.percepcionDgr|number_format(3,'.',',') }}</td>   
                            <td>{{ entity.percepcionMunicipal|number_format(3,'.',',') }}</td>   
                            <td>{{ entity.totalBonificado|number_format(3,'.',',') }}</td>   
                            <td>{{ entity.tmc|number_format(3,'.',',') }}</td>   
                            <td class="red">{{ entity.total|number_format(3,'.',',') }}</td>   
                        </tr> 
                    </tbody>
                </table>                             
            </div>                           
            <br clear="all" /> 
            {% if pagos|length > 0 %}
            <div style="padding-bottom: 20px; margin: 0 auto; width: 60%;">
                 <h4 style="margin-bottom: 5px;">Pagos y Notas de Crédito </h4>
                    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" >
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Nº Comprobante</th>                                
                                <th class="head0">Monto</th>                                
                            </tr>
                        </thead>
                        <tbody >
                            {% set total = 0 %}
                        {% for pago in pagos %}
                            {% set total = total + pago.monto %}
                            <tr>
                                <td>{{ pago.tipo }}</td>
                                <td>{{pago.fecha|date('d/m/Y')}}</td>
                                <td>{{pago.comprobante}}
                                    {% if(pago.tipo=='PAGO') %}
                                <a target='_blank' href="{{path('compras_proveedor_pagos_show', { 'id': pago.id }) }}" style="float:right" ><img src="{{asset('assets/images/icons/folder.png')}}"></a>
                                {% else %}
                                <a target='_blank' href="{{path('compras_notadebcred_show', { 'id': pago.id }) }}" style="float:right" ><img src="{{asset('assets/images/icons/folder.png')}}"></a>
                                {% endif %}
                                </td>
                                <td>{{pago.monto|number_format(3,'.',',')}} </td>                                                                                       
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3" > Total</th>
                                <th> {{ total|number_format(3,'.',',') }} {% if (entity.total-total)>0 %} <span style="color:red;float:right"> [{{ (entity.total-total)|number_format(3,'.',',') }} ] </span> {% endif %}</th>
                            </tr>
                        </tfoot>
                    </table>                
            </div> 
           {% endif %}
            <div class="actionbutton">
                <a class="cancelar" type="button" href="#" onclick="history.back();">Volver</a>
            </div>
        </fieldset>
    </form>
</div>    
</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">    
    jQuery(document).ready(function($) { 
        $('.linkcc').on('click',function(){
            var div = $(this).closest('tr').next('.ccdiv')
            if( div.is(':visible') ){
                div.hide();
            }else{
                div.show();
            }
        });
        
    });
</script>    
{% endblock %}    