{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Apertura / Cierre de Caja</h1>
<span class="pagedesc">Listado de Aperturas y Cierres de Cajas</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
{# fomulario para filtros #}
    <form id="searchform" action="{{ path('ventas_apertura') }}" method="get" style="margin-bottom:10px">
        <div style="display:none; margin-bottom: 10px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Caja:</strong></label>
            <select class="uniformselect" id="selectCaja" name="cajaId">
            {% for cj in cajas %}
                <option value="{{cj.id}}" {% if cj.id==cajaId %} selected="selected" {% endif %}> {{cj.nombre}}</option>
            {% endfor %}
            </select>
        </div>
        <div style="display: inline-block; margin-right: 30px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Fecha: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" />
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" />
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>
<!-- Botones para cierres X y Z -->
        <div style="display: inline-block;float:right;" >
            <label><strong>TICKEADORA FISCAL: </strong></label>
            <button type="button" class="stdbtn btn_orange" onclick="cierreX()" style="padding:7px 20px">
                Cierre X <img class="loader_cmCierreX hidden" src={{ asset('assets/images/loaders/loader8.gif') }}>
            </button>
            <button type="button" class="stdbtn btn_red" onclick="cierreZ()" style="padding:7px 20px">
                Cierre Z <img class="loader_cmCierreZ hidden" src={{ asset('assets/images/loaders/loader8.gif') }}>
            </button>
            <button type="button" class="stdbtn btn_grey" onclick="test()" style="display:none;padding:7px 20px">
                Test <img class="loader_cmObtenerDatosDeInicializacion hidden" src={{ asset('assets/images/loaders/loader8.gif') }}>
            </button>
            <button type="button" class="stdbtn btn_grey" onclick="reporteSemanal()" style="padding:7px 20px">
                Reporte Semanal <img class="loader_cmObtenerPrimerBloqueReporteElectronico hidden" src={{ asset('assets/images/loaders/loader8.gif') }}>
            </button>
        </div>
    </form>

{# Banner con estado de la caja #}
{% if caja %}
    {% if caja.abierta %}
        {% set msg, txt = 'msgsuccess', caja.nombre ~ ' ABIERTA' %}
        {% set btn = '<button title="Realizar el Cierre de Caja" class="js-cierre stdbtn btn_black floatright" > Cierre de Caja </button>'  %}
    {% else %}
        {% set msg, txt = 'msgerror', caja.nombre ~ ' CERRADA' %}
        {% set btn = '<button title="Realizar la Apertura de Caja" class="js-apertura stdbtn btn_black floatright" > Apertura de Caja </button>'  %}
    {% endif %}
    <div class="notibar {{msg}}">
        <p>
            <strong> {{txt}} </strong> {{ btn|raw }}
        </p>
    </div>
{% endif %}

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="ccaja_apertura_table">
        <thead>
            <tr>
                <th class="nosort">#</th>
                <th class="nosort">Apertura</th>
                <th class="nosort hidden">Monto</th>
                <th class="nosort">Usuario</th>
                <th class="nosort" style="background:#868686;padding:1px;"></th>
                <th class="nosort">Cierre</th>
                <th class="nosort">Monto</th>
                <th class="nosort">Usuario</th>
                <th class="hidden nosort">DIFERENCIA</th>
                <th class="nosort" style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            {% for apertura in entities|reverse %}
                {% if loop.index<40 %}
                    <tr>
                        <td>{{ apertura.id }}</td>
                        <td>{{ apertura.fechaApertura|date('d-m-Y H:i') }}</td>
                        <td class="hidden">{{ apertura.montoApertura|number_format(2,',','.') }}</td>
                        <td>{{ apertura.createdBy.username|upper }}</td>
                        <td style="background:#868686;padding:1px;"></td>
                        <td>{% if apertura.fechaCierre %}
                                    {{apertura.fechaCierre|date('d-m-Y H:i')}}
                            {% elseif app.user.isAdmin(app.session.get('unidneg_id')) %}
                                <a target="_blank" title="Movimientos" href="{{ path('ventas_apertura_arqueo',{'id':apertura.id}) }}" class="hidden arqueo-caja anchorbutton"> Movimientos </a>
                            {% endif %}
                        </td>
                        <td>{% if apertura.fechaCierre  %}{{apertura.montoCierre|number_format(2,',','.')}}{% endif %}</td>
                        <td>{% if apertura.fechaCierre %}{{ apertura.updatedBy.username }}{% endif %}</td>
                        <td class="hidden {% if apertura.diferencia<0 %} rojo {% endif %}" >{% if apertura.fechaCierre %}{{apertura.diferencia|number_format(2,',','.')}}{% endif %}</td>
                        <td>
{#                            {% if apertura.fechaCierre %}#}
                                {% if  apertura.movimientos|length == 0  %}
                                    <span style="font-size:8px"> SIN MOVIMIENTOS </span>
                                {% else %}
                                    <a target="_blank" href="{{ path('ventas_apertura_arqueo',{'id':apertura.id}) }}" title="Ver informe de Cierre" class="btn btnaction btn_folder"> <i class="icon-file"></i></a>
                                {% endif %}
{#                            {% endif %}#}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/custom/ifu.js') }}"></script>
<script type="text/javascript">

jQuery(document).ready(function($){
    $('#selectCaja').change(function(){
        $('#searchform').submit();
    });
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});

    $('.js-apertura').on('click', function(){
        //caja_id = $('#selectCaja').val();  id de caja
        url = '{{ path("ventas_apertura_new")}}'; // url del partial a cargar en modal
        aperturaCajaVentas(url)
    });
    $('.js-cierre').on('click', function(){
        //caja_id = $('#selectCaja').val();  id de caja
        url = '{{ path("ventas_cierre_new")}}'; // url del partial a cargar en modal
        cierreCajaVentas(url)
    });
});
// cierres de tickeadora fiscal
function cierreX(){
    const comando = 'cmCierreX'
    setFacturando(true,comando)
    setTimeout(function(){
        const driver = getDriver()
        try {
            driver.iniciarTrabajo();
            driver.cierreX();
            driver.finalizarTrabajo();
            registrarMovimientoIfu(comando,driver.response)
        } catch (e){
            registrarMovimientoIfu(comando,'','',e)
            alert('ERROR: '+e);
            setFacturando(false,comando)
        }
    }, 1000);
}

function cierreZ(){
    const comando = 'cmCierreZ'
    setFacturando(true,comando)
    setTimeout(function(){
        const driver = getDriver()
        try {
            driver.iniciarTrabajo();
            driver.cierreZ();
            driver.finalizarTrabajo();
            registrarMovimientoIfu(comando,driver.response)
        } catch (e){
            registrarMovimientoIfu(comando,'','',e)
            alert('ERROR: '+e);
            setFacturando(false,comando)
        }
    }, 1000);
}

function test(){
    const comando = 'cmObtenerDatosDeInicializacion'
    setFacturando(true,comando)
    setTimeout(function(){
{#        const driver = getDriver()#}
        try {
            {#driver.iniciarTrabajo();
            driver.obtenerDatosDeInicializacion();
            driver.finalizarTrabajo();
            const result = driver.response#}
            registrarMovimientoIfu(comando,'')
            
        } catch (e){
            alert(e);
            setFacturando(false,comando)
        }
    }, 1000);
}

function reporteSemanal(){
    const comando = 'cmObtenerPrimerBloqueReporteElectronico'
    setFacturando(true,comando)
    const url = "{{ path('get_datos_reporte_semanal') }}" 
    msg = 'Ha ocurrido un error obteniendo los datos para el reporte'
    jQuery.getJSON( url , {'id': "{{caja.id}}"}).done(function(data){
        if(data.desde  && data.hasta){
            const texto = "Confirme el periodo del reporte semanal: " + data.desde + " al " + data.hasta + "\no\n Ingrese una fecha inicial distinta de ser necesario ('ddmmaa') \n"
            let desde = prompt( texto, data.desde )
            if(desde){
                data.desde = desde
                console.log(data)
            
                const driver = getDriver()
                try {
                    driver.iniciarTrabajo();
                    const trfecha = 0
                    const resp = driver.obtenerPrimerBloqueReporteElectronico(desde,data.hasta,data.file,trfecha)
                    if( resp ){
                        do{
                            resp = driver.obtenerSiguienteBloqueReporteElectronico()
                        }while(resp)
                    }
                    driver.finalizarTrabajo();
                    const result = driver.response ? driver.response : 'OK'
                    registrarMovimientoIfu(comando,result,data)
                } catch (e){
                    registrarMovimientoIfu(comando,'',data,e)
                    alert('ERROR: '+e);
                    setFacturando(false,comando)
                }
            }
        }else{
            alert(msg)
            setFacturando(false,comando)
        }
    }).fail(function(data){
        alert(msg)
      }).always(function(){
          setFacturando(false)
      })
}

function getDriver(){
  modelo = '{{modelo_tickeadora}}'
  puerto = '{{puerto_tickeadora}}'
  baudios = '{{baudios_tickeadora}}'
  host = '{{host_tickeadora}}'
  // verificar si falta configuracion
  if( !modelo || !puerto || !baudios || !host ){
    alert( ' No se pueden acceder a la impresora en este momento. Faltan configuraciones!');
    setFacturando(false)
    return false
  }
  const driver = new Driver();
  driver.host = host
  driver.modelo = modelo;
  driver.puerto = puerto;
  driver.baudios = baudios;
  return driver
}

function setFacturando(on,action=''){
  if(on){
     jQuery('.loader_'+action).removeClass('hidden')
  }else{
     jQuery('[class^="loader_"]').addClass('hidden');
  }
}

function registrarMovimientoIfu(comando, result, fechas=null, error=null){
   url = "{{ path('ifu_registrar_movimiento') }}" 
   data = {caja:"{{caja.id}}", comando, result, fechas, error } 
   jQuery.post(url, data, function(data){
    if(data.res === 'OK'){
        switch (comando) {
            case 'cmCierreZ':
            case 'cmCierreX':
              const cierre = result.cierreZTotales.nroCierre
              message = 'Cierre finalizado! Numero: '+ cierre
              break;
            case 'cmObtenerDatosDeInicializacion':
              const nroSerie = result.nroSerie
              message = 'Datos obtenidos... Nro Serie: '+ nroSerie
              break;
            case 'cmObtenerPrimerBloqueReporteElectronico':
              message = 'Reporte Semanal'
              break;
            default:
              message = null
          }
        if(!error) alert(message)
    }else{
      alert(data.msg)
    }
    setFacturando(false)
  },'json').fail(function(data){
    alert('Ha ocurrido un error')
  }).always(function(){
      setFacturando(false)
  })
}

</script>
{% endblock %}