<pdf>
    <dynamic-page page-size="A4" margin-left="20px" margin-right="10px" margin-top="20px">
        <placeholders>
            <header>
                <div height="150px" width="100%" >
                    <table font-size="10px" padding-bottom="20px">
                        <tr>
                            <td border.type="none">
                                <div width="100%">
                                    <img ignore-error="true" src="{{logo}}" width="200px" />
                                </div>
                            </td>
                            <td border.type="none" vertical-align="middle" text-align="right">
                                PÁGINA <page-number />
                            </td>
                        </tr>
                    </table>
                    <table font-size="14px" padding-bottom="25px">
                        <tr>
                            <td border.type="none" vertical-align="bottom" text-align="left" padding-left="10px" width="240px">
                                Fecha: {{ fechaApertura|date('d/m/Y') }}
                            </td>
                            <td font-type="UniversElse" vertical-align="middle" text-align="center" padding="10px" width="240px">
                                Unificado de Cajas
                            </td>
                        </tr>
                    </table>

                    <table font-size="8px">
                        <tr margin-bottom="5px">
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2.5 cm">
                                Comprobante
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="1.2 cm">
                                Fecha
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center">
                                Cliente
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="0.6 cm">
                                Mon
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="0.8 cm">
                                Cotiz.
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                                EFECTIVO
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                                CHEQUE
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2 cm">
                                TARJETA
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2.2 cm">
                                TRANSFERENCIA
                            </td>
                            <td border.color="#555555" background.color="#EEEEEE" height="20px" vertical-align="middle" text-align="center" width="2.2 cm">
                                CTA.CTE.
                            </td>
                        </tr>
                    </table>
                </div>
            </header>
        </placeholders>

    {% set tot_efectivo, tot_cheque, tot_tarjeta, tot_ctacte, tot_transferencia, tot_retencion, tot_vuelto = 0,0,0,0,0,0,0 %}
    {% set tiposFacturacion = [ {'tag': 'CRE', 'title': 'CRÉDITOS'},
                                {'tag': 'DEB', 'title': 'DÉBITOS'},
                                {'tag': 'FAC, FCE', 'title': 'FACTURAS'},
                                {'tag': 'TIC', 'title': 'TICKETS'}] %}

    <table font-size="8px">
        {% for tipoComp in tiposFacturacion %}
          {% set cnt, efectivo, cheque, tarjeta, ctacte, transferencia, retencion, vuelto = 0,0,0,0,0,0,0,0 %}
          {% for caja in cajas %}
            {% set cntCaja = 0 %}
            <tr><td colspan="10" border.type="bottom" border.color="#555555" padding="5px">{{ caja }}</td></tr>
            {% for item in arqueo if item.caja == caja and item.tipoComprobante in tipoComp['tag'] %}
                {% include "VentasBundle:CajaApertura:tr-comprobante-arqueo.pdf.twig" with {'item':item} %}
                {% set cnt, efectivo, cheque, tarjeta, ctacte, transferencia, vuelto =
                       cnt+1 , efectivo + item.EFECTIVO, cheque + item.CHEQUE, tarjeta + item.TARJETA, ctacte + item.CTACTE, transferencia + item.TRANSFERENCIA, vuelto + item.vuelto %}
                {% set cntCaja = cntCaja+1 %}
            {% endfor %}
            {% if cntCaja == 0 %}
              <tr><td colspan="10" border.type="none" padding="5px">Sin Movimientos</td></tr>
            {% endif %}
          {% endfor %}
          {% include "VentasBundle:CajaApertura:tr-subtotal-arqueo.pdf.twig" with {'tipo':tipoComp['title']} %}
          {% set tot_efectivo,tot_cheque = (tot_efectivo + efectivo), (tot_cheque + cheque) %}
          {% set tot_tarjeta,tot_ctacte = (tot_tarjeta + tarjeta), (tot_ctacte + ctacte) %}
          {% set tot_transferencia, tot_vuelto = (tot_transferencia + transferencia),  tot_vuelto + vuelto %}
        {% endfor %}

        <tr><td colspan="10" border.style="dotted" border.type="bottom" padding="10px"></td></tr>

        <tr font-style="italic" margin-top="3px" margin-bottom="10px" font-size="9px">
            <td border.type="none" height="15px"  vertical-align="middle" colspan="5">Subtotal de Facturacion</td>
            <td border.type="none" vertical-align="middle" text-align="right" padding-right="5px">
                {{ tot_efectivo|number_format(2,',','.') }}
            </td>
            <td border.type="none" vertical-align="middle" text-align="right" padding-right="5px">
                {{ tot_cheque|number_format(2,',','.') }}
            </td>
            <td border.type="none" vertical-align="middle" text-align="right" padding-right="5px">
                {{ tot_tarjeta|number_format(2,',','.') }}
            </td>
            <td border.type="none" vertical-align="middle" text-align="right" padding-right="5px">
                {{ tot_transferencia|number_format(2,',','.') }}
            </td>
            <td border.type="none" vertical-align="middle" text-align="right" padding-right="5px">
                {{ tot_ctacte|number_format(2,',','.') }}
            </td>
        </tr>
<!-- total de facturacion -->
        <tr font-size="9px">
            <td border.color="#999999" colspan="5" padding="10px"><b>TOTAL DE FACTURACION EN CAJA</b></td>
            <td border.color="#999999" colspan="3" padding="10px" text-align="center">
                {{ (tot_efectivo + tot_tarjeta + tot_cheque + tot_transferencia )|number_format(2,',','.') }}
            </td>
            <td border.color="#999999" padding="10px" text-align="center"><b>CTA. CTE.</b></td>
            <td border.color="#999999" padding="10px" text-align="center" font-size="8px">
                {{ tot_ctacte|number_format(2,',','.') }}
            </td>
        </tr>

        <tr><td colspan="10" border.style="dotted" border.type="bottom" padding="20px"></td></tr>

    {% set tiposPagos = [ {'tag': 'PAG', 'title': 'O. PAGO'},
                          {'tag': 'REC', 'title': 'RECIBOS'}] %}

    {% for tipoComp in tiposPagos %}
        {% set cnt, efectivo, cheque, chequerec, tarjeta, ctacte, transferencia, retencion, vuelto = 0,0,0,0,0,0,0,0,0 %}
        {% for caja in cajas %}
          {% set cntCaja = 0 %}
          <tr><td colspan="10" border.type="bottom" border.color="#555555" padding="5px">{{ caja }}</td></tr>

          {% for item in arqueo if item.caja == caja and item.tipoComprobante == tipoComp['tag'] %}
            {% include "VentasBundle:CajaApertura:tr-comprobante-arqueo.pdf.twig" with {'item':item} %}
            {% set cnt, efectivo, tarjeta, ctacte, transferencia, vuelto =
                   cnt+1 , efectivo + item.EFECTIVO, tarjeta + item.TARJETA, ctacte + item.CTACTE, transferencia + item.TRANSFERENCIA, vuelto + item.vuelto %}

            {% if tipoComp['tag'] == 'REC' %}
                {% set chequerec = chequerec + item.CHEQUE %}
            {% endif %}
            {% set cheque = cheque + item.CHEQUE %}
            {% set cntCaja = cntCaja+1 %}
          {% endfor %}
          {% if cntCaja == 0 %}
            <tr><td colspan="10" border.type="none" padding="5px">Sin Movimientos</td></tr>
          {% endif %}
        {% endfor %}

        {% include "VentasBundle:CajaApertura:tr-subtotal-arqueo.pdf.twig" with {'tipo':tipoComp['title']} %}

        {% set tot_efectivo,tot_cheque = (tot_efectivo + efectivo), (tot_cheque + chequerec) %}
        {% set tot_tarjeta,tot_ctacte = (tot_tarjeta + tarjeta), (tot_ctacte + ctacte) %}
        {% set tot_transferencia, tot_vuelto = (tot_transferencia + transferencia),  tot_vuelto + vuelto %}

    {% endfor %}

<!-- TOTALES -->
        <tr font-size="9px">
            <td border.color="#999999" colspan="5" padding="10px"><b>TOTALES DE LA CAJA</b></td>
            <td border.color="#999999" padding="10px" text-align="right" padding-right="5px">
                {{ tot_efectivo|number_format(2,',','.') }}
            </td>
            <td border.color="#999999" colspan="3" padding="10px" text-align="center"><b>TOTAL CTA. CTE.</b></td>
            <td border.color="#999999" padding="10px" text-align="right" padding-right="5px">
                {{ tot_ctacte|number_format(2,',','.') }}
            </td>
        </tr>
        <tr>
            <td colspan="5" text-align="right" border.type="none" height="20px" vertical-align="middle" padding-right="5px"> Cambio del día </td>
            <td text-align="right" border.type="none" height="20px" vertical-align="middle" padding-right="5px"> {{ tot_vuelto|number_format(2,',','.') }} </td>
        </tr>

        <tr font-size="9px">
            <td border.color="#555555" height="20px" colspan="5" padding="10px" vertical-align="middle"><b>TOTAL CAJA CONTADO</b></td>
            <td border.color="#555555" height="20px" padding="10px" text-align="right" padding-right="5px" vertical-align="middle">
                <!-- total efectivo - cambio del dia -->
                {{ (tot_efectivo + tot_vuelto + 0)|number_format(2,',','.') }}
            </td>
            <td border.color="#555555" height="20px" padding="10px" text-align="right" padding-right="5px" vertical-align="middle">
                {{ tot_cheque|number_format(2,',','.') }}
            </td>
            <td border.color="#555555" height="20px" padding="10px" text-align="right" padding-right="5px" vertical-align="middle">
                {{ tot_tarjeta|number_format(2,',','.') }}
            </td>
            <td height="20px" border.color="#555555" padding="10px" text-align="right" vertical-align="middle">
                {{ tot_transferencia|number_format(2,',','.') }}
            </td>
            <td height="20px" border.color="#555555" padding="10px" text-align="right" vertical-align="middle">
                <b>{{ (tot_efectivo + tot_cheque + tot_tarjeta + tot_transferencia)|number_format(2,',','.') }}</b>
            </td>
        </tr>
        <tr font-size="6px">
            <td border.type="none" height="3px" colspan="5" padding="3px" vertical-align="middle"></td>
            <td border.color="#555555" height="3px" padding="3px" text-align="center" padding-right="5px" vertical-align="middle">
                EFECTIVO
            </td>
            <td border.color="#555555" height="3px" padding="3px" text-align="center" padding-right="5px" vertical-align="middle">
                CHEQUE
            </td>
            <td border.color="#555555" height="3px" padding="3px" text-align="center" padding-right="5px" vertical-align="middle">
                TARJETA
            </td>
            <td height="3px" border.color="#555555" padding="3px" text-align="center" vertical-align="middle">
                TRANSFERENCIA
            </td>
            <td height="3px" border.color="#555555" padding="3px" text-align="center" vertical-align="middle">
                <b>TOTAL</b>
            </td>
        </tr>

    </table>

    </dynamic-page>
<!-- Analitico -->
    {% include "VentasBundle:CajaApertura:informe-analitico-unificado.pdf.twig" %}

</pdf>