{% block contentwrapper %}

<style type="text/css">
    .pagetitle.caja{
        padding-bottom:10px;
    }
    .pagetitle.fecha{
        font-size:20px;
    }
    #fieldmonto{
        padding:20px 0 10px 0px;
        font-size:16px;
    }
    #fieldmonto input{
        font-size:16px;
        font-weight:bold;
    }
</style>
<div>
    <div class="pageheader notab">
        <h1 class="pagetitle caja aligncenter hidden">
            {{entity.caja.nombre}}
        </h1>
        <h1 class="pagetitle fecha aligncenter">
            {{entity.fechaApertura|date('d/m/Y')}}
            <span class="js-hora"> {{entity.fechaApertura|date('H:i:s')}}</span>
        </h1>
    </div>

    {{ form_start(form, {'attr': {'class': 'stdform','id':'ventasbundle_apertura'}}) }}

    <fieldset id="fieldmonto">
        {{ form_row(form.montoApertura, { 'attr': {'class' : 'mininput hidden'} })}}
         <input type="hidden" value="" name="ir-a-cobro" id="ir_a_cobro" />
    </fieldset>

    <p class="actionBar aligncenter">
        <button class="guardar" type="submit" >Registrar Apertura</button>
    </p>

    <div name="rest" class="hiddenformrest"> {{ form_rest(form) }} </div>
    {{ form_end(form) }}

</div>

{% endblock %}