{% extends "AppBundle::layout.html.twig" %}
{% block pageheader %}
<div class="pageheader notab">
        <h1 class="pagetitle">Informes de Caja</h1>
        <span class="pagedesc">Listado de Unificado de Cajas</span>
</div><!--pageheader-->
{% endblock %}
{% block contentwrapper %}
    {% include "AppBundle::notificacion.html.twig" %}

<div id="contentwrapper" class="contentwrapper">
{# fomulario para filtros #}
    <form id="searchform" action="{{ path('ventas_apertura_unificado') }}" method="get" style="margin-bottom:10px">
        <div style="display: inline-block; margin-right: 30px;">
            &nbsp;&nbsp;&nbsp;
            <label><strong>Fecha: </strong></label>
            <input type="text" class="width100 datepicker" title="Fecha desde" value="{{desde}}" name="desde" id="desde" />
            <input type="text" class="width100 datepicker" title="Fecha hasta" value="{{hasta}}" name="hasta" id="hasta" />
            <a href="javascript:void(0)" class="editar btn btnaction btn_search" onClick="jQuery('#searchform').submit();" title="Buscar"></a>
        </div>
    </form>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="ccaja_apertura_table">
        <thead>
            <tr>
                <th class="nosort">#</th>
                <th class="nosort">CAJA</th>
                <th class="nosort">Apertura</th>
                <th class="nosort hidden">Monto</th>
                <th class="nosort">Usuario</th>
                <th class="nosort" style="background:#868686;padding:1px;"></th>
                <th class="nosort">Cierre</th>
                <th class="nosort">Monto</th>
                <th class="nosort">Usuario</th>
                <th class="hidden nosort">DIFERENCIA</th>
                <th class="nosort" style="width:10%"></th>
            </tr>
        </thead>
        <tbody>
            {% for dia in dias %}
                <tr style="height: 40px">
                    <th colspan="8" style="text-align: left; padding-left: 20px; border-left: 1px solid #ddd;">
                        {{ dia|date('d-m-Y') }}
                    </th>
                    <th style="border-right: 1px solid #ddd">
                         <a target="_blank" href="{{ path('ventas_arqueo_unificado',{'fecha':dia}) }}" title="Ver Reporte Unificado" class="stdbtn btn_grey">Unificado</a>
                    </th>
                </tr>
            {% for apertura in entities if apertura.fechaApertura|date('d-m-Y') == dia|date('d-m-Y') %}
                {% if loop.index<40 %}
                    <tr>
                        <td>{{ apertura.id }}</td>
                        <td>{{ apertura.caja.nombre }}</td>
                        <td>{{ apertura.fechaApertura|date('d-m-Y H:i') }}</td>
                        <td class="hidden">{{ apertura.montoApertura|number_format(2,',','.') }}</td>
                        <td>{{ apertura.createdBy.username|upper }}</td>
                        <td style="background:#868686;padding:1px;"></td>
                        <td>{% if apertura.fechaCierre %}
                                    {{apertura.fechaCierre|date('d-m-Y H:i')}}
                            {% elseif app.user.isAdmin(app.session.get('unidneg_id')) %}
                                <a target="_blank" title="Movimientos" href="{{ path('ventas_apertura_arqueo',{'id':apertura.id}) }}" class="hidden arqueo-caja anchorbutton"> Movimientos </a>
                            {% endif %}
                        </td>
                        <td>{% if apertura.fechaCierre  %}{{apertura.montoCierre|number_format(2,',','.')}}{% endif %}</td>
                        <td>{% if apertura.fechaCierre %}{{ apertura.updatedBy.username }}{% endif %}</td>
                        <td class="hidden {% if apertura.diferencia<0 %} rojo {% endif %}" >{% if apertura.fechaCierre %}{{apertura.diferencia|number_format(2,',','.')}}{% endif %}</td>
                        <td style="text-align:center">
                          {% if  apertura.movimientos|length == 0  %}
                              <span style="font-size:8px"> SIN MOVIMIENTOS </span>
                          {% else %}
                              <a target="_blank" href="{{ path('ventas_apertura_arqueo',{'id':apertura.id}) }}" title="Ver informe de Cierre" class="btn btnaction btn_folder"> </a>
                          {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
           {% endfor  %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block extra_javascripts %}
{% include "AppBundle::block-list-js.html.twig" %}
<script type="text/javascript" src="{{ asset('assets/js/custom/ifu.js') }}"></script>
<script type="text/javascript">
jQuery(document).ready(function($){
    $('.datepicker').datepicker({dateFormat: 'dd-mm-yy'});
});
</script>
{% endblock %}