<tr class="item" data-id="{{item.id}}" style="height:30px;">                            
    <td class="ordTd"></td>
    <td class="prodTd">{{ item.producto.codigoNombre }}</td>
    <td class="stockTd alignright">{{ item.producto.getStockActualxDeposito(item.pedido.deposito.id)|number_format(3,'.','') }} {{ item.producto.unidadmedida.nombre }} </td>
    <td class="cantTd alignright">{{ item.cantidadItemTxt }} </td>
    <td class="totalTd alignright">{{item.cantidadTotal|number_format(3,'.','')~' '~item.producto.unidadmedida.nombre}}</td>
    <td style="text-align:center;width:20px;">
        <a class="editTd" href="javascript:void(0)" title="Editar" tabIndex="-1" 
           data-url="{{path('compras_render_item_pedido',{'id':item.id})}}" data-actionurl="{{path('compras_item_pedido_create',{'id':item.id})}}">
            <img src="{{asset('assets/images/icons/editor.png')}}" /></a>
    </td>    
    <td style="text-align:center;"><a class="delTd" href="javascript:void(0)" data-id="{{item.id}}"  title="Quitar" tabIndex="-1"><span class="minus"></span></a></td>
</tr>