{% extends "AppBundle::layout.html.twig" %}

{% block pageheader %}
<div class="pageheader notab">
    <h1 class="pagetitle">Administración de Puntos de Venta</h1>
</div><!--pageheader-->
{% endblock %}

{% block contentwrapper %}
<div id="contentwrapper" class="contentwrapper">
<h1 id="popup_title" >{{ (entity.id) ? 'Editar datos de '~entity.nombre|upper : 'Alta de Nuevo Punto de Venta' }}</h1>
{% include "AppBundle::notificacion.html.twig" %}
<div class="divEdicion">
 {{ form_start(form, {'attr': {'class': 'stdform'}}) }}
        <fieldset >
            <p>             
                {{ form_label(form.nombre, 'Nombre Corto:') }}
                {{ form_widget(form.nombre, { 'attr': {'class' : 'width100', 'maxlength':'10',  'style':'text-transform:uppercase','autofocus':'autofocus','title':'Máximo 10 caracteres sin espacios' } }) }}
                {{ form_errors(form.nombre) }}                
            </p>
<p>{{ form_row(form.descripcion,{'attr':{'class':'mediuminput'}})}}</p>
            <p>
            {{ form_label(form.activo) }}
            {{ form_widget(form.activo) }}
            {{ form_errors(form.activo) }}
             </p>
                   
            <br clear="all" /> 
            <div class="actionbutton">
                <button class="guardar" type="submit" >Guardar</button>
                <a class="cancelar" type="button" href="{{ path('sistema_puntoventa')}}">Cancelar</a>
            </div>
        </fieldset>
{{ form_end(form) }}
</div>    
</div>
{% endblock %}
{% block extra_javascripts %}
<script type="text/javascript">
jQuery(function ($) {
    $('#configbundle_puntoventa_nombre').on('keyup',function(e){
        value = $(this).val();
        $(this).val(value.replace(' ',''));
    });
});
</script>
{% endblock %}